### Imports

In [1]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

### Load all dataframes - win percentages, stadium and conference info, and attendance info

In [2]:
path = '/Users/murdock/Documents/PDF_files/'
win_perc_df = pd.read_pickle(path + 'win_perc_df.pkl')
stadiums_conf_df = pd.read_pickle(path + 'stadiums_conf_df.pkl')
attendance_df = pd.read_pickle(path + 'attendance_df.pkl')

In [3]:
college_enrollment_df = pd.read_csv('/Users/murdock/Desktop/ncaa_college_enrollment.csv', skiprows=[0, 1])

### Start working with win percentages for combining dataframes

In [4]:
win_perc_df.head()

            TEAMS  WIN_PERCENT YEARS
0         Clemson     0.642857  2009
1  Boston College     0.615385  2009
2   Florida State     0.538462  2009
3     Wake Forest     0.416667  2009
4        NC State     0.416667  2009

### Load values only from 2009-2015 (drop 2016 because enrollment data not available)

In [5]:
win_perc_df = win_perc_df[win_perc_df['YEARS'] != '2016']

In [6]:
win_perc_df.tail()

                TEAMS  WIN_PERCENT YEARS
1860  Grambling State     0.750000  2015
1861   Prairie View A     0.800000  2015
1862         Southern     0.545455  2015
1863   Texas Southern     0.300000  2015
1864    Arkansas-Pine     0.181818  2015

In [ ]:
stadiums_conf_df.head()

In [ ]:
attendance_df.head()

In [7]:
attendance_df = attendance_df[attendance_df['Year'] != '2016']

In [8]:
attendance_df[attendance_df['School'] == 'alcorn']

      School Home_Games Attendance Average  Year
846   alcorn          6     73,446  12,241  2012
1091  alcorn          5     20,649   4,130  2013
1340  alcorn          7     85,873  12,268  2014
1587  alcorn          5     61,716  12,343  2015

In [9]:
college_enrollment_df[college_enrollment_df['Institution Name'].str.contains('Mass')]

,UnitId,Institution Name,Fall 2003,Fall 2004,Fall 2005,Fall 2006,Fall 2007,Fall 2008,Fall 2009,Fall 2010,Fall 2011,Fall 2012,Fall 2013,Fall 2014,Fall 2015,Unnamed: 15
347,166513,University of Massachusetts-Lowell,11706,11089,10666,11635,11635,12471,13602,14702,15431,16294,16930,17179,18047,NaN
348,166629,University of Massachusetts-Amherst,24310,24646,25093,25873,25873,26359,27016,27569,28084,28236,28518,28635,29269,NaN
349,166638,University of Massachusetts-Boston,12394,11682,11862,13433,13433,14117,14912,15454,15741,15874,16277,16756,17030,NaN
350,166683,Massachusetts Institute of Technology,10340,10320,10206,10220,10220,10299,10384,10566,10894,11189,11301,11319,11331,NaN
351,166692,Massachusetts Maritime Academy,937,953,1008,1135,1135,1166,1292,1296,1368,1415,1476,1497,1674,NaN
357,167288,Massachusetts College of Liberal Arts,1811,1831,1849,1841,1841,1942,1962,1974,1886,1799,1716,1765,1641,NaN
366,167987,University of Massachusetts-Dartmouth,8284,8299,8549,9080,9080,9155,9302,9432,9225,9210,9053,9111,8916,NaN

### Use fuzzywuzzy to match schools and merge stadium info with win perc info

First clean up some names to make matching easier

In [10]:
stadiums_conf_df['TEAM'] = stadiums_conf_df['TEAM'].replace('USF', 'South Florida')
stadiums_conf_df['TEAM'] = stadiums_conf_df['TEAM'].replace('NIU', 'Northern Illinois')
stadiums_conf_df['TEAM'] = stadiums_conf_df['TEAM'].replace('FIU', 'Florida Intl')
win_perc_df['TEAMS'] = win_perc_df['TEAMS'].replace('USCUSC', 'South Carolina')
win_perc_df = win_perc_df[win_perc_df['TEAMS'] != 'UT San Antonio']

In [11]:
stadiums_conf_df[stadiums_conf_df['TEAM'] == 'Northern Illinois']

                  TEAM CONFERENCE CAPACITY
144  Northern Illinois        MAC    23595

Now merge dataframes by adding a capacity and conference column to the win percentage dataframe

In [12]:
team_selection = stadiums_conf_df['TEAM']
capacities = []
conferences = []
for team in win_perc_df['TEAMS']:
    select = process.extractOne(team, team_selection, scorer=fuzz.ratio)
    print(team, select)
    capacity = stadiums_conf_df[stadiums_conf_df['TEAM'] == select[0]]['CAPACITY'].values
    conf = stadiums_conf_df[stadiums_conf_df['TEAM'] == select[0]]['CONFERENCE'].values
    #print(capacity[0], conf[0])
    capacities.append(capacity[0])
    conferences.append(conf[0])

win_perc_df['CAPACITY'] = capacities
win_perc_df['CONFERENCE'] = conferences

Clemson ('Clemson', 100, 168)
Boston College ('Boston College', 100, 130)
Florida State ('Florida State', 100, 141)
Wake Forest ('Wake Forest', 100, 136)
NC State ('NC State', 100, 251)
Maryland ('Maryland', 100, 152)
Georgia Tech ('Georgia Tech', 100, 142)
Virginia Tech ('Virginia Tech', 100, 194)
Miami ('Miami', 100, 173)
North Carolina ('North Carolina', 100, 188)
Duke ('Duke', 100, 145)
Virginia ('Virginia', 100, 153)
Nebraska ('Nebraska', 100, 207)
Missouri ('Missouri', 100, 165)
Kansas State ('Kansas State', 100, 139)
Iowa State ('Iowa State', 100, 178)
Colorado ('Colorado', 100, 166)
Kansas ('Kansas', 100, 206)
Texas ('Texas', 100, 158)
Oklahoma State ('Oklahoma State', 100, 143)
Texas Tech ('Texas Tech', 100, 185)
Oklahoma ('Oklahoma', 100, 170)
Texas A&M ('Texas A&M', 100, 192)
Baylor ('Baylor', 100, 203)
Cincinnati ('Cincinnati', 100, 213)
Pittsburgh ('Pittsburgh', 100, 174)
West Virginia ('West Virginia', 100, 210)
Rutgers ('Rutgers', 100, 175)
Connecticut ('Connecticut', 100, 220)
South Florida ('South Florida', 100, 221)
Louisville ('Louisville', 100, 216)
Syracuse ('Syracuse', 100, 155)
Ohio State ('Ohio State', 100, 215)
Iowa ('Iowa', 100, 190)
Penn State ('Penn State', 100, 137)
Northwestern ('Northwestern', 100, 229)
Wisconsin ('Wisconsin', 100, 151)
Michigan State ('Michigan State', 100, 237)
Purdue ('Purdue', 100, 228)
Minnesota ('Minnesota', 100, 243)
Illinois ('Illinois', 100, 204)
Michigan ('Michigan', 100, 209)
Indiana ('Indiana', 100, 205)
East Carolina ('East Carolina', 100, 135)
UCFUCF ('UCF', 67, 238)
Southern Mississippi ('Southern Miss', 79, 154)
Marshall ('Marshall', 100, 180)
UABUAB ('UAB', 67, 196)
Memphis ('Memphis', 100, 197)
Houston ('Houston', 100, 182)
SMUSMU ('SMU', 67, 171)
Tulsa ('Tulsa', 100, 235)
UTEPUTEP ('UTEP', 67, 241)
Rice ('Rice', 100, 225)
Tulane ('Tulane', 100, 138)
Navy ('Navy', 100, 211)
Notre Dame ('Notre Dame', 100, 214)
Army ('Army', 100, 140)
Ohio ('Ohio', 100, 219)
Temple ('Temple', 100, 198)
Bowling Green ('Bowling Green', 100, 161)
Kent State ('Kent State', 100, 160)
Buffalo ('Buffalo', 100, 245)
Akron ('Akron', 100, 177)
Miami Oh ('Miami (OH)', 94, 169)
Central Michigan ('Central Michigan', 100, 187)
Northern Illinois ('Northern Illinois', 100, 144)
Western Michigan ('Western Michigan', 100, 249)
Toledo ('Toledo', 100, 172)
Ball State ('Ball State', 100, 233)
Eastern Michigan ('Eastern Michigan', 100, 230)
TCUTCU ('TCU', 67, 131)
BYUBYU ('BYU', 67, 195)
Utah ('Utah', 100, 226)
Air Force ('Air Force', 100, 163)
Wyoming ('Wyoming', 100, 184)
UNLVUNLV ('UNLV', 67, 231)
San Diego State ('San Diego State', 100, 234)
New Mexico ('New Mexico', 100, 162)
Colorado State ('Colorado State', 100, 236)
Oregon ('Oregon', 100, 134)
Arizona ('Arizona', 100, 133)
Oregon State ('Oregon State', 100, 223)
Stanford ('Stanford', 100, 239)
South Carolina ('South Carolina', 100, 253)
California ('California', 100, 150)
Washington ('Washington', 100, 126)
UCLAUCLA ('UCLA', 67, 227)
Arizona State ('Arizona State', 100, 242)
Washington State ('Washington State', 100, 201)
Florida ('Florida', 100, 240)
Georgia ('Georgia', 100, 232)
Tennessee ('Tennessee', 100, 212)
Kentucky ('Kentucky', 100, 191)
South Carolina ('South Carolina', 100, 253)
Vanderbilt ('Vanderbilt', 100, 246)
Alabama ('Alabama', 100, 147)
LSULSU ('LSU', 67, 244)
Ole Miss ('Southern Miss', 67, 154)
Arkansas ('Arkansas', 100, 222)
Auburn ('Auburn', 100, 218)
Mississippi State ('Mississippi State', 100, 159)
Troy ('Troy', 100, 248)
Middle Tennessee ('Middle Tennessee', 100, 183)
Louisiana Monroe ('Louisiana-Monroe', 100, 186)
Florida Atlantic ('Florida Atlantic', 100, 164)
Louisiana ('Louisiana Tech', 78, 181)
Arkansas State ('Arkansas State', 100, 157)
Florida Intl ('Florida Intl', 100, 224)
North Texas ('North Texas', 100, 132)
Western Kentucky ('Western Kentucky', 100, 176)
Boise State ('Boise State', 100, 127)
Nevada ('Nevada', 100, 200)
Fresno State ('Fresno State', 100, 148)
Idaho ('Idaho', 100, 252)
Hawai ('Hawaiʻi', 83, 129)
Louisiana Tech ('Louisiana Tech', 100, 181)
Utah State ('Utah State', 100, 208)
New Mexico State ('New Mexico State', 100, 124)
San Jose State ('San Jose State', 100, 156)
Florida State ('Florida State', 100, 141)
Maryland ('Maryland', 100, 152)
NC State ('NC State', 100, 251)
Boston College ('Boston College', 100, 130)
Clemson ('Clemson', 100, 168)
Wake Forest ('Wake Forest', 100, 136)
Virginia Tech ('Virginia Tech', 100, 194)
Miami ('Miami', 100, 173)
Georgia Tech ('Georgia Tech', 100, 142)
North Carolina ('North Carolina', 100, 188)
Duke ('Duke', 100, 145)
Virginia ('Virginia', 100, 153)
Nebraska ('Nebraska', 100, 207)
Missouri ('Missouri', 100, 165)
Kansas State ('Kansas State', 100, 139)
Iowa State ('Iowa State', 100, 178)
Colorado ('Colorado', 100, 166)
Kansas ('Kansas', 100, 206)
Oklahoma ('Oklahoma', 100, 170)
Oklahoma State ('Oklahoma State', 100, 143)
Texas A&M ('Texas A&M', 100, 192)
Baylor ('Baylor', 100, 203)
Texas Tech ('Texas Tech', 100, 185)
Texas ('Texas', 100, 158)
Connecticut ('Connecticut', 100, 220)
West Virginia ('West Virginia', 100, 210)
Pittsburgh ('Pittsburgh', 100, 174)
Syracuse ('Syracuse', 100, 155)
South Florida ('South Florida', 100, 221)
Louisville ('Louisville', 100, 216)
Cincinnati ('Cincinnati', 100, 213)
Rutgers ('Rutgers', 100, 175)
Ohio State ('Ohio State', 100, 215)
Michigan State ('Michigan State', 100, 237)
Wisconsin ('Wisconsin', 100, 151)
Iowa ('Iowa', 100, 190)
Illinois ('Illinois', 100, 204)
Penn State ('Penn State', 100, 137)
Michigan ('Michigan', 100, 209)
Northwestern ('Northwestern', 100, 229)
Purdue ('Purdue', 100, 228)
Minnesota ('Minnesota', 100, 243)
Indiana ('Indiana', 100, 205)
UCFUCF ('UCF', 67, 238)
East Carolina ('East Carolina', 100, 135)
Southern Mississippi ('Southern Miss', 79, 154)
Marshall ('Marshall', 100, 180)
UABUAB ('UAB', 67, 196)
Memphis ('Memphis', 100, 197)
SMUSMU ('SMU', 67, 171)
Tulsa ('Tulsa', 100, 235)
Houston ('Houston', 100, 182)
UTEPUTEP ('UTEP', 67, 241)
Rice ('Rice', 100, 225)
Tulane ('Tulane', 100, 138)
Navy ('Navy', 100, 211)
Notre Dame ('Notre Dame', 100, 214)
Army ('Army', 100, 140)
Miami Oh ('Miami (OH)', 94, 169)
Ohio ('Ohio', 100, 219)
Temple ('Temple', 100, 198)
Kent State ('Kent State', 100, 160)
Bowling Green ('Bowling Green', 100, 161)
Buffalo ('Buffalo', 100, 245)
Akron ('Akron', 100, 177)
Northern Illinois ('Northern Illinois', 100, 144)
Toledo ('Toledo', 100, 172)
Western Michigan ('Western Michigan', 100, 249)
Ball State ('Ball State', 100, 233)
Central Michigan ('Central Michigan', 100, 187)
Eastern Michigan ('Eastern Michigan', 100, 230)
TCUTCU ('TCU', 67, 131)
Utah ('Utah', 100, 226)
Air Force ('Air Force', 100, 163)
San Diego State ('San Diego State', 100, 234)
BYUBYU ('BYU', 67, 195)
Colorado State ('Colorado State', 100, 236)
UNLVUNLV ('UNLV', 67, 231)
New Mexico ('New Mexico', 100, 162)
Wyoming ('Wyoming', 100, 184)
Oregon ('Oregon', 100, 134)
Stanford ('Stanford', 100, 239)
Washington ('Washington', 100, 126)
South Carolina ('South Carolina', 100, 253)
Oregon State ('Oregon State', 100, 223)
Arizona State ('Arizona State', 100, 242)
Arizona ('Arizona', 100, 133)
California ('California', 100, 150)
UCLAUCLA ('UCLA', 67, 227)
Washington State ('Washington State', 100, 201)
South Carolina ('South Carolina', 100, 253)
Florida ('Florida', 100, 240)
Georgia ('Georgia', 100, 232)
Tennessee ('Tennessee', 100, 212)
Kentucky ('Kentucky', 100, 191)
Vanderbilt ('Vanderbilt', 100, 246)
Auburn ('Auburn', 100, 218)
Arkansas ('Arkansas', 100, 222)
LSULSU ('LSU', 67, 244)
Alabama ('Alabama', 100, 147)
Mississippi State ('Mississippi State', 100, 159)
Ole Miss ('Southern Miss', 67, 154)
Florida Intl ('Florida Intl', 100, 224)
Troy ('Troy', 100, 248)
Middle Tennessee ('Middle Tennessee', 100, 183)
Arkansas State ('Arkansas State', 100, 157)
Louisiana Monroe ('Louisiana-Monroe', 100, 186)
Florida Atlantic ('Florida Atlantic', 100, 164)
Louisiana ('Louisiana Tech', 78, 181)
North Texas ('North Texas', 100, 132)
Western Kentucky ('Western Kentucky', 100, 176)
Nevada ('Nevada', 100, 200)
Boise State ('Boise State', 100, 127)
Hawai ('Hawaiʻi', 83, 129)
Fresno State ('Fresno State', 100, 148)
Louisiana Tech ('Louisiana Tech', 100, 181)
Idaho ('Idaho', 100, 252)
Utah State ('Utah State', 100, 208)
New Mexico State ('New Mexico State', 100, 124)
San Jose State ('San Jose State', 100, 156)
Clemson ('Clemson', 100, 168)
Wake Forest ('Wake Forest', 100, 136)
Florida State ('Florida State', 100, 141)
NC State ('NC State', 100, 251)
Boston College ('Boston College', 100, 130)
Maryland ('Maryland', 100, 152)
Virginia Tech ('Virginia Tech', 100, 194)
Virginia ('Virginia', 100, 153)
Georgia Tech ('Georgia Tech', 100, 142)
Miami ('Miami', 100, 173)
North Carolina ('North Carolina', 100, 188)
Duke ('Duke', 100, 145)
Oklahoma State ('Oklahoma State', 100, 143)
Kansas State ('Kansas State', 100, 139)
Baylor ('Baylor', 100, 203)
Oklahoma ('Oklahoma', 100, 170)
Missouri ('Missouri', 100, 165)
Texas ('Texas', 100, 158)
Texas A&M ('Texas A&M', 100, 192)
Iowa State ('Iowa State', 100, 178)
Texas Tech ('Texas Tech', 100, 185)
Kansas ('Kansas', 100, 206)
Cincinnati ('Cincinnati', 100, 213)
West Virginia ('West Virginia', 100, 210)
Louisville ('Louisville', 100, 216)
Rutgers ('Rutgers', 100, 175)
Pittsburgh ('Pittsburgh', 100, 174)
Connecticut ('Connecticut', 100, 220)
South Florida ('South Florida', 100, 221)
Syracuse ('Syracuse', 100, 155)
Michigan State ('Michigan State', 100, 237)
Michigan ('Michigan', 100, 209)
Nebraska ('Nebraska', 100, 207)
Iowa ('Iowa', 100, 190)
Northwestern ('Northwestern', 100, 229)
Minnesota ('Minnesota', 100, 243)
Wisconsin ('Wisconsin', 100, 151)
Penn State ('Penn State', 100, 137)
Purdue ('Purdue', 100, 228)
Ohio State ('Ohio State', 100, 215)
Illinois ('Illinois', 100, 204)
Indiana ('Indiana', 100, 205)
Southern Mississippi ('Southern Miss', 79, 154)
Marshall ('Marshall', 100, 180)
East Carolina ('East Carolina', 100, 135)
UABUAB ('UAB', 67, 196)
UCFUCF ('UCF', 67, 238)
Memphis ('Memphis', 100, 197)
Houston ('Houston', 100, 182)
Tulsa ('Tulsa', 100, 235)
SMUSMU ('SMU', 67, 171)
Rice ('Rice', 100, 225)
UTEPUTEP ('UTEP', 67, 241)
Tulane ('Tulane', 100, 138)
Navy ('Navy', 100, 211)
BYUBYU ('BYU', 67, 195)
Notre Dame ('Notre Dame', 100, 214)
Army ('Army', 100, 140)
Ohio ('Ohio', 100, 219)
Temple ('Temple', 100, 198)
Kent State ('Kent State', 100, 160)
Bowling Green ('Bowling Green', 100, 161)
Miami Oh ('Miami (OH)', 94, 169)
Buffalo ('Buffalo', 100, 245)
Akron ('Akron', 100, 177)
Northern Illinois ('Northern Illinois', 100, 144)
Toledo ('Toledo', 100, 172)
Western Michigan ('Western Michigan', 100, 249)
Ball State ('Ball State', 100, 233)
Eastern Michigan ('Eastern Michigan', 100, 230)
Central Michigan ('Central Michigan', 100, 187)
TCUTCU ('TCU', 67, 131)

Boise State ('Boise State', 100, 127)
Wyoming ('Wyoming', 100, 184)
San Diego State ('San Diego State', 100, 234)
Air Force ('Air Force', 100, 163)
Colorado State ('Colorado State', 100, 236)
UNLVUNLV ('UNLV', 67, 231)
New Mexico ('New Mexico', 100, 162)
Oregon ('Oregon', 100, 134)
Stanford ('Stanford', 100, 239)
Washington ('Washington', 100, 126)
California ('California', 100, 150)
Oregon State ('Oregon State', 100, 223)
Washington State ('Washington State', 100, 201)
South Carolina ('South Carolina', 100, 253)
UCLAUCLA ('UCLA', 67, 227)
Arizona State ('Arizona State', 100, 242)
Utah ('Utah', 100, 226)
Colorado ('Colorado', 100, 166)
Arizona ('Arizona', 100, 133)
Georgia ('Georgia', 100, 232)
South Carolina ('South Carolina', 100, 253)
Florida ('Florida', 100, 240)
Vanderbilt ('Vanderbilt', 100, 246)
Kentucky ('Kentucky', 100, 191)
Tennessee ('Tennessee', 100, 212)
LSULSU ('LSU', 67, 244)
Alabama ('Alabama', 100, 147)
Arkansas ('Arkansas', 100, 222)
Auburn ('Auburn', 100, 218)
Mississippi State ('Mississippi State', 100, 159)
Ole Miss ('Southern Miss', 67, 154)
Arkansas State ('Arkansas State', 100, 157)
Western Kentucky ('Western Kentucky', 100, 176)
Louisiana ('Louisiana Tech', 78, 181)
Florida Intl ('Florida Intl', 100, 224)
North Texas ('North Texas', 100, 132)
Louisiana Monroe ('Louisiana-Monroe', 100, 186)
Troy ('Troy', 100, 248)
Middle Tennessee ('Middle Tennessee', 100, 183)
Florida Atlantic ('Florida Atlantic', 100, 164)
Louisiana Tech ('Louisiana Tech', 100, 181)
Utah State ('Utah State', 100, 208)
Nevada ('Nevada', 100, 200)
San Jose State ('San Jose State', 100, 156)
Fresno State ('Fresno State', 100, 148)
Hawai ('Hawaiʻi', 83, 129)
New Mexico State ('New Mexico State', 100, 124)
Idaho ('Idaho', 100, 252)
Florida State ('Florida State', 100, 141)
Clemson ('Clemson', 100, 168)
NC State ('NC State', 100, 251)
Wake Forest ('Wake Forest', 100, 136)
Maryland ('Maryland', 100, 152)
Boston College ('Boston College', 100, 130)
North Carolina ('North Carolina', 100, 188)
Georgia Tech ('Georgia Tech', 100, 142)
Miami ('Miami', 100, 173)
Virginia Tech ('Virginia Tech', 100, 194)
Duke ('Duke', 100, 145)
Virginia ('Virginia', 100, 153)
Kansas State ('Kansas State', 100, 139)
Oklahoma ('Oklahoma', 100, 170)
Texas ('Texas', 100, 158)
Oklahoma State ('Oklahoma State', 100, 143)
Baylor ('Baylor', 100, 203)
Texas Tech ('Texas Tech', 100, 185)
TCUTCU ('TCU', 67, 131)
West Virginia ('West Virginia', 100, 210)
Iowa State ('Iowa State', 100, 178)
Kansas ('Kansas', 100, 206)
Louisville ('Louisville', 100, 216)
Cincinnati ('Cincinnati', 100, 213)
Rutgers ('Rutgers', 100, 175)
Syracuse ('Syracuse', 100, 155)
Pittsburgh ('Pittsburgh', 100, 174)
Temple ('Temple', 100, 198)
Connecticut ('Connecticut', 100, 220)
South Florida ('South Florida', 100, 221)
Nebraska ('Nebraska', 100, 207)
Michigan ('Michigan', 100, 209)
Northwestern ('Northwestern', 100, 229)
Michigan State ('Michigan State', 100, 237)
Iowa ('Iowa', 100, 190)
Minnesota ('Minnesota', 100, 243)
Ohio State ('Ohio State', 100, 215)
Penn State ('Penn State', 100, 137)
Wisconsin ('Wisconsin', 100, 151)
Purdue ('Purdue', 100, 228)
Indiana ('Indiana', 100, 205)
Illinois ('Illinois', 100, 204)
UCFUCF ('UCF', 67, 238)
East Carolina ('East Carolina', 100, 135)
Marshall ('Marshall', 100, 180)
Memphis ('Memphis', 100, 197)
UABUAB ('UAB', 67, 196)
Southern Mississippi ('Southern Miss', 79, 154)
Tulsa ('Tulsa', 100, 235)
SMUSMU ('SMU', 67, 171)
Houston ('Houston', 100, 182)
Rice ('Rice', 100, 225)
UTEPUTEP ('UTEP', 67, 241)
Tulane ('Tulane', 100, 138)
Notre Dame ('Notre Dame', 100, 214)
BYUBYU ('BYU', 67, 195)
Navy ('Navy', 100, 211)
Army ('Army', 100, 140)
Kent State ('Kent State', 100, 160)
Bowling Green ('Bowling Green', 100, 161)
Ohio ('Ohio', 100, 219)
Buffalo ('Buffalo', 100, 245)
Miami Oh ('Miami (OH)', 94, 169)
UMass ('UMass', 100, 250)
Akron ('Akron', 100, 177)
Northern Illinois ('Northern Illinois', 100, 144)
Ball State ('Ball State', 100, 233)
Toledo ('Toledo', 100, 172)
Central Michigan ('Central Michigan', 100, 187)
Western Michigan ('Western Michigan', 100, 249)
Eastern Michigan ('Eastern Michigan', 100, 230)
Boise State ('Boise State', 100, 127)
Fresno State ('Fresno State', 100, 148)
San Diego State ('San Diego State', 100, 234)
Air Force ('Air Force', 100, 163)
Nevada ('Nevada', 100, 200)
Wyoming ('Wyoming', 100, 184)
Colorado State ('Colorado State', 100, 236)
UNLVUNLV ('UNLV', 67, 231)
New Mexico ('New Mexico', 100, 162)
Hawai ('Hawaiʻi', 83, 129)
Stanford ('Stanford', 100, 239)
Oregon ('Oregon', 100, 134)
Oregon State ('Oregon State', 100, 223)
Washington ('Washington', 100, 126)
California ('California', 100, 150)
Washington State ('Washington State', 100, 201)
UCLAUCLA ('UCLA', 67, 227)
South Carolina ('South Carolina', 100, 253)
Arizona State ('Arizona State', 100, 242)
Arizona ('Arizona', 100, 133)
Utah ('Utah', 100, 226)
Colorado ('Colorado', 100, 166)
Georgia ('Georgia', 100, 232)
Florida ('Florida', 100, 240)
South Carolina ('South Carolina', 100, 253)
Vanderbilt ('Vanderbilt', 100, 246)
Missouri ('Missouri', 100, 165)
Tennessee ('Tennessee', 100, 212)
Kentucky ('Kentucky', 100, 191)
Alabama ('Alabama', 100, 147)
LSULSU ('LSU', 67, 244)
Texas A&M ('Texas A&M', 100, 192)
Mississippi State ('Mississippi State', 100, 159)
Ole Miss ('Southern Miss', 67, 154)
Arkansas ('Arkansas', 100, 222)
Auburn ('Auburn', 100, 218)
Arkansas State ('Arkansas State', 100, 157)
Louisiana ('Louisiana Tech', 78, 181)
Louisiana Monroe ('Louisiana-Monroe', 100, 186)
Middle Tennessee ('Middle Tennessee', 100, 183)
Western Kentucky ('Western Kentucky', 100, 176)
Troy ('Troy', 100, 248)
North Texas ('North Texas', 100, 132)
Florida Intl ('Florida Intl', 100, 224)
Florida Atlantic ('Florida Atlantic', 100, 164)
South Alabama ('South Alabama', 100, 193)
Utah State ('Utah State', 100, 208)
San Jose State ('San Jose State', 100, 156)
Louisiana Tech ('Louisiana Tech', 100, 181)
Texas State ('Texas State', 100, 179)
Idaho ('Idaho', 100, 252)
New Mexico State ('New Mexico State', 100, 124)
UCFUCF ('UCF', 67, 238)
Louisville ('Louisville', 100, 216)
Cincinnati ('Cincinnati', 100, 213)
Houston ('Houston', 100, 182)
SMUSMU ('SMU', 67, 171)
Connecticut ('Connecticut', 100, 220)
Rutgers ('Rutgers', 100, 175)
South Florida ('South Florida', 100, 221)
Temple ('Temple', 100, 198)
Memphis ('Memphis', 100, 197)
Florida State ('Florida State', 100, 141)
Clemson ('Clemson', 100, 168)
Syracuse ('Syracuse', 100, 155)
Boston College ('Boston College', 100, 130)
Maryland ('Maryland', 100, 152)
Wake Forest ('Wake Forest', 100, 136)
NC State ('NC State', 100, 251)
Duke ('Duke', 100, 145)
Virginia Tech ('Virginia Tech', 100, 194)
Miami ('Miami', 100, 173)
Georgia Tech ('Georgia Tech', 100, 142)
North Carolina ('North Carolina', 100, 188)
Pittsburgh ('Pittsburgh', 100, 174)
Virginia ('Virginia', 100, 153)
Baylor ('Baylor', 100, 203)
Oklahoma ('Oklahoma', 100, 170)
Oklahoma State ('Oklahoma State', 100, 143)
Texas ('Texas', 100, 158)
Kansas State ('Kansas State', 100, 139)
Texas Tech ('Texas Tech', 100, 185)
TCUTCU ('TCU', 67, 131)
West Virginia ('West Virginia', 100, 210)
Iowa State ('Iowa State', 100, 178)
Kansas ('Kansas', 100, 206)
Michigan State ('Michigan State', 100, 237)
Iowa ('Iowa', 100, 190)
Nebraska ('Nebraska', 100, 207)
Minnesota ('Minnesota', 100, 243)
Michigan ('Michigan', 100, 209)
Northwestern ('Northwestern', 100, 229)
Ohio State ('Ohio State', 100, 215)
Wisconsin ('Wisconsin', 100, 151)
Penn State ('Penn State', 100, 137)
Indiana ('Indiana', 100, 205)
Illinois ('Illinois', 100, 204)
Purdue ('Purdue', 100, 228)
Marshall ('Marshall', 100, 180)
East Carolina ('East Carolina', 100, 135)
Middle Tennessee ('Middle Tennessee', 100, 183)
Florida Atlantic ('Florida Atlantic', 100, 164)
UABUAB ('UAB', 67, 196)
Florida Intl ('Florida Intl', 100, 224)
Southern Mississippi ('Southern Miss', 79, 154)
Rice ('Rice', 100, 225)
North Texas ('North Texas', 100, 132)
Tulane ('Tulane', 100, 138)
Louisiana Tech ('Louisiana Tech', 100, 181)
Tulsa ('Tulsa', 100, 235)
UTEPUTEP ('UTEP', 67, 241)
Navy ('Navy', 100, 211)
Notre Dame ('Notre Dame', 100, 214)
BYUBYU ('BYU', 67, 195)
Old Dominion ('Old Dominion', 100, 167)
Army ('Army', 100, 140)
New Mexico State ('New Mexico State', 100, 124)
Idaho ('Idaho', 100, 252)
Bowling Green ('Bowling Green', 100, 161)
Buffalo ('Buffalo', 100, 245)
Ohio ('Ohio', 100, 219)
Akron ('Akron', 100, 177)
Kent State ('Kent State', 100, 160)
UMass ('UMass', 100, 250)
Miami Oh ('Miami (OH)', 94, 169)
Northern Illinois ('Northern Illinois', 100, 144)
Ball State ('Ball State', 100, 233)
Toledo ('Toledo', 100, 172)
Central Michigan ('Central Michigan', 100, 187)
Eastern Michigan ('Eastern Michigan', 100, 230)
Western Michigan ('Western Michigan', 100, 249)
Utah State ('Utah State', 100, 208)
Boise State ('Boise State', 100, 127)
Colorado State ('Colorado State', 100, 236)
Wyoming ('Wyoming', 100, 184)
New Mexico ('New Mexico', 100, 162)
Air Force ('Air Force', 100, 163)
Fresno State ('Fresno State', 100, 148)
San Diego State ('San Diego State', 100, 234)
San Jose State ('San Jose State', 100, 156)
UNLVUNLV ('UNLV', 67, 231)
Nevada ('Nevada', 100, 200)
Hawai ('Hawaiʻi', 83, 129)
Stanford ('Stanford', 100, 239)
Oregon ('Oregon', 100, 134)
Washington ('Washington', 100, 126)
Oregon State ('Oregon State', 100, 223)
Washington State ('Washington State', 100, 201)
California ('California', 100, 150)
Arizona State ('Arizona State', 100, 242)
UCLAUCLA ('UCLA', 67, 227)
South Carolina ('South Carolina', 100, 253)
Arizona ('Arizona', 100, 133)
Utah ('Utah', 100, 226)
Colorado ('Colorado', 100, 166)
Missouri ('Missouri', 100, 165)
South Carolina ('South Carolina', 100, 253)
Georgia ('Georgia', 100, 232)
Vanderbilt ('Vanderbilt', 100, 246)
Florida ('Florida', 100, 240)
Tennessee ('Tennessee', 100, 212)
Kentucky ('Kentucky', 100, 191)
Auburn ('Auburn', 100, 218)
Alabama ('Alabama', 100, 147)
LSULSU ('LSU', 67, 244)
Texas A&M ('Texas A&M', 100, 192)
Mississippi State ('Mississippi State', 100, 159)

Ole Miss ('Southern Miss', 67, 154)
Arkansas ('Arkansas', 100, 222)
Louisiana ('Louisiana Tech', 78, 181)
Arkansas State ('Arkansas State', 100, 157)
Western Kentucky ('Western Kentucky', 100, 176)
Louisiana Monroe ('Louisiana-Monroe', 100, 186)
South Alabama ('South Alabama', 100, 193)
Troy ('Troy', 100, 248)
Texas State ('Texas State', 100, 179)
Georgia State ('Georgia State', 100, 217)
Memphis ('Memphis', 100, 197)
Cincinnati ('Cincinnati', 100, 213)
UCFUCF ('UCF', 67, 238)
East Carolina ('East Carolina', 100, 135)
Houston ('Houston', 100, 182)
Temple ('Temple', 100, 198)
South Florida ('South Florida', 100, 221)
Tulsa ('Tulsa', 100, 235)
Tulane ('Tulane', 100, 138)
SMUSMU ('SMU', 67, 171)
Connecticut ('Connecticut', 100, 220)
Florida State ('Florida State', 100, 141)
Clemson ('Clemson', 100, 168)
Louisville ('Louisville', 100, 216)
Boston College ('Boston College', 100, 130)
NC State ('NC State', 100, 251)
Syracuse ('Syracuse', 100, 155)
Wake Forest ('Wake Forest', 100, 136)
Georgia Tech ('Georgia Tech', 100, 142)
Duke ('Duke', 100, 145)
North Carolina ('North Carolina', 100, 188)
Pittsburgh ('Pittsburgh', 100, 174)
Virginia Tech ('Virginia Tech', 100, 194)
Miami ('Miami', 100, 173)
Virginia ('Virginia', 100, 153)
Baylor ('Baylor', 100, 203)
TCUTCU ('TCU', 67, 131)
Kansas State ('Kansas State', 100, 139)
Oklahoma ('Oklahoma', 100, 170)
Texas ('Texas', 100, 158)
West Virginia ('West Virginia', 100, 210)
Oklahoma State ('Oklahoma State', 100, 143)
Texas Tech ('Texas Tech', 100, 185)
Kansas ('Kansas', 100, 206)
Iowa State ('Iowa State', 100, 178)
Ohio State ('Ohio State', 100, 215)
Michigan State ('Michigan State', 100, 237)
Maryland ('Maryland', 100, 152)
Rutgers ('Rutgers', 100, 175)
Michigan ('Michigan', 100, 209)
Penn State ('Penn State', 100, 137)
Indiana ('Indiana', 100, 205)
Wisconsin ('Wisconsin', 100, 151)
Minnesota ('Minnesota', 100, 243)
Nebraska ('Nebraska', 100, 207)
Iowa ('Iowa', 100, 190)
Illinois ('Illinois', 100, 204)
Northwestern ('Northwestern', 100, 229)
Purdue ('Purdue', 100, 228)
Marshall ('Marshall', 100, 180)
Middle Tennessee ('Middle Tennessee', 100, 183)
UABUAB ('UAB', 67, 196)
Western Kentucky ('Western Kentucky', 100, 176)
Old Dominion ('Old Dominion', 100, 167)
Florida Intl ('Florida Intl', 100, 224)
Florida Atlantic ('Florida Atlantic', 100, 164)
Louisiana Tech ('Louisiana Tech', 100, 181)
Rice ('Rice', 100, 225)
UTEPUTEP ('UTEP', 67, 241)
North Texas ('North Texas', 100, 132)
Southern Mississippi ('Southern Miss', 79, 154)
Notre Dame ('Notre Dame', 100, 214)
Navy ('Navy', 100, 211)
BYUBYU ('BYU', 67, 195)
Army ('Army', 100, 140)
Bowling Green ('Bowling Green', 100, 161)
Ohio ('Ohio', 100, 219)
Buffalo ('Buffalo', 100, 245)
Akron ('Akron', 100, 177)
UMass ('UMass', 100, 250)
Miami Oh ('Miami (OH)', 94, 169)
Kent State ('Kent State', 100, 160)
Northern Illinois ('Northern Illinois', 100, 144)
Toledo ('Toledo', 100, 172)
Western Michigan ('Western Michigan', 100, 249)
Central Michigan ('Central Michigan', 100, 187)
Ball State ('Ball State', 100, 233)
Eastern Michigan ('Eastern Michigan', 100, 230)
Boise State ('Boise State', 100, 127)
Colorado State ('Colorado State', 100, 236)
Utah State ('Utah State', 100, 208)
Air Force ('Air Force', 100, 163)
New Mexico ('New Mexico', 100, 162)
Wyoming ('Wyoming', 100, 184)
Fresno State ('Fresno State', 100, 148)
San Diego State ('San Diego State', 100, 234)
Nevada ('Nevada', 100, 200)
Hawai ('Hawaiʻi', 83, 129)
San Jose State ('San Jose State', 100, 156)
UNLVUNLV ('UNLV', 67, 231)
Oregon ('Oregon', 100, 134)
Stanford ('Stanford', 100, 239)
Washington ('Washington', 100, 126)
California ('California', 100, 150)
Washington State ('Washington State', 100, 201)
Oregon State ('Oregon State', 100, 223)
Arizona ('Arizona', 100, 133)
UCLAUCLA ('UCLA', 67, 227)
Arizona State ('Arizona State', 100, 242)
South Carolina ('South Carolina', 100, 253)
Utah ('Utah', 100, 226)
Colorado ('Colorado', 100, 166)
Missouri ('Missouri', 100, 165)
Georgia ('Georgia', 100, 232)
Florida ('Florida', 100, 240)
Tennessee ('Tennessee', 100, 212)
South Carolina ('South Carolina', 100, 253)
Kentucky ('Kentucky', 100, 191)
Vanderbilt ('Vanderbilt', 100, 246)
Alabama ('Alabama', 100, 147)
Mississippi State ('Mississippi State', 100, 159)
Ole Miss ('Southern Miss', 67, 154)
Auburn ('Auburn', 100, 218)
LSULSU ('LSU', 67, 244)
Texas A&M ('Texas A&M', 100, 192)
Arkansas ('Arkansas', 100, 222)
Georgia Southern ('Georgia Southern', 100, 128)
Louisiana ('Louisiana Tech', 78, 181)
Appalachian State ('Appalachian State', 100, 189)
Texas State ('Texas State', 100, 179)
Arkansas State ('Arkansas State', 100, 157)
South Alabama ('South Alabama', 100, 193)
Louisiana Monroe ('Louisiana-Monroe', 100, 186)
Troy ('Troy', 100, 248)
Idaho ('Idaho', 100, 252)
New Mexico State ('New Mexico State', 100, 124)
Georgia State ('Georgia State', 100, 217)
Temple ('Temple', 100, 198)
South Florida ('South Florida', 100, 221)
Cincinnati ('Cincinnati', 100, 213)
Connecticut ('Connecticut', 100, 220)
East Carolina ('East Carolina', 100, 135)
UCFUCF ('UCF', 67, 238)
Houston ('Houston', 100, 182)
Navy ('Navy', 100, 211)
Memphis ('Memphis', 100, 197)
Tulsa ('Tulsa', 100, 235)
SMUSMU ('SMU', 67, 171)
Tulane ('Tulane', 100, 138)
Clemson ('Clemson', 100, 168)
Florida State ('Florida State', 100, 141)
Louisville ('Louisville', 100, 216)
NC State ('NC State', 100, 251)
Syracuse ('Syracuse', 100, 155)
Wake Forest ('Wake Forest', 100, 136)
Boston College ('Boston College', 100, 130)
North Carolina ('North Carolina', 100, 188)
Pittsburgh ('Pittsburgh', 100, 174)
Miami ('Miami', 100, 173)
Duke ('Duke', 100, 145)
Virginia Tech ('Virginia Tech', 100, 194)
Virginia ('Virginia', 100, 153)
Georgia Tech ('Georgia Tech', 100, 142)
Oklahoma ('Oklahoma', 100, 170)
Oklahoma State ('Oklahoma State', 100, 143)
TCUTCU ('TCU', 67, 131)
Baylor ('Baylor', 100, 203)
West Virginia ('West Virginia', 100, 210)
Texas Tech ('Texas Tech', 100, 185)
Texas ('Texas', 100, 158)
Kansas State ('Kansas State', 100, 139)
Iowa State ('Iowa State', 100, 178)
Kansas ('Kansas', 100, 206)
Michigan State ('Michigan State', 100, 237)
Ohio State ('Ohio State', 100, 215)
Michigan ('Michigan', 100, 209)
Penn State ('Penn State', 100, 137)
Indiana ('Indiana', 100, 205)
Maryland ('Maryland', 100, 152)
Rutgers ('Rutgers', 100, 175)
Iowa ('Iowa', 100, 190)
Northwestern ('Northwestern', 100, 229)
Wisconsin ('Wisconsin', 100, 151)
Nebraska ('Nebraska', 100, 207)
Minnesota ('Minnesota', 100, 243)
Illinois ('Illinois', 100, 204)
Purdue ('Purdue', 100, 228)
Western Kentucky ('Western Kentucky', 100, 176)
Middle Tennessee ('Middle Tennessee', 100, 183)
Marshall ('Marshall', 100, 180)
Florida Atlantic ('Florida Atlantic', 100, 164)
Florida Intl ('Florida Intl', 100, 224)
Old Dominion ('Old Dominion', 100, 167)
Charlotte ('Charlotte', 100, 202)
Southern Mississippi ('Southern Miss', 79, 154)
Louisiana Tech ('Louisiana Tech', 100, 181)
UTEPUTEP ('UTEP', 67, 241)
Rice ('Rice', 100, 225)
North Texas ('North Texas', 100, 132)
Notre Dame ('Notre Dame', 100, 214)
BYUBYU ('BYU', 67, 195)
Army ('Army', 100, 140)
Bowling Green ('Bowling Green', 100, 161)
Ohio ('Ohio', 100, 219)
Akron ('Akron', 100, 177)
Buffalo ('Buffalo', 100, 245)
Kent State ('Kent State', 100, 160)
Miami Oh ('Miami (OH)', 94, 169)
UMass ('UMass', 100, 250)
Northern Illinois ('Northern Illinois', 100, 144)
Western Michigan ('Western Michigan', 100, 249)
Toledo ('Toledo', 100, 172)
Central Michigan ('Central Michigan', 100, 187)
Ball State ('Ball State', 100, 233)
Eastern Michigan ('Eastern Michigan', 100, 230)
Air Force ('Air Force', 100, 163)
New Mexico ('New Mexico', 100, 162)
Utah State ('Utah State', 100, 208)
Boise State ('Boise State', 100, 127)
Colorado State ('Colorado State', 100, 236)
Wyoming ('Wyoming', 100, 184)
San Diego State ('San Diego State', 100, 234)
Nevada ('Nevada', 100, 200)
San Jose State ('San Jose State', 100, 156)
Fresno State ('Fresno State', 100, 148)
UNLVUNLV ('UNLV', 67, 231)
Hawai ('Hawaiʻi', 83, 129)
Stanford ('Stanford', 100, 239)
Oregon ('Oregon', 100, 134)
Washington State ('Washington State', 100, 201)
California ('California', 100, 150)
Washington ('Washington', 100, 126)
Oregon State ('Oregon State', 100, 223)
South Carolina ('South Carolina', 100, 253)
Utah ('Utah', 100, 226)
UCLAUCLA ('UCLA', 67, 227)
Arizona State ('Arizona State', 100, 242)
Arizona ('Arizona', 100, 133)

Colorado ('Colorado', 100, 166)
Florida ('Florida', 100, 240)
Tennessee ('Tennessee', 100, 212)
Georgia ('Georgia', 100, 232)
Vanderbilt ('Vanderbilt', 100, 246)
Kentucky ('Kentucky', 100, 191)
Missouri ('Missouri', 100, 165)
South Carolina ('South Carolina', 100, 253)
Alabama ('Alabama', 100, 147)
Ole Miss ('Southern Miss', 67, 154)
Arkansas ('Arkansas', 100, 222)
LSULSU ('LSU', 67, 244)
Texas A&M ('Texas A&M', 100, 192)
Mississippi State ('Mississippi State', 100, 159)
Auburn ('Auburn', 100, 218)
Arkansas State ('Arkansas State', 100, 157)
Appalachian State ('Appalachian State', 100, 189)
Georgia Southern ('Georgia Southern', 100, 128)
Georgia State ('Georgia State', 100, 217)
South Alabama ('South Alabama', 100, 193)
Troy ('Troy', 100, 248)
New Mexico State ('New Mexico State', 100, 124)
Idaho ('Idaho', 100, 252)
Louisiana ('Louisiana Tech', 78, 181)
Texas State ('Texas State', 100, 179)
Louisiana Monroe ('Louisiana-Monroe', 100, 186)
Montana ('Montana Grizzlies', 58, 115)
Eastern Washington ('Eastern Washington Eagles', 84, 98)
Weber State ('Boise State', 73, 127)
Montana State ('Montana State Bobcats', 76, 17)
Northern Arizona ('Northern Arizona Lumberjacks', 73, 114)
Sacramento State ('Sacramento State Hornets', 80, 61)
Northern Colorado ('Northern Colorado Bears', 85, 85)
Portland State ('Portland State Vikings', 78, 93)
Idaho State ('Iowa State', 76, 178)
Liberty ('Liberty Flames', 67, 121)
Stony Brook ('Stony Brook Seawolves', 69, 71)
Charleston Southern ('Charleston Southern Buccaneers', 78, 23)
Gardner-Webb ("Gardner–Webb Runnin' Bulldogs", 59, 41)
Coastal Carolina ('Coastal Carolina', 100, 146)
VMIVMI ('Miami', 73, 173)
Presbyterian College ('Presbyterian Blue Hose', 76, 13)
New Hampshire ('New Hampshire Wildcats', 74, 117)
Maine ('Miami', 60, 173)
Hofstra ('Ohio State', 59, 215)
UMass ('UMass', 100, 250)
Northeastern ('Northwestern', 92, 229)
Rhode Island ('Rhode Island Rams', 83, 77)
Villanova ('Villanova Wildcats', 67, 112)
Richmond ('Richmond Spiders', 67, 37)
William ('Illinois', 53, 204)
Delaware ('Delaware State Hornets', 53, 7)
James Madison ('James Madison Dukes', 81, 20)
Towson ('Towson Tigers', 63, 68)
Old Dominion ('Old Dominion', 100, 167)
North Carolina Central ('North Carolina Central Eagles', 86, 87)
Winston-Salem ('Washington State', 69, 201)
Savannah State ('Savannah State Tigers', 80, 108)
UC Davis ('UC Davis Aggies', 70, 1)
North Dakota ('North Texas', 70, 132)
South Dakota ('South Dakota Coyotes', 75, 32)
Southern Utah ('Southern Jaguars', 76, 0)
Cal Poly ('Cal Poly Mustangs', 64, 4)
Penn ('Penn State', 57, 137)
Harvard ('Harvard Crimson', 64, 58)
Brown ('Brown Bears', 62, 22)
Columbia ('Columbia Lions', 73, 73)
Princeton ('Princeton Tigers', 72, 92)
Yale ('Syracuse', 50, 155)
Dartmouth ('Dartmouth Big Green', 64, 78)
Cornell ('Cornell Big Red', 64, 102)
South Carolina State ('South Carolina State Bulldogs', 82, 88)
Florida A&M ('Florida', 78, 240)
Norfolk State ('Norfolk State Spartans', 74, 118)
Morgan State ('Oregon State', 83, 223)
Bethune-Cookman ('Bethune–Cookman Wildcats', 77, 82)
Delaware State ('Delaware State Hornets', 78, 7)
Hampton ('Hampton Pirates', 64, 10)
North Carolina A ('North Carolina', 93, 188)
Howard ('Howard Bison', 67, 120)
Southern Illinois ('Northern Illinois', 88, 144)
South Dakota State ('South Dakota Coyotes', 79, 32)
Northern Iowa ('Northern Iowa Panthers', 74, 111)
Illinois State ('Illinois State Redbirds', 76, 55)
Missouri State ('Missouri State Bears', 82, 91)
Youngstown State ('Youngstown State Penguins', 78, 105)
North Dakota State ('North Dakota State Bison', 86, 43)
Indiana State ('Michigan State', 74, 237)
Western Illinois ('Northern Illinois', 79, 144)
Central Connecticut ('Central Connecticut Blue Devils', 76, 12)
Albany ('Alabama', 62, 147)
Wagner ('Wagner Seahawks', 57, 113)
Robert Morris ('Robert Morris Colonials', 72, 67)
Bryant ('Bryant Bulldogs', 57, 24)
Monmouth ('Monmouth Hawks', 73, 72)
Duquesne ('Duquesne Dukes', 73, 11)
Sacred Heart ('Sacred Heart Pioneers', 73, 26)
St Francis ('Saint Francis Red Flash', 61, 34)
Jacksonville State ('Jacksonville State Gamecocks', 78, 70)
Eastern Illinois ('Northern Illinois', 79, 144)
Tennessee Tech ('Tennessee', 78, 212)
Eastern Kentucky ('Western Kentucky', 94, 176)
Tennessee-Martin ('Tennessee', 72, 212)
Tennessee State ('Tennessee State Tigers', 81, 84)
Austin Peay ('Austin Peay Governors', 69, 48)
Murray State ('Murray State Racers', 77, 100)
Southeast Missouri State ('Southeast Missouri State Redhawks', 84, 62)
Holy Cross ('Holy Cross Crusaders', 67, 47)
Colgate ('Colgate Raiders', 64, 8)
Lafayette ('Lafayette Leopards', 67, 45)
Lehigh ('Memphis', 46, 197)
Fordham ('Fordham Rams', 74, 28)
Bucknell ('Bucknell Bison', 73, 27)
Georgetown ('Georgetown Hoyas', 77, 29)
Butler ('Rutgers', 62, 175)
Dayton ('Dayton Flyers', 63, 116)
Drake ('Duke', 67, 145)
Jacksonville ('Jacksonville Dolphins', 73, 31)
Marist ('Marshall', 57, 180)
San Diego ('San Diego State', 75, 234)
Davidson ('Davidson Wildcats', 64, 97)
Campbell ('Campbell Fighting Camels', 50, 14)
Morehead State ('Morehead State Eagles', 80, 66)
Valparaiso ('Valparaiso Crusaders', 67, 21)
Appalachian State ('Appalachian State', 100, 189)
Elon ('Oregon', 60, 134)
Furman ('Furman Paladins', 57, 89)
Chattanooga ('Chattanooga Mocs', 81, 44)
Georgia Southern ('Georgia Southern', 100, 128)
Samford ('Stanford', 80, 239)
The Citadel ('The Citadel Bulldogs', 71, 69)
Wofford ('Wofford Terriers', 61, 51)
Western Carolina ('East Carolina', 83, 135)
Stephen F Austin ('Stephen F. Austin Lumberjacks', 71, 60)
McNeese State ('McNeese State Cowboys', 76, 30)
Texas State ('Texas State', 100, 179)
Southeastern Louisiana ('Southeastern Louisiana Lions', 88, 107)
Sam Houston State ('Sam Houston State Bearkats', 79, 18)
Central Arkansas ('Central Arkansas Bears', 84, 42)
Nicholls State ('Nicholls State Colonels', 76, 76)
Northwestern State ('Northwestern State Demons', 84, 57)
Alabama A&M ('Alabama', 78, 147)
Alcorn State ('Alcorn State Braves', 77, 65)
Jackson State ('Jackson State Tigers', 79, 80)
Alabama State ('Alabama State Hornets', 76, 83)
Mississippi Valley State ('Mississippi State', 83, 159)
Prairie View A ('Prairie View A&M Panthers', 72, 90)
Texas Southern ('Texas Southern Tigers', 80, 15)
Grambling State ('Grambling State Tigers', 81, 40)
Arkansas-Pine ('Arkansas', 76, 222)
Southern ('Southern Miss', 76, 154)
Montana State ('Montana State Bobcats', 76, 17)
Eastern Washington ('Eastern Washington Eagles', 84, 98)
Montana ('Montana Grizzlies', 58, 115)
Sacramento State ('Sacramento State Hornets', 80, 61)
Weber State ('Boise State', 73, 127)
Northern Arizona ('Northern Arizona Lumberjacks', 73, 114)
Northern Colorado ('Northern Colorado Bears', 85, 85)
Portland State ('Portland State Vikings', 78, 93)
Idaho State ('Iowa State', 76, 178)
Liberty ('Liberty Flames', 67, 121)
Coastal Carolina ('Coastal Carolina', 100, 146)
Stony Brook ('Stony Brook Seawolves', 69, 71)
Gardner-Webb ("Gardner–Webb Runnin' Bulldogs", 59, 41)
VMIVMI ('Miami', 73, 173)
Charleston Southern ('Charleston Southern Buccaneers', 78, 23)
Presbyterian College ('Presbyterian Blue Hose', 76, 13)
William ('Illinois', 53, 204)
Delaware ('Delaware State Hornets', 53, 7)
New Hampshire ('New Hampshire Wildcats', 74, 117)
Villanova ('Villanova Wildcats', 67, 112)
UMass ('UMass', 100, 250)
Rhode Island ('Rhode Island Rams', 83, 77)
Richmond ('Richmond Spiders', 67, 37)
Maine ('Miami', 60, 173)
James Madison ('James Madison Dukes', 81, 20)
Towson ('Towson Tigers', 63, 68)
Old Dominion ('Old Dominion', 100, 167)
Georgia State ('Georgia State', 100, 217)
Southern Utah ('Southern Jaguars', 76, 0)
UC Davis ('UC Davis Aggies', 70, 1)
Cal Poly ('Cal Poly Mustangs', 64, 4)
South Dakota ('South Dakota Coyotes', 75, 32)
North Dakota ('North Texas', 70, 132)
Penn ('Penn State', 57, 137)
Harvard ('Harvard Crimson', 64, 58)
Yale ('Syracuse', 50, 155)
Brown ('Brown Bears', 62, 22)
Dartmouth ('Dartmouth Big Green', 64, 78)
Columbia ('Columbia Lions', 73, 73)
Cornell ('Cornell Big Red', 64, 102)
Princeton ('Princeton Tigers', 72, 92)
Bethune-Cookman ('Bethune–Cookman Wildcats', 77, 82)
South Carolina State ('South Carolina State Bulldogs', 82, 88)
Florida A&M ('Florida', 78, 240)
Hampton ('Hampton Pirates', 64, 10)
Norfolk State ('Norfolk State Spartans', 74, 118)
Savannah State ('Savannah State Tigers', 80, 108)
Morgan State ('Oregon State', 83, 223)
Delaware State ('Delaware State Hornets', 78, 7)
North Carolina A ('North Carolina', 93, 188)

North Carolina Central ('North Carolina Central Eagles', 86, 87)
Howard ('Howard Bison', 67, 120)
Northern Iowa ('Northern Iowa Panthers', 74, 111)
Western Illinois ('Northern Illinois', 79, 144)
North Dakota State ('North Dakota State Bison', 86, 43)
Illinois State ('Illinois State Redbirds', 76, 55)
Indiana State ('Michigan State', 74, 237)
Missouri State ('Missouri State Bears', 82, 91)
South Dakota State ('South Dakota Coyotes', 79, 32)
Southern Illinois ('Northern Illinois', 88, 144)
Youngstown State ('Youngstown State Penguins', 78, 105)
Central Connecticut ('Central Connecticut Blue Devils', 76, 12)
Robert Morris ('Robert Morris Colonials', 72, 67)
Duquesne ('Duquesne Dukes', 73, 11)
Bryant ('Bryant Bulldogs', 57, 24)
Albany ('Alabama', 62, 147)
Wagner ('Wagner Seahawks', 57, 113)
Monmouth ('Monmouth Hawks', 73, 72)
Sacred Heart ('Sacred Heart Pioneers', 73, 26)
St Francis ('Saint Francis Red Flash', 61, 34)
Southeast Missouri State ('Southeast Missouri State Redhawks', 84, 62)
Eastern Kentucky ('Western Kentucky', 94, 176)
Jacksonville State ('Jacksonville State Gamecocks', 78, 70)
Murray State ('Murray State Racers', 77, 100)
Tennessee-Martin ('Tennessee', 72, 212)
Tennessee Tech ('Tennessee', 78, 212)
Eastern Illinois ('Northern Illinois', 79, 144)
Austin Peay ('Austin Peay Governors', 69, 48)
Tennessee State ('Tennessee State Tigers', 81, 84)
Lehigh ('Memphis', 46, 197)
Colgate ('Colgate Raiders', 64, 8)
Holy Cross ('Holy Cross Crusaders', 67, 47)
Georgetown ('Georgetown Hoyas', 77, 29)
Lafayette ('Lafayette Leopards', 67, 45)
Bucknell ('Bucknell Bison', 73, 27)
Fordham ('Fordham Rams', 74, 28)
Dayton ('Dayton Flyers', 63, 116)
Jacksonville ('Jacksonville Dolphins', 73, 31)
Drake ('Duke', 67, 145)
San Diego ('San Diego State', 75, 234)
Morehead State ('Morehead State Eagles', 80, 66)
Davidson ('Davidson Wildcats', 64, 97)
Butler ('Rutgers', 62, 175)
Campbell ('Campbell Fighting Camels', 50, 14)
Marist ('Marshall', 57, 180)
Valparaiso ('Valparaiso Crusaders', 67, 21)
Wofford ('Wofford Terriers', 61, 51)
Appalachian State ('Appalachian State', 100, 189)
Georgia Southern ('Georgia Southern', 100, 128)
Chattanooga ('Chattanooga Mocs', 81, 44)
Elon ('Oregon', 60, 134)
Furman ('Furman Paladins', 57, 89)
Samford ('Stanford', 80, 239)
Western Carolina ('East Carolina', 83, 135)
The Citadel ('The Citadel Bulldogs', 71, 69)
Stephen F Austin ('Stephen F. Austin Lumberjacks', 71, 60)
McNeese State ('McNeese State Cowboys', 76, 30)
Central Arkansas ('Central Arkansas Bears', 84, 42)
Sam Houston State ('Sam Houston State Bearkats', 79, 18)
Northwestern State ('Northwestern State Demons', 84, 57)
Nicholls State ('Nicholls State Colonels', 76, 76)
Texas State ('Texas State', 100, 179)
Southeastern Louisiana ('Southeastern Louisiana Lions', 88, 107)
Lamar ('Alabama', 67, 147)
Jackson State ('Jackson State Tigers', 79, 80)
Alabama State ('Alabama State Hornets', 76, 83)
Alcorn State ('Alcorn State Braves', 77, 65)
Alabama A&M ('Alabama', 78, 147)
Mississippi Valley State ('Mississippi State', 83, 159)
Grambling State ('Grambling State Tigers', 81, 40)
Texas Southern ('Texas Southern Tigers', 80, 15)
Prairie View A ('Prairie View A&M Panthers', 72, 90)
Arkansas-Pine ('Arkansas', 76, 222)
Southern ('Southern Miss', 76, 154)
Montana ('Montana Grizzlies', 58, 115)
Montana State ('Montana State Bobcats', 76, 17)
Portland State ('Portland State Vikings', 78, 93)
Eastern Washington ('Eastern Washington Eagles', 84, 98)
Weber State ('Boise State', 73, 127)
Northern Arizona ('Northern Arizona Lumberjacks', 73, 114)
Sacramento State ('Sacramento State Hornets', 80, 61)
Idaho State ('Iowa State', 76, 178)
Northern Colorado ('Northern Colorado Bears', 85, 85)
Stony Brook ('Stony Brook Seawolves', 69, 71)
Liberty ('Liberty Flames', 67, 121)
Coastal Carolina ('Coastal Carolina', 100, 146)
Presbyterian College ('Presbyterian Blue Hose', 76, 13)
Gardner-Webb ("Gardner–Webb Runnin' Bulldogs", 59, 41)
VMIVMI ('Miami', 73, 173)
Charleston Southern ('Charleston Southern Buccaneers', 78, 23)
Towson ('Towson Tigers', 63, 68)
Old Dominion ('Old Dominion', 100, 167)
Maine ('Miami', 60, 173)
New Hampshire ('New Hampshire Wildcats', 74, 117)
James Madison ('James Madison Dukes', 81, 20)
Delaware ('Delaware State Hornets', 53, 7)
UMass ('UMass', 100, 250)
William ('Illinois', 53, 204)
Rhode Island ('Rhode Island Rams', 83, 77)
Villanova ('Villanova Wildcats', 67, 112)
Richmond ('Richmond Spiders', 67, 37)
Texas State ('Texas State', 100, 179)
Georgia State ('Georgia State', 100, 217)
North Dakota ('North Texas', 70, 132)
Cal Poly ('Cal Poly Mustangs', 64, 4)
South Dakota ('South Dakota Coyotes', 75, 32)
Southern Utah ('Southern Jaguars', 76, 0)
UC Davis ('UC Davis Aggies', 70, 1)
Harvard ('Harvard Crimson', 64, 58)
Brown ('Brown Bears', 62, 22)
Dartmouth ('Dartmouth Big Green', 64, 78)
Penn ('Penn State', 57, 137)
Yale ('Syracuse', 50, 155)
Cornell ('Cornell Big Red', 64, 102)
Columbia ('Columbia Lions', 73, 73)
Princeton ('Princeton Tigers', 72, 92)
Norfolk State ('Norfolk State Spartans', 74, 118)
Bethune-Cookman ('Bethune–Cookman Wildcats', 77, 82)
South Carolina State ('South Carolina State Bulldogs', 82, 88)
Florida A&M ('Florida', 78, 240)
Hampton ('Hampton Pirates', 64, 10)
Howard ('Howard Bison', 67, 120)
Morgan State ('Oregon State', 83, 223)
North Carolina A ('North Carolina', 93, 188)
Delaware State ('Delaware State Hornets', 78, 7)
North Carolina Central ('North Carolina Central Eagles', 86, 87)
Savannah State ('Savannah State Tigers', 80, 108)
North Dakota State ('North Dakota State Bison', 86, 43)
Northern Iowa ('Northern Iowa Panthers', 74, 111)
Illinois State ('Illinois State Redbirds', 76, 55)
Indiana State ('Michigan State', 74, 237)
South Dakota State ('South Dakota Coyotes', 79, 32)
Youngstown State ('Youngstown State Penguins', 78, 105)
Southern Illinois ('Northern Illinois', 88, 144)
Missouri State ('Missouri State Bears', 82, 91)
Western Illinois ('Northern Illinois', 79, 144)
Duquesne ('Duquesne Dukes', 73, 11)
Albany ('Alabama', 62, 147)
Bryant ('Bryant Bulldogs', 57, 24)
Monmouth ('Monmouth Hawks', 73, 72)
Wagner ('Wagner Seahawks', 57, 113)
Sacred Heart ('Sacred Heart Pioneers', 73, 26)
Central Connecticut ('Central Connecticut Blue Devils', 76, 12)
Robert Morris ('Robert Morris Colonials', 72, 67)
St Francis ('Saint Francis Red Flash', 61, 34)
Eastern Kentucky ('Western Kentucky', 94, 176)
Jacksonville State ('Jacksonville State Gamecocks', 78, 70)
Tennessee Tech ('Tennessee', 78, 212)
Murray State ('Murray State Racers', 77, 100)
Tennessee State ('Tennessee State Tigers', 81, 84)
Tennessee-Martin ('Tennessee', 72, 212)
Austin Peay ('Austin Peay Governors', 69, 48)
Southeast Missouri State ('Southeast Missouri State Redhawks', 84, 62)
Eastern Illinois ('Northern Illinois', 79, 144)
Lehigh ('Memphis', 46, 197)
Georgetown ('Georgetown Hoyas', 77, 29)
Holy Cross ('Holy Cross Crusaders', 67, 47)
Bucknell ('Bucknell Bison', 73, 27)
Colgate ('Colgate Raiders', 64, 8)
Lafayette ('Lafayette Leopards', 67, 45)
Fordham ('Fordham Rams', 74, 28)
Drake ('Duke', 67, 145)
San Diego ('San Diego State', 75, 234)
Jacksonville ('Jacksonville Dolphins', 73, 31)
Campbell ('Campbell Fighting Camels', 50, 14)
Dayton ('Dayton Flyers', 63, 116)
Butler ('Rutgers', 62, 175)
Marist ('Marshall', 57, 180)
Davidson ('Davidson Wildcats', 64, 97)
Morehead State ('Morehead State Eagles', 80, 66)
Valparaiso ('Valparaiso Crusaders', 67, 21)
Georgia Southern ('Georgia Southern', 100, 128)
Wofford ('Wofford Terriers', 61, 51)
Appalachian State ('Appalachian State', 100, 189)
Furman ('Furman Paladins', 57, 89)
Samford ('Stanford', 80, 239)
Chattanooga ('Chattanooga Mocs', 81, 44)
Elon ('Oregon', 60, 134)
The Citadel ('The Citadel Bulldogs', 71, 69)
Western Carolina ('East Carolina', 83, 135)
Sam Houston State ('Sam Houston State Bearkats', 79, 18)
Central Arkansas ('Central Arkansas Bears', 84, 42)
Stephen F Austin ('Stephen F. Austin Lumberjacks', 71, 60)
McNeese State ('McNeese State Cowboys', 76, 30)
Northwestern State ('Northwestern State Demons', 84, 57)
Lamar ('Alabama', 67, 147)
Southeastern Louisiana ('Southeastern Louisiana Lions', 88, 107)
Nicholls State ('Nicholls State Colonels', 76, 76)
Jackson State ('Jackson State Tigers', 79, 80)
Alabama A&M ('Alabama', 78, 147)
Alabama State ('Alabama State Hornets', 76, 83)
Alcorn State ('Alcorn State Braves', 77, 65)
Mississippi Valley State ('Mississippi State', 83, 159)
Grambling State ('Grambling State Tigers', 81, 40)
Arkansas-Pine ('Arkansas', 76, 222)
Prairie View A ('Prairie View A&M Panthers', 72, 90)
Southern ('Southern Miss', 76, 154)
Texas Southern ('Texas Southern Tigers', 80, 15)
Eastern Washington ('Eastern Washington Eagles', 84, 98)
Montana State ('Montana State Bobcats', 76, 17)
Cal Poly ('Cal Poly Mustangs', 64, 4)
Northern Arizona ('Northern Arizona Lumberjacks', 73, 114)
Sacramento State ('Sacramento State Hornets', 80, 61)
Northern Colorado ('Northern Colorado Bears', 85, 85)
Southern Utah ('Southern Jaguars', 76, 0)
Montana ('Montana Grizzlies', 58, 115)
North Dakota ('North Texas', 70, 132)
UC Davis ('UC Davis Aggies', 70, 1)
Portland State ('Portland State Vikings', 78, 93)
Weber State ('Boise State', 73, 127)
Idaho State ('Iowa State', 76, 178)
Stony Brook ('Stony Brook Seawolves', 69, 71)

Coastal Carolina ('Coastal Carolina', 100, 146)
Liberty ('Liberty Flames', 67, 121)
Charleston Southern ('Charleston Southern Buccaneers', 78, 23)
Gardner-Webb ("Gardner–Webb Runnin' Bulldogs", 59, 41)
VMIVMI ('Miami', 73, 173)
Presbyterian College ('Presbyterian Blue Hose', 76, 13)
Old Dominion ('Old Dominion', 100, 167)
New Hampshire ('New Hampshire Wildcats', 74, 117)
Richmond ('Richmond Spiders', 67, 37)
Villanova ('Villanova Wildcats', 67, 112)
Towson ('Towson Tigers', 63, 68)
James Madison ('James Madison Dukes', 81, 20)
Maine ('Miami', 60, 173)
Delaware ('Delaware State Hornets', 53, 7)
William ('Illinois', 53, 204)
Georgia State ('Georgia State', 100, 217)
Rhode Island ('Rhode Island Rams', 83, 77)
Penn ('Penn State', 57, 137)
Harvard ('Harvard Crimson', 64, 58)
Brown ('Brown Bears', 62, 22)
Dartmouth ('Dartmouth Big Green', 64, 78)
Princeton ('Princeton Tigers', 72, 92)
Cornell ('Cornell Big Red', 64, 102)
Columbia ('Columbia Lions', 73, 73)
Yale ('Syracuse', 50, 155)
Bethune-Cookman ('Bethune–Cookman Wildcats', 77, 82)
Howard ('Howard Bison', 67, 120)
North Carolina A ('North Carolina', 93, 188)
Delaware State ('Delaware State Hornets', 78, 7)
North Carolina Central ('North Carolina Central Eagles', 86, 87)
South Carolina State ('South Carolina State Bulldogs', 82, 88)
Florida A&M ('Florida', 78, 240)
Hampton ('Hampton Pirates', 64, 10)
Norfolk State ('Norfolk State Spartans', 74, 118)
Morgan State ('Oregon State', 83, 223)
Savannah State ('Savannah State Tigers', 80, 108)
North Dakota State ('North Dakota State Bison', 86, 43)
South Dakota State ('South Dakota Coyotes', 79, 32)
Illinois State ('Illinois State Redbirds', 76, 55)
Indiana State ('Michigan State', 74, 237)
Southern Illinois ('Northern Illinois', 88, 144)
Youngstown State ('Youngstown State Penguins', 78, 105)
Northern Iowa ('Northern Iowa Panthers', 74, 111)
Missouri State ('Missouri State Bears', 82, 91)
Western Illinois ('Northern Illinois', 79, 144)
South Dakota ('South Dakota Coyotes', 75, 32)
Albany ('Alabama', 62, 147)
Wagner ('Wagner Seahawks', 57, 113)
Monmouth ('Monmouth Hawks', 73, 72)
St Francis ('Saint Francis Red Flash', 61, 34)
Bryant ('Bryant Bulldogs', 57, 24)
Duquesne ('Duquesne Dukes', 73, 11)
Robert Morris ('Robert Morris Colonials', 72, 67)
Central Connecticut ('Central Connecticut Blue Devils', 76, 12)
Sacred Heart ('Sacred Heart Pioneers', 73, 26)
Eastern Illinois ('Northern Illinois', 79, 144)
Eastern Kentucky ('Western Kentucky', 94, 176)
Tennessee-Martin ('Tennessee', 72, 212)
Jacksonville State ('Jacksonville State Gamecocks', 78, 70)
Tennessee State ('Tennessee State Tigers', 81, 84)
Murray State ('Murray State Racers', 77, 100)
Southeast Missouri State ('Southeast Missouri State Redhawks', 84, 62)
Tennessee Tech ('Tennessee', 78, 212)
Austin Peay ('Austin Peay Governors', 69, 48)
Colgate ('Colgate Raiders', 64, 8)
Lehigh ('Memphis', 46, 197)
Georgetown ('Georgetown Hoyas', 77, 29)
Lafayette ('Lafayette Leopards', 67, 45)
Holy Cross ('Holy Cross Crusaders', 67, 47)
Fordham ('Fordham Rams', 74, 28)
Bucknell ('Bucknell Bison', 73, 27)
Butler ('Rutgers', 62, 175)
Drake ('Duke', 67, 145)
San Diego ('San Diego State', 75, 234)
Jacksonville ('Jacksonville Dolphins', 73, 31)
Dayton ('Dayton Flyers', 63, 116)
Marist ('Marshall', 57, 180)
Morehead State ('Morehead State Eagles', 80, 66)
Davidson ('Davidson Wildcats', 64, 97)
Valparaiso ('Valparaiso Crusaders', 67, 21)
Campbell ('Campbell Fighting Camels', 50, 14)
Georgia Southern ('Georgia Southern', 100, 128)
Wofford ('Wofford Terriers', 61, 51)
Appalachian State ('Appalachian State', 100, 189)
Chattanooga ('Chattanooga Mocs', 81, 44)
Samford ('Stanford', 80, 239)
The Citadel ('The Citadel Bulldogs', 71, 69)
Furman ('Furman Paladins', 57, 89)
Elon ('Oregon', 60, 134)
Western Carolina ('East Carolina', 83, 135)
Central Arkansas ('Central Arkansas Bears', 84, 42)
Sam Houston State ('Sam Houston State Bearkats', 79, 18)
Southeastern Louisiana ('Southeastern Louisiana Lions', 88, 107)
McNeese State ('McNeese State Cowboys', 76, 30)
Stephen F Austin ('Stephen F. Austin Lumberjacks', 71, 60)
Northwestern State ('Northwestern State Demons', 84, 57)
Lamar ('Alabama', 67, 147)
Nicholls State ('Nicholls State Colonels', 76, 76)
Alabama State ('Alabama State Hornets', 76, 83)
Jackson State ('Jackson State Tigers', 79, 80)
Alabama A&M ('Alabama', 78, 147)
Mississippi Valley State ('Mississippi State', 83, 159)
Alcorn State ('Alcorn State Braves', 77, 65)
Arkansas-Pine ('Arkansas', 76, 222)
Southern ('Southern Miss', 76, 154)
Prairie View A ('Prairie View A&M Panthers', 72, 90)
Texas Southern ('Texas Southern Tigers', 80, 15)
Grambling State ('Grambling State Tigers', 81, 40)
Eastern Washington ('Eastern Washington Eagles', 84, 98)
Northern Arizona ('Northern Arizona Lumberjacks', 73, 114)
Montana ('Montana Grizzlies', 58, 115)
Southern Utah ('Southern Jaguars', 76, 0)
Montana State ('Montana State Bobcats', 76, 17)
Cal Poly ('Cal Poly Mustangs', 64, 4)
UC Davis ('UC Davis Aggies', 70, 1)
Sacramento State ('Sacramento State Hornets', 80, 61)
Portland State ('Portland State Vikings', 78, 93)
North Dakota ('North Texas', 70, 132)
Weber State ('Boise State', 73, 127)
Idaho State ('Iowa State', 76, 178)
Northern Colorado ('Northern Colorado Bears', 85, 85)
Coastal Carolina ('Coastal Carolina', 100, 146)
Liberty ('Liberty Flames', 67, 121)
Charleston Southern ('Charleston Southern Buccaneers', 78, 23)
Gardner-Webb ("Gardner–Webb Runnin' Bulldogs", 59, 41)
Presbyterian College ('Presbyterian Blue Hose', 76, 13)
VMIVMI ('Miami', 73, 173)
Maine ('Miami', 60, 173)
Towson ('Towson Tigers', 63, 68)
New Hampshire ('New Hampshire Wildcats', 74, 117)
Villanova ('Villanova Wildcats', 67, 112)
Richmond ('Richmond Spiders', 67, 37)
William ('Illinois', 53, 204)
Delaware ('Delaware State Hornets', 53, 7)
Stony Brook ('Stony Brook Seawolves', 69, 71)
James Madison ('James Madison Dukes', 81, 20)
Rhode Island ('Rhode Island Rams', 83, 77)
Albany ('Alabama', 62, 147)
Abilene Christian ('Abilene Christian Wildcats', 79, 9)
Incarnate Word ('Incarnate Word Cardinals', 74, 50)
Monmouth ('Monmouth Hawks', 73, 72)
Charlotte ('Charlotte', 100, 202)
Houston Baptist ('Houston Baptist Huskies', 79, 64)
Harvard ('Harvard Crimson', 64, 58)
Princeton ('Princeton Tigers', 72, 92)
Dartmouth ('Dartmouth Big Green', 64, 78)
Brown ('Brown Bears', 62, 22)
Yale ('Syracuse', 50, 155)
Penn ('Penn State', 57, 137)
Cornell ('Cornell Big Red', 64, 102)
Columbia ('Columbia Lions', 73, 73)
Bethune-Cookman ('Bethune–Cookman Wildcats', 77, 82)
South Carolina State ('South Carolina State Bulldogs', 82, 88)
Delaware State ('Delaware State Hornets', 78, 7)
Morgan State ('Oregon State', 83, 223)
North Carolina A ('North Carolina', 93, 188)
Howard ('Howard Bison', 67, 120)
Hampton ('Hampton Pirates', 64, 10)
North Carolina Central ('North Carolina Central Eagles', 86, 87)
Norfolk State ('Norfolk State Spartans', 74, 118)
Florida A&M ('Florida', 78, 240)
Savannah State ('Savannah State Tigers', 80, 108)
North Dakota State ('North Dakota State Bison', 86, 43)
South Dakota State ('South Dakota Coyotes', 79, 32)
Youngstown State ('Youngstown State Penguins', 78, 105)
Southern Illinois ('Northern Illinois', 88, 144)
Missouri State ('Missouri State Bears', 82, 91)
Illinois State ('Illinois State Redbirds', 76, 55)
South Dakota ('South Dakota Coyotes', 75, 32)
Northern Iowa ('Northern Iowa Panthers', 74, 111)
Western Illinois ('Northern Illinois', 79, 144)
Indiana State ('Michigan State', 74, 237)
Sacred Heart ('Sacred Heart Pioneers', 73, 26)
Duquesne ('Duquesne Dukes', 73, 11)
Bryant ('Bryant Bulldogs', 57, 24)
Robert Morris ('Robert Morris Colonials', 72, 67)
St Francis ('Saint Francis Red Flash', 61, 34)
Central Connecticut ('Central Connecticut Blue Devils', 76, 12)
Wagner ('Wagner Seahawks', 57, 113)
Eastern Illinois ('Northern Illinois', 79, 144)
Tennessee State ('Tennessee State Tigers', 81, 84)
Jacksonville State ('Jacksonville State Gamecocks', 78, 70)
Tennessee-Martin ('Tennessee', 72, 212)
Eastern Kentucky ('Western Kentucky', 94, 176)
Murray State ('Murray State Racers', 77, 100)
Tennessee Tech ('Tennessee', 78, 212)
Southeast Missouri State ('Southeast Missouri State Redhawks', 84, 62)
Austin Peay ('Austin Peay Governors', 69, 48)
Lafayette ('Lafayette Leopards', 67, 45)
Lehigh ('Memphis', 46, 197)
Bucknell ('Bucknell Bison', 73, 27)
Colgate ('Colgate Raiders', 64, 8)
Holy Cross ('Holy Cross Crusaders', 67, 47)
Georgetown ('Georgetown Hoyas', 77, 29)
Fordham ('Fordham Rams', 74, 28)
Butler ('Rutgers', 62, 175)
Marist ('Marshall', 57, 180)
San Diego ('San Diego State', 75, 234)
Mercer ('Mercer Bears', 67, 81)
Dayton ('Dayton Flyers', 63, 116)
Drake ('Duke', 67, 145)
Jacksonville ('Jacksonville Dolphins', 73, 31)
Morehead State ('Morehead State Eagles', 80, 66)
Campbell ('Campbell Fighting Camels', 50, 14)
Stetson ('Stetson Hatters', 64, 104)
Valparaiso ('Valparaiso Crusaders', 67, 21)
Davidson ('Davidson Wildcats', 64, 97)
Chattanooga ('Chattanooga Mocs', 81, 44)
Furman ('Furman Paladins', 57, 89)
Samford ('Stanford', 80, 239)
Georgia Southern ('Georgia Southern', 100, 128)
The Citadel ('The Citadel Bulldogs', 71, 69)
Wofford ('Wofford Terriers', 61, 51)
Appalachian State ('Appalachian State', 100, 189)
Elon ('Oregon', 60, 134)
Western Carolina ('East Carolina', 83, 135)
Southeastern Louisiana ('Southeastern Louisiana Lions', 88, 107)
McNeese State ('McNeese State Cowboys', 76, 30)
Sam Houston State ('Sam Houston State Bearkats', 79, 18)
Central Arkansas ('Central Arkansas Bears', 84, 42)
Northwestern State ('Northwestern State Demons', 84, 57)
Lamar ('Alabama', 67, 147)
Nicholls State ('Nicholls State Colonels', 76, 76)
Stephen F Austin ('Stephen F. Austin Lumberjacks', 71, 60)
Jackson State ('Jackson State Tigers', 79, 80)
Alcorn State ('Alcorn State Braves', 77, 65)
Alabama State ('Alabama State Hornets', 76, 83)
Alabama A&M ('Alabama', 78, 147)
Mississippi Valley State ('Mississippi State', 83, 159)
Southern ('Southern Miss', 76, 154)
Prairie View A ('Prairie View A&M Panthers', 72, 90)
Arkansas-Pine ('Arkansas', 76, 222)
Texas Southern ('Texas Southern Tigers', 80, 15)
Grambling State ('Grambling State Tigers', 81, 40)
Eastern Washington ('Eastern Washington Eagles', 84, 98)
Montana ('Montana Grizzlies', 58, 115)
Montana State ('Montana State Bobcats', 76, 17)
Idaho State ('Iowa State', 76, 178)
Northern Arizona ('Northern Arizona Lumberjacks', 73, 114)
Cal Poly ('Cal Poly Mustangs', 64, 4)
Sacramento State ('Sacramento State Hornets', 80, 61)
Southern Utah ('Southern Jaguars', 76, 0)
North Dakota ('North Texas', 70, 132)
Portland State ('Portland State Vikings', 78, 93)
Weber State ('Boise State', 73, 127)
Northern Colorado ('Northern Colorado Bears', 85, 85)
UC Davis ('UC Davis Aggies', 70, 1)
Liberty ('Liberty Flames', 67, 121)
Coastal Carolina ('Coastal Carolina', 100, 146)
Presbyterian College ('Presbyterian Blue Hose', 76, 13)
Charleston Southern ('Charleston Southern Buccaneers', 78, 23)
Monmouth ('Monmouth Hawks', 73, 72)
Gardner-Webb ("Gardner–Webb Runnin' Bulldogs", 59, 41)
New Hampshire ('New Hampshire Wildcats', 74, 117)
Villanova ('Villanova Wildcats', 67, 112)
James Madison ('James Madison Dukes', 81, 20)
Richmond ('Richmond Spiders', 67, 37)
William ('Illinois', 53, 204)
Stony Brook ('Stony Brook Seawolves', 69, 71)
Delaware ('Delaware State Hornets', 53, 7)
Maine ('Miami', 60, 173)
Albany ('Alabama', 62, 147)
Towson ('Towson Tigers', 63, 68)
Rhode Island ('Rhode Island Rams', 83, 77)
Elon ('Oregon', 60, 134)
Charlotte ('Charlotte', 100, 202)
Harvard ('Harvard Crimson', 64, 58)
Dartmouth ('Dartmouth Big Green', 64, 78)

Yale ('Syracuse', 50, 155)
Princeton ('Princeton Tigers', 72, 92)
Brown ('Brown Bears', 62, 22)
Penn ('Penn State', 57, 137)
Cornell ('Cornell Big Red', 64, 102)
Columbia ('Columbia Lions', 73, 73)
Morgan State ('Oregon State', 83, 223)
North Carolina Central ('North Carolina Central Eagles', 86, 87)
South Carolina State ('South Carolina State Bulldogs', 82, 88)
Bethune-Cookman ('Bethune–Cookman Wildcats', 77, 82)
North Carolina A ('North Carolina', 93, 188)
Norfolk State ('Norfolk State Spartans', 74, 118)
Florida A&M ('Florida', 78, 240)
Howard ('Howard Bison', 67, 120)
Hampton ('Hampton Pirates', 64, 10)
Delaware State ('Delaware State Hornets', 78, 7)
Savannah State ('Savannah State Tigers', 80, 108)
North Dakota State ('North Dakota State Bison', 86, 43)
Illinois State ('Illinois State Redbirds', 76, 55)
Northern Iowa ('Northern Iowa Panthers', 74, 111)
South Dakota State ('South Dakota Coyotes', 79, 32)
Indiana State ('Michigan State', 74, 237)
Youngstown State ('Youngstown State Penguins', 78, 105)
Southern Illinois ('Northern Illinois', 88, 144)
Western Illinois ('Northern Illinois', 79, 144)
Missouri State ('Missouri State Bears', 82, 91)
South Dakota ('South Dakota Coyotes', 75, 32)
Sacred Heart ('Sacred Heart Pioneers', 73, 26)
Wagner ('Wagner Seahawks', 57, 113)
Bryant ('Bryant Bulldogs', 57, 24)
St Francis ('Saint Francis Red Flash', 61, 34)
Duquesne ('Duquesne Dukes', 73, 11)
Robert Morris ('Robert Morris Colonials', 72, 67)
Central Connecticut ('Central Connecticut Blue Devils', 76, 12)
Jacksonville State ('Jacksonville State Gamecocks', 78, 70)
Eastern Kentucky ('Western Kentucky', 94, 176)
Tennessee-Martin ('Tennessee', 72, 212)
Eastern Illinois ('Northern Illinois', 79, 144)
Tennessee Tech ('Tennessee', 78, 212)
Southeast Missouri State ('Southeast Missouri State Redhawks', 84, 62)
Tennessee State ('Tennessee State Tigers', 81, 84)
Austin Peay ('Austin Peay Governors', 69, 48)
Murray State ('Murray State Racers', 77, 100)
Fordham ('Fordham Rams', 74, 28)
Bucknell ('Bucknell Bison', 73, 27)
Lafayette ('Lafayette Leopards', 67, 45)
Colgate ('Colgate Raiders', 64, 8)
Holy Cross ('Holy Cross Crusaders', 67, 47)
Lehigh ('Memphis', 46, 197)
Georgetown ('Georgetown Hoyas', 77, 29)
Jacksonville ('Jacksonville Dolphins', 73, 31)
San Diego ('San Diego State', 75, 234)
Drake ('Duke', 67, 145)
Dayton ('Dayton Flyers', 63, 116)
Marist ('Marshall', 57, 180)
Campbell ('Campbell Fighting Camels', 50, 14)
Morehead State ('Morehead State Eagles', 80, 66)
Stetson ('Stetson Hatters', 64, 104)
Valparaiso ('Valparaiso Crusaders', 67, 21)
Butler ('Rutgers', 62, 175)
Davidson ('Davidson Wildcats', 64, 97)
Chattanooga ('Chattanooga Mocs', 81, 44)
Samford ('Stanford', 80, 239)
Western Carolina ('East Carolina', 83, 135)
Wofford ('Wofford Terriers', 61, 51)
The Citadel ('The Citadel Bulldogs', 71, 69)
Furman ('Furman Paladins', 57, 89)
Mercer ('Mercer Bears', 67, 81)
VMIVMI ('Miami', 73, 173)
Sam Houston State ('Sam Houston State Bearkats', 79, 18)
Southeastern Louisiana ('Southeastern Louisiana Lions', 88, 107)
Central Arkansas ('Central Arkansas Bears', 84, 42)
Stephen F Austin ('Stephen F. Austin Lumberjacks', 71, 60)
Lamar ('Alabama', 67, 147)
McNeese State ('McNeese State Cowboys', 76, 30)
Northwestern State ('Northwestern State Demons', 84, 57)
Abilene Christian ('Abilene Christian Wildcats', 79, 9)
Incarnate Word ('Incarnate Word Cardinals', 74, 50)
Houston Baptist ('Houston Baptist Huskies', 79, 64)
Nicholls State ('Nicholls State Colonels', 76, 76)
Alcorn State ('Alcorn State Braves', 77, 65)
Alabama State ('Alabama State Hornets', 76, 83)
Jackson State ('Jackson State Tigers', 79, 80)
Alabama A&M ('Alabama', 78, 147)
Mississippi Valley State ('Mississippi State', 83, 159)
Southern ('Southern Miss', 76, 154)
Grambling State ('Grambling State Tigers', 81, 40)
Prairie View A ('Prairie View A&M Panthers', 72, 90)
Arkansas-Pine ('Arkansas', 76, 222)
Texas Southern ('Texas Southern Tigers', 80, 15)
Southern Utah ('Southern Jaguars', 76, 0)
Portland State ('Portland State Vikings', 78, 93)
Montana ('Montana Grizzlies', 58, 115)
Northern Arizona ('Northern Arizona Lumberjacks', 73, 114)
Eastern Washington ('Eastern Washington Eagles', 84, 98)
Weber State ('Boise State', 73, 127)
North Dakota ('North Texas', 70, 132)
Montana State ('Montana State Bobcats', 76, 17)
Northern Colorado ('Northern Colorado Bears', 85, 85)
Cal Poly ('Cal Poly Mustangs', 64, 4)
UC Davis ('UC Davis Aggies', 70, 1)
Sacramento State ('Sacramento State Hornets', 80, 61)
Idaho State ('Iowa State', 76, 178)
Charleston Southern ('Charleston Southern Buccaneers', 78, 23)
Coastal Carolina ('Coastal Carolina', 100, 146)
Monmouth ('Monmouth Hawks', 73, 72)
Liberty ('Liberty Flames', 67, 121)
Kennesaw State ('Kennesaw State Owls', 85, 46)
Gardner-Webb ("Gardner–Webb Runnin' Bulldogs", 59, 41)
Presbyterian College ('Presbyterian Blue Hose', 76, 13)
Richmond ('Richmond Spiders', 67, 37)
William ('Illinois', 53, 204)
James Madison ('James Madison Dukes', 81, 20)
Towson ('Towson Tigers', 63, 68)
New Hampshire ('New Hampshire Wildcats', 74, 117)
Villanova ('Villanova Wildcats', 67, 112)
Elon ('Oregon', 60, 134)
Delaware ('Delaware State Hornets', 53, 7)
Maine ('Miami', 60, 173)
Stony Brook ('Stony Brook Seawolves', 69, 71)
Albany ('Alabama', 62, 147)
Rhode Island ('Rhode Island Rams', 83, 77)
East Tennessee State ('East Tennessee State Buccaneers', 78, 119)
Harvard ('Harvard Crimson', 64, 58)
Dartmouth ('Dartmouth Big Green', 64, 78)
Penn ('Penn State', 57, 137)
Yale ('Syracuse', 50, 155)
Brown ('Brown Bears', 62, 22)
Princeton ('Princeton Tigers', 72, 92)
Cornell ('Cornell Big Red', 64, 102)
Columbia ('Columbia Lions', 73, 73)
North Carolina A ('North Carolina', 93, 188)
Bethune-Cookman ('Bethune–Cookman Wildcats', 77, 82)
North Carolina Central ('North Carolina Central Eagles', 86, 87)
South Carolina State ('South Carolina State Bulldogs', 82, 88)
Hampton ('Hampton Pirates', 64, 10)
Norfolk State ('Norfolk State Spartans', 74, 118)
Morgan State ('Oregon State', 83, 223)
Savannah State ('Savannah State Tigers', 80, 108)
Florida A&M ('Florida', 78, 240)
Delaware State ('Delaware State Hornets', 78, 7)
Howard ('Howard Bison', 67, 120)
North Dakota State ('North Dakota State Bison', 86, 43)
Illinois State ('Illinois State Redbirds', 76, 55)
Western Illinois ('Northern Illinois', 79, 144)
Northern Iowa ('Northern Iowa Panthers', 74, 111)
South Dakota State ('South Dakota Coyotes', 79, 32)
Indiana State ('Michigan State', 74, 237)
Youngstown State ('Youngstown State Penguins', 78, 105)
South Dakota ('South Dakota Coyotes', 75, 32)
Southern Illinois ('Northern Illinois', 88, 144)
Missouri State ('Missouri State Bears', 82, 91)
Duquesne ('Duquesne Dukes', 73, 11)
St Francis ('Saint Francis Red Flash', 61, 34)
Central Connecticut ('Central Connecticut Blue Devils', 76, 12)
Sacred Heart ('Sacred Heart Pioneers', 73, 26)
Bryant ('Bryant Bulldogs', 57, 24)
Robert Morris ('Robert Morris Colonials', 72, 67)
Wagner ('Wagner Seahawks', 57, 113)
Jacksonville State ('Jacksonville State Gamecocks', 78, 70)
Eastern Illinois ('Northern Illinois', 79, 144)
Tennessee-Martin ('Tennessee', 72, 212)
Eastern Kentucky ('Western Kentucky', 94, 176)
Southeast Missouri State ('Southeast Missouri State Redhawks', 84, 62)
Tennessee Tech ('Tennessee', 78, 212)
Murray State ('Murray State Racers', 77, 100)
Tennessee State ('Tennessee State Tigers', 81, 84)
Austin Peay ('Austin Peay Governors', 69, 48)
Colgate ('Colgate Raiders', 64, 8)
Fordham ('Fordham Rams', 74, 28)
Lehigh ('Memphis', 46, 197)
Holy Cross ('Holy Cross Crusaders', 67, 47)
Georgetown ('Georgetown Hoyas', 77, 29)
Bucknell ('Bucknell Bison', 73, 27)
Lafayette ('Lafayette Leopards', 67, 45)
Dayton ('Dayton Flyers', 63, 116)
San Diego ('San Diego State', 75, 234)
Jacksonville ('Jacksonville Dolphins', 73, 31)
Morehead State ('Morehead State Eagles', 80, 66)
Marist ('Marshall', 57, 180)
Butler ('Rutgers', 62, 175)
Drake ('Duke', 67, 145)
Campbell ('Campbell Fighting Camels', 50, 14)
Stetson ('Stetson Hatters', 64, 104)
Valparaiso ('Valparaiso Crusaders', 67, 21)
Davidson ('Davidson Wildcats', 64, 97)
Chattanooga ('Chattanooga Mocs', 81, 44)
The Citadel ('The Citadel Bulldogs', 71, 69)
Western Carolina ('East Carolina', 83, 135)
Samford ('Stanford', 80, 239)
Wofford ('Wofford Terriers', 61, 51)
Mercer ('Mercer Bears', 67, 81)
Furman ('Furman Paladins', 57, 89)
VMIVMI ('Miami', 73, 173)
McNeese State ('McNeese State Cowboys', 76, 30)
Sam Houston State ('Sam Houston State Bearkats', 79, 18)
Central Arkansas ('Central Arkansas Bears', 84, 42)
Incarnate Word ('Incarnate Word Cardinals', 74, 50)
Northwestern State ('Northwestern State Demons', 84, 57)
Lamar ('Alabama', 67, 147)
Stephen F Austin ('Stephen F. Austin Lumberjacks', 71, 60)
Abilene Christian ('Abilene Christian Wildcats', 79, 9)
Nicholls State ('Nicholls State Colonels', 76, 76)
Southeastern Louisiana ('Southeastern Louisiana Lions', 88, 107)
Houston Baptist ('Houston Baptist Huskies', 79, 64)
Alcorn State ('Alcorn State Braves', 77, 65)
Alabama State ('Alabama State Hornets', 76, 83)
Alabama A&M ('Alabama', 78, 147)
Jackson State ('Jackson State Tigers', 79, 80)
Mississippi Valley State ('Mississippi State', 83, 159)
Grambling State ('Grambling State Tigers', 81, 40)
Prairie View A ('Prairie View A&M Panthers', 72, 90)
Southern ('Southern Miss', 76, 154)
Texas Southern ('Texas Southern Tigers', 80, 15)
Arkansas-Pine ('Arkansas', 76, 222)

In [13]:
win_perc_df.tail()

                TEAMS  WIN_PERCENT YEARS CAPACITY CONFERENCE
1860  Grambling State     0.750000  2015    19600       SWAC
1861   Prairie View A     0.800000  2015    15000       SWAC
1862         Southern     0.545455  2015    36000      C-USA
1863   Texas Southern     0.300000  2015    22039       SWAC
1864    Arkansas-Pine     0.181818  2015    72000        SEC

In [ ]:
# Notes on fixes
# south florida - florida = exists as USF
# northern illinois - southern illinois salukis = exists as NIU
# uscusc - syracuse = south carolina
# florida intl - florida = exists FIU

### Merge attendance info with win perc df using fuzzywuzzy

Make some initial corrections

In [14]:
win_perc_df['TEAMS'] = win_perc_df['TEAMS'].replace('assachusetts', 'Massachusetts')
win_perc_df['TEAMS'] = win_perc_df['TEAMS'].replace('NC State', 'North Carolina St')
attendance_df = attendance_df[attendance_df['Attendance'] != 'UT San Antonio']

In [15]:
win_perc_df.head()

               TEAMS  WIN_PERCENT YEARS CAPACITY CONFERENCE
0            Clemson     0.642857  2009    81500        ACC
1     Boston College     0.615385  2009    44500        ACC
2      Florida State     0.538462  2009    79560        ACC
3        Wake Forest     0.416667  2009    31500        ACC
4  North Carolina St     0.416667  2009    57583        ACC

In [16]:
attendance_df[attendance_df['School'] == 'south_alabama']

            School Home_Games Attendance Average  Year
688  south_alabama          6    110,654  18,442  2011

In [17]:
team_selection2 = attendance_df['School']
average_attendances = []
y = win_perc_df['YEARS'].values
t = win_perc_df['TEAMS'].values
combo = list(zip(t, y))

for team, year in combo:
    select = process.extractOne(team, team_selection2, scorer=fuzz.ratio)
    #print(team, select)
    attendance = attendance_df[(attendance_df['School'] == select[0]) & (attendance_df['Year'] == year)]['Average'].values
    if attendance.any():
        attend = attendance[0]
        average_attendances.append(attend.replace(',',''))
    else:
        attend = 'None'
        average_attendances.append(attend)

win_perc_df['AVG_ATTENDANCE'] = average_attendances

In [18]:
win_perc_df.head()

               TEAMS  WIN_PERCENT YEARS CAPACITY CONFERENCE AVG_ATTENDANCE
0            Clemson     0.642857  2009    81500        ACC          75793
1     Boston College     0.615385  2009    44500        ACC          35716
2      Florida State     0.538462  2009    79560        ACC          74345
3        Wake Forest     0.416667  2009    31500        ACC          31791
4  North Carolina St     0.416667  2009    57583        ACC          56422

In [19]:
combined_df = win_perc_df

In [20]:
combined_df.head()

               TEAMS  WIN_PERCENT YEARS CAPACITY CONFERENCE AVG_ATTENDANCE
0            Clemson     0.642857  2009    81500        ACC          75793
1     Boston College     0.615385  2009    44500        ACC          35716
2      Florida State     0.538462  2009    79560        ACC          74345
3        Wake Forest     0.416667  2009    31500        ACC          31791
4  North Carolina St     0.416667  2009    57583        ACC          56422

Pickle file to save progress

In [ ]:
finaldf_path = '/Users/murdock/Documents/PDF_files/'
combined_df.to_pickle(finaldf_path+ 'final_df.pkl')

### Merge final data, student enrollment, with dataframe

In [21]:
# Check fuzzywuzzy for matching schools. Different scoring did not produce great results. 
institutions = college_enrollment_df['Institution Name'].sort_values(ascending=False)
for team in combined_df['TEAMS'].values:
    institution = process.extractOne(team, institutions, scorer=fuzz.token_set_ratio)
    print(team, institution)

Clemson ('Clemson University', 100, 809)
Boston College ('Boston College', 100, 330)
Florida State ('Florida State University', 100, 141)
Wake Forest ('Wake Forest University', 100, 644)
North Carolina St ('University of North Carolina at Pembroke', 90, 639)
Maryland ('University of Maryland-College Park', 100, 310)
Georgia Tech ('University of West Georgia', 74, 176)
Virginia Tech ('West Virginia Wesleyan College', 76, 975)
Miami ('University of Miami', 100, 144)
North Carolina ('University of North Carolina at Pembroke', 100, 639)
Duke ('Duke University', 100, 612)
Virginia ('West Virginia Wesleyan College', 100, 975)
Nebraska ('University of Nebraska-Lincoln', 100, 467)
Missouri ('University of Missouri-St Louis', 100, 448)
Kansas State ('Kansas State University', 100, 262)
Iowa State ('Iowa State University', 100, 251)
Colorado ('Western State Colorado University', 100, 99)
Kansas ('University of Missouri-Kansas City', 100, 446)
Texas ('West Texas A & M University', 100, 897)
Oklahoma State ('Southwestern Oklahoma State University', 100, 697)
Texas Tech ('Texas Tech University', 100, 894)
Oklahoma ('University of Oklahoma-Norman Campus', 100, 694)
Texas A&M ('West Texas A & M University', 100, 897)
Baylor ('University of Mary Hardin-Baylor', 100, 867)
Cincinnati ('University of Cincinnati-Main Campus', 100, 657)
Pittsburgh ('University of Pittsburgh-Pittsburgh Campus', 100, 774)
West Virginia ('West Virginia Wesleyan College', 100, 975)
Rutgers ('Rutgers University-Newark', 100, 501)
Connecticut ('Western Connecticut State University', 100, 116)
South Florida ('University of South Florida-Main Campus', 100, 150)
Louisville ('University of Louisville', 100, 272)
Syracuse ('Syracuse University', 100, 596)
Ohio State ('Ohio State University-Main Campus', 100, 676)
Iowa ('Upper Iowa University', 100, 257)
Penn State ('Pennsylvania State University-Penn State Erie-Behrend College', 100, 763)
Northwestern ('Northwestern University', 100, 213)
Wisconsin ('Wisconsin Lutheran College', 100, 997)
Michigan State ('Michigan State University', 100, 392)
Purdue ('Purdue University-Main Campus', 100, 1012)
Minnesota ('University of Minnesota-Twin Cities', 100, 413)
Illinois ('Western Illinois University', 100, 220)
Michigan ('Western Michigan University', 100, 401)
Indiana ('University of Southern Indiana', 100, 233)
East Carolina ('East Carolina University', 100, 613)
UCFUCF ('Utica College', 32, 600)
Southern Mississippi ('University of Southern Mississippi', 100, 437)
Marshall ('Marshall University', 100, 969)
UABUAB ('Washburn University', 32, 264)
Memphis ('University of Memphis', 100, 841)
Houston ('University of Houston', 100, 863)
SMUSMU ('Muskingum University', 38, 673)
Tulsa ('University of Tulsa', 100, 698)
UTEPUTEP ('Temple University', 40, 784)
Rice ('Rice University', 100, 873)
Tulane ('Tulane University of Louisiana', 100, 291)
Navy ('SUNY Oneonta', 38, 590)
Notre Dame ('University of Notre Dame', 100, 237)
Army ('Marymount University', 33, 930)
Ohio ('Ohio Wesleyan University', 100, 678)
Temple ('Temple University', 100, 784)
Bowling Green ('Bowling Green State University-Main Campus', 100, 654)
Kent State ('Kent State University at Kent', 100, 666)
Buffalo ('University at Buffalo', 100, 581)
Akron ('University of Akron Main Campus', 100, 650)
Miami Oh ('University of Miami', 77, 144)
Central Michigan ('Central Michigan University', 100, 383)
Northern Illinois ('Northern Illinois University', 100, 212)
Western Michigan ('Western Michigan University', 100, 401)
Toledo ('University of Toledo', 100, 681)
Ball State ('Ball State University', 100, 223)
Eastern Michigan ('Eastern Michigan University', 100, 385)
TCUTCU ('Utica College', 42, 600)
BYUBYU ('SUNY at Albany', 40, 579)
Utah ('Utah Valley University', 100, 902)
Air Force ('United States Air Force Academy', 100, 98)
Wyoming ('University of Wyoming', 100, 1007)
UNLVUNLV ('Bucknell University', 44, 717)
San Diego State ('San Diego State University', 100, 73)
New Mexico ('Western New Mexico University', 100, 513)
Colorado State ('Western State Colorado University', 100, 99)
Oregon ('Western Oregon University', 100, 708)
Arizona ('University of Arizona', 100, 20)
Oregon State ('Oregon State University', 100, 702)
Stanford ('Stanford University', 100, 1011)
South Carolina ('University of South Carolina-Upstate', 100, 824)
California ('University of Southern California', 100, 82)
Washington ('Western Washington University', 100, 958)
UCLAUCLA ('Utica College', 48, 600)
Arizona State ('Arizona State University-Tempe', 100, 19)
Washington State ('Washington State University', 100, 956)
Florida ('University of South Florida-Main Campus', 100, 150)
Georgia ('University of West Georgia', 100, 176)
Tennessee ('The University of Tennessee-Martin', 100, 847)
Kentucky ('Western Kentucky University', 100, 277)
South Carolina ('University of South Carolina-Upstate', 100, 824)
Vanderbilt ('Vanderbilt University', 100, 851)
Alabama ('University of West Alabama', 100, 9)
LSULSU ('Tusculum College', 45, 850)
Ole Miss ('Canisius College', 58, 518)
Arkansas ('University of Central Arkansas', 100, 29)
Auburn ('Auburn University', 100, 5)
Mississippi State ('Mississippi Valley State University', 100, 433)
Troy ('Troy University', 100, 15)
Middle Tennessee ('Middle Tennessee State University', 100, 842)
Louisiana Monroe ('University of Louisiana at Monroe', 100, 286)
Florida Atlantic ('Florida Atlantic University', 100, 137)
Louisiana ('University of Louisiana at Monroe', 100, 286)
Arkansas State ('Arkansas State University-Main Campus', 100, 26)
Florida Intl ('University of South Florida-Main Campus', 74, 150)
North Texas ('University of North Texas', 100, 870)
Western Kentucky ('Western Kentucky University', 100, 277)
Boise State ('Boise State University', 100, 181)
Nevada ('University of Nevada-Reno', 100, 470)
Fresno State ('California State University-Fresno', 100, 45)
Idaho ('University of Idaho', 100, 183)
Hawai ('Shaw University', 40, 643)
Louisiana Tech ('Louisiana Tech University', 100, 282)
Utah State ('Utah State University', 100, 901)
New Mexico State ('New Mexico State University-Main Campus', 100, 512)
San Jose State ('San Jose State University', 100, 77)
Florida State ('Florida State University', 100, 141)
Maryland ('University of Maryland-College Park', 100, 310)
North Carolina St ('University of North Carolina at Pembroke', 90, 639)
Boston College ('Boston College', 100, 330)
Clemson ('Clemson University', 100, 809)
Wake Forest ('Wake Forest University', 100, 644)
Virginia Tech ('West Virginia Wesleyan College', 76, 975)
Miami ('University of Miami', 100, 144)
Georgia Tech ('University of West Georgia', 74, 176)
North Carolina ('University of North Carolina at Pembroke', 100, 639)
Duke ('Duke University', 100, 612)
Virginia ('West Virginia Wesleyan College', 100, 975)
Nebraska ('University of Nebraska-Lincoln', 100, 467)
Missouri ('University of Missouri-St Louis', 100, 448)
Kansas State ('Kansas State University', 100, 262)
Iowa State ('Iowa State University', 100, 251)
Colorado ('Western State Colorado University', 100, 99)
Kansas ('University of Missouri-Kansas City', 100, 446)
Oklahoma ('University of Oklahoma-Norman Campus', 100, 694)
Oklahoma State ('Southwestern Oklahoma State University', 100, 697)
Texas A&M ('West Texas A & M University', 100, 897)
Baylor ('University of Mary Hardin-Baylor', 100, 867)
Texas Tech ('Texas Tech University', 100, 894)
Texas ('West Texas A & M University', 100, 897)
Connecticut ('Western Connecticut State University', 100, 116)
West Virginia ('West Virginia Wesleyan College', 100, 975)
Pittsburgh ('University of Pittsburgh-Pittsburgh Campus', 100, 774)
Syracuse ('Syracuse University', 100, 596)
South Florida ('University of South Florida-Main Campus', 100, 150)
Louisville ('University of Louisville', 100, 272)
Cincinnati ('University of Cincinnati-Main Campus', 100, 657)
Rutgers ('Rutgers University-Newark', 100, 501)
Ohio State ('Ohio State University-Main Campus', 100, 676)
Michigan State ('Michigan State University', 100, 392)
Wisconsin ('Wisconsin Lutheran College', 100, 997)
Iowa ('Upper Iowa University', 100, 257)
Illinois ('Western Illinois University', 100, 220)
Penn State ('Pennsylvania State University-Penn State Erie-Behrend College', 100, 763)
Michigan ('Western Michigan University', 100, 401)

Northwestern ('Northwestern University', 100, 213)
Purdue ('Purdue University-Main Campus', 100, 1012)
Minnesota ('University of Minnesota-Twin Cities', 100, 413)
Indiana ('University of Southern Indiana', 100, 233)
UCFUCF ('Utica College', 32, 600)
East Carolina ('East Carolina University', 100, 613)
Southern Mississippi ('University of Southern Mississippi', 100, 437)
Marshall ('Marshall University', 100, 969)
UABUAB ('Washburn University', 32, 264)
Memphis ('University of Memphis', 100, 841)
SMUSMU ('Muskingum University', 38, 673)
Tulsa ('University of Tulsa', 100, 698)
Houston ('University of Houston', 100, 863)
UTEPUTEP ('Temple University', 40, 784)
Rice ('Rice University', 100, 873)
Tulane ('Tulane University of Louisiana', 100, 291)
Navy ('SUNY Oneonta', 38, 590)
Notre Dame ('University of Notre Dame', 100, 237)
Army ('Marymount University', 33, 930)
Miami Oh ('University of Miami', 77, 144)
Ohio ('Ohio Wesleyan University', 100, 678)
Temple ('Temple University', 100, 784)
Kent State ('Kent State University at Kent', 100, 666)
Bowling Green ('Bowling Green State University-Main Campus', 100, 654)
Buffalo ('University at Buffalo', 100, 581)
Akron ('University of Akron Main Campus', 100, 650)
Northern Illinois ('Northern Illinois University', 100, 212)
Toledo ('University of Toledo', 100, 681)
Western Michigan ('Western Michigan University', 100, 401)
Ball State ('Ball State University', 100, 223)
Central Michigan ('Central Michigan University', 100, 383)
Eastern Michigan ('Eastern Michigan University', 100, 385)
TCUTCU ('Utica College', 42, 600)
Utah ('Utah Valley University', 100, 902)
Air Force ('United States Air Force Academy', 100, 98)
San Diego State ('San Diego State University', 100, 73)
BYUBYU ('SUNY at Albany', 40, 579)
Colorado State ('Western State Colorado University', 100, 99)
UNLVUNLV ('Bucknell University', 44, 717)
New Mexico ('Western New Mexico University', 100, 513)
Wyoming ('University of Wyoming', 100, 1007)
Oregon ('Western Oregon University', 100, 708)
Stanford ('Stanford University', 100, 1011)
Washington ('Western Washington University', 100, 958)
South Carolina ('University of South Carolina-Upstate', 100, 824)
Oregon State ('Oregon State University', 100, 702)
Arizona State ('Arizona State University-Tempe', 100, 19)
Arizona ('University of Arizona', 100, 20)
California ('University of Southern California', 100, 82)
UCLAUCLA ('Utica College', 48, 600)
Washington State ('Washington State University', 100, 956)
South Carolina ('University of South Carolina-Upstate', 100, 824)
Florida ('University of South Florida-Main Campus', 100, 150)
Georgia ('University of West Georgia', 100, 176)
Tennessee ('The University of Tennessee-Martin', 100, 847)
Kentucky ('Western Kentucky University', 100, 277)
Vanderbilt ('Vanderbilt University', 100, 851)
Auburn ('Auburn University', 100, 5)
Arkansas ('University of Central Arkansas', 100, 29)
LSULSU ('Tusculum College', 45, 850)
Alabama ('University of West Alabama', 100, 9)
Mississippi State ('Mississippi Valley State University', 100, 433)
Ole Miss ('Canisius College', 58, 518)
Florida Intl ('University of South Florida-Main Campus', 74, 150)
Troy ('Troy University', 100, 15)
Middle Tennessee ('Middle Tennessee State University', 100, 842)
Arkansas State ('Arkansas State University-Main Campus', 100, 26)
Louisiana Monroe ('University of Louisiana at Monroe', 100, 286)
Florida Atlantic ('Florida Atlantic University', 100, 137)
Louisiana ('University of Louisiana at Monroe', 100, 286)
North Texas ('University of North Texas', 100, 870)
Western Kentucky ('Western Kentucky University', 100, 277)
Nevada ('University of Nevada-Reno', 100, 470)
Boise State ('Boise State University', 100, 181)
Hawai ('Shaw University', 40, 643)
Fresno State ('California State University-Fresno', 100, 45)
Louisiana Tech ('Louisiana Tech University', 100, 282)
Idaho ('University of Idaho', 100, 183)
Utah State ('Utah State University', 100, 901)
New Mexico State ('New Mexico State University-Main Campus', 100, 512)
San Jose State ('San Jose State University', 100, 77)
Clemson ('Clemson University', 100, 809)
Wake Forest ('Wake Forest University', 100, 644)
Florida State ('Florida State University', 100, 141)
North Carolina St ('University of North Carolina at Pembroke', 90, 639)
Boston College ('Boston College', 100, 330)
Maryland ('University of Maryland-College Park', 100, 310)
Virginia Tech ('West Virginia Wesleyan College', 76, 975)
Virginia ('West Virginia Wesleyan College', 100, 975)
Georgia Tech ('University of West Georgia', 74, 176)
Miami ('University of Miami', 100, 144)
North Carolina ('University of North Carolina at Pembroke', 100, 639)
Duke ('Duke University', 100, 612)
Oklahoma State ('Southwestern Oklahoma State University', 100, 697)
Kansas State ('Kansas State University', 100, 262)
Baylor ('University of Mary Hardin-Baylor', 100, 867)
Oklahoma ('University of Oklahoma-Norman Campus', 100, 694)
Missouri ('University of Missouri-St Louis', 100, 448)
Texas ('West Texas A & M University', 100, 897)
Texas A&M ('West Texas A & M University', 100, 897)
Iowa State ('Iowa State University', 100, 251)
Texas Tech ('Texas Tech University', 100, 894)
Kansas ('University of Missouri-Kansas City', 100, 446)
Cincinnati ('University of Cincinnati-Main Campus', 100, 657)
West Virginia ('West Virginia Wesleyan College', 100, 975)
Louisville ('University of Louisville', 100, 272)
Rutgers ('Rutgers University-Newark', 100, 501)
Pittsburgh ('University of Pittsburgh-Pittsburgh Campus', 100, 774)
Connecticut ('Western Connecticut State University', 100, 116)
South Florida ('University of South Florida-Main Campus', 100, 150)
Syracuse ('Syracuse University', 100, 596)
Michigan State ('Michigan State University', 100, 392)
Michigan ('Western Michigan University', 100, 401)
Nebraska ('University of Nebraska-Lincoln', 100, 467)
Iowa ('Upper Iowa University', 100, 257)
Northwestern ('Northwestern University', 100, 213)
Minnesota ('University of Minnesota-Twin Cities', 100, 413)
Wisconsin ('Wisconsin Lutheran College', 100, 997)
Penn State ('Pennsylvania State University-Penn State Erie-Behrend College', 100, 763)
Purdue ('Purdue University-Main Campus', 100, 1012)
Ohio State ('Ohio State University-Main Campus', 100, 676)
Illinois ('Western Illinois University', 100, 220)
Indiana ('University of Southern Indiana', 100, 233)
Southern Mississippi ('University of Southern Mississippi', 100, 437)
Marshall ('Marshall University', 100, 969)
East Carolina ('East Carolina University', 100, 613)
UABUAB ('Washburn University', 32, 264)
UCFUCF ('Utica College', 32, 600)
Memphis ('University of Memphis', 100, 841)
Houston ('University of Houston', 100, 863)
Tulsa ('University of Tulsa', 100, 698)
SMUSMU ('Muskingum University', 38, 673)
Rice ('Rice University', 100, 873)
UTEPUTEP ('Temple University', 40, 784)
Tulane ('Tulane University of Louisiana', 100, 291)
Navy ('SUNY Oneonta', 38, 590)
BYUBYU ('SUNY at Albany', 40, 579)
Notre Dame ('University of Notre Dame', 100, 237)
Army ('Marymount University', 33, 930)
Ohio ('Ohio Wesleyan University', 100, 678)
Temple ('Temple University', 100, 784)
Kent State ('Kent State University at Kent', 100, 666)
Bowling Green ('Bowling Green State University-Main Campus', 100, 654)
Miami Oh ('University of Miami', 77, 144)
Buffalo ('University at Buffalo', 100, 581)
Akron ('University of Akron Main Campus', 100, 650)
Northern Illinois ('Northern Illinois University', 100, 212)
Toledo ('University of Toledo', 100, 681)
Western Michigan ('Western Michigan University', 100, 401)
Ball State ('Ball State University', 100, 223)
Eastern Michigan ('Eastern Michigan University', 100, 385)
Central Michigan ('Central Michigan University', 100, 383)
TCUTCU ('Utica College', 42, 600)
Boise State ('Boise State University', 100, 181)
Wyoming ('University of Wyoming', 100, 1007)
San Diego State ('San Diego State University', 100, 73)
Air Force ('United States Air Force Academy', 100, 98)
Colorado State ('Western State Colorado University', 100, 99)
UNLVUNLV ('Bucknell University', 44, 717)
New Mexico ('Western New Mexico University', 100, 513)
Oregon ('Western Oregon University', 100, 708)
Stanford ('Stanford University', 100, 1011)
Washington ('Western Washington University', 100, 958)
California ('University of Southern California', 100, 82)
Oregon State ('Oregon State University', 100, 702)
Washington State ('Washington State University', 100, 956)
South Carolina ('University of South Carolina-Upstate', 100, 824)
UCLAUCLA ('Utica College', 48, 600)
Arizona State ('Arizona State University-Tempe', 100, 19)
Utah ('Utah Valley University', 100, 902)
Colorado ('Western State Colorado University', 100, 99)

Arizona ('University of Arizona', 100, 20)
Georgia ('University of West Georgia', 100, 176)
South Carolina ('University of South Carolina-Upstate', 100, 824)
Florida ('University of South Florida-Main Campus', 100, 150)
Vanderbilt ('Vanderbilt University', 100, 851)
Kentucky ('Western Kentucky University', 100, 277)
Tennessee ('The University of Tennessee-Martin', 100, 847)
LSULSU ('Tusculum College', 45, 850)
Alabama ('University of West Alabama', 100, 9)
Arkansas ('University of Central Arkansas', 100, 29)
Auburn ('Auburn University', 100, 5)
Mississippi State ('Mississippi Valley State University', 100, 433)
Ole Miss ('Canisius College', 58, 518)
Arkansas State ('Arkansas State University-Main Campus', 100, 26)
Western Kentucky ('Western Kentucky University', 100, 277)
Louisiana ('University of Louisiana at Monroe', 100, 286)
Florida Intl ('University of South Florida-Main Campus', 74, 150)
North Texas ('University of North Texas', 100, 870)
Louisiana Monroe ('University of Louisiana at Monroe', 100, 286)
Troy ('Troy University', 100, 15)
Middle Tennessee ('Middle Tennessee State University', 100, 842)
Florida Atlantic ('Florida Atlantic University', 100, 137)
Louisiana Tech ('Louisiana Tech University', 100, 282)
Utah State ('Utah State University', 100, 901)
Nevada ('University of Nevada-Reno', 100, 470)
San Jose State ('San Jose State University', 100, 77)
Fresno State ('California State University-Fresno', 100, 45)
Hawai ('Shaw University', 40, 643)
New Mexico State ('New Mexico State University-Main Campus', 100, 512)
Idaho ('University of Idaho', 100, 183)
Florida State ('Florida State University', 100, 141)
Clemson ('Clemson University', 100, 809)
North Carolina St ('University of North Carolina at Pembroke', 90, 639)
Wake Forest ('Wake Forest University', 100, 644)
Maryland ('University of Maryland-College Park', 100, 310)
Boston College ('Boston College', 100, 330)
North Carolina ('University of North Carolina at Pembroke', 100, 639)
Georgia Tech ('University of West Georgia', 74, 176)
Miami ('University of Miami', 100, 144)
Virginia Tech ('West Virginia Wesleyan College', 76, 975)
Duke ('Duke University', 100, 612)
Virginia ('West Virginia Wesleyan College', 100, 975)
Kansas State ('Kansas State University', 100, 262)
Oklahoma ('University of Oklahoma-Norman Campus', 100, 694)
Texas ('West Texas A & M University', 100, 897)
Oklahoma State ('Southwestern Oklahoma State University', 100, 697)
Baylor ('University of Mary Hardin-Baylor', 100, 867)
Texas Tech ('Texas Tech University', 100, 894)
TCUTCU ('Utica College', 42, 600)
West Virginia ('West Virginia Wesleyan College', 100, 975)
Iowa State ('Iowa State University', 100, 251)
Kansas ('University of Missouri-Kansas City', 100, 446)
Louisville ('University of Louisville', 100, 272)
Cincinnati ('University of Cincinnati-Main Campus', 100, 657)
Rutgers ('Rutgers University-Newark', 100, 501)
Syracuse ('Syracuse University', 100, 596)
Pittsburgh ('University of Pittsburgh-Pittsburgh Campus', 100, 774)
Temple ('Temple University', 100, 784)
Connecticut ('Western Connecticut State University', 100, 116)
South Florida ('University of South Florida-Main Campus', 100, 150)
Nebraska ('University of Nebraska-Lincoln', 100, 467)
Michigan ('Western Michigan University', 100, 401)
Northwestern ('Northwestern University', 100, 213)
Michigan State ('Michigan State University', 100, 392)
Iowa ('Upper Iowa University', 100, 257)
Minnesota ('University of Minnesota-Twin Cities', 100, 413)
Ohio State ('Ohio State University-Main Campus', 100, 676)
Penn State ('Pennsylvania State University-Penn State Erie-Behrend College', 100, 763)
Wisconsin ('Wisconsin Lutheran College', 100, 997)
Purdue ('Purdue University-Main Campus', 100, 1012)
Indiana ('University of Southern Indiana', 100, 233)
Illinois ('Western Illinois University', 100, 220)
UCFUCF ('Utica College', 32, 600)
East Carolina ('East Carolina University', 100, 613)
Marshall ('Marshall University', 100, 969)
Memphis ('University of Memphis', 100, 841)
UABUAB ('Washburn University', 32, 264)
Southern Mississippi ('University of Southern Mississippi', 100, 437)
Tulsa ('University of Tulsa', 100, 698)
SMUSMU ('Muskingum University', 38, 673)
Houston ('University of Houston', 100, 863)
Rice ('Rice University', 100, 873)
UTEPUTEP ('Temple University', 40, 784)
Tulane ('Tulane University of Louisiana', 100, 291)
Notre Dame ('University of Notre Dame', 100, 237)
BYUBYU ('SUNY at Albany', 40, 579)
Navy ('SUNY Oneonta', 38, 590)
Army ('Marymount University', 33, 930)
Kent State ('Kent State University at Kent', 100, 666)
Bowling Green ('Bowling Green State University-Main Campus', 100, 654)
Ohio ('Ohio Wesleyan University', 100, 678)
Buffalo ('University at Buffalo', 100, 581)
Miami Oh ('University of Miami', 77, 144)
UMass ('Furman University', 36, 814)
Akron ('University of Akron Main Campus', 100, 650)
Northern Illinois ('Northern Illinois University', 100, 212)
Ball State ('Ball State University', 100, 223)
Toledo ('University of Toledo', 100, 681)
Central Michigan ('Central Michigan University', 100, 383)
Western Michigan ('Western Michigan University', 100, 401)
Eastern Michigan ('Eastern Michigan University', 100, 385)
Boise State ('Boise State University', 100, 181)
Fresno State ('California State University-Fresno', 100, 45)
San Diego State ('San Diego State University', 100, 73)
Air Force ('United States Air Force Academy', 100, 98)
Nevada ('University of Nevada-Reno', 100, 470)
Wyoming ('University of Wyoming', 100, 1007)
Colorado State ('Western State Colorado University', 100, 99)
UNLVUNLV ('Bucknell University', 44, 717)
New Mexico ('Western New Mexico University', 100, 513)
Hawai ('Shaw University', 40, 643)
Stanford ('Stanford University', 100, 1011)
Oregon ('Western Oregon University', 100, 708)
Oregon State ('Oregon State University', 100, 702)
Washington ('Western Washington University', 100, 958)
California ('University of Southern California', 100, 82)
Washington State ('Washington State University', 100, 956)
UCLAUCLA ('Utica College', 48, 600)
South Carolina ('University of South Carolina-Upstate', 100, 824)
Arizona State ('Arizona State University-Tempe', 100, 19)
Arizona ('University of Arizona', 100, 20)
Utah ('Utah Valley University', 100, 902)
Colorado ('Western State Colorado University', 100, 99)
Georgia ('University of West Georgia', 100, 176)
Florida ('University of South Florida-Main Campus', 100, 150)
South Carolina ('University of South Carolina-Upstate', 100, 824)
Vanderbilt ('Vanderbilt University', 100, 851)
Missouri ('University of Missouri-St Louis', 100, 448)
Tennessee ('The University of Tennessee-Martin', 100, 847)
Kentucky ('Western Kentucky University', 100, 277)
Alabama ('University of West Alabama', 100, 9)
LSULSU ('Tusculum College', 45, 850)
Texas A&M ('West Texas A & M University', 100, 897)
Mississippi State ('Mississippi Valley State University', 100, 433)
Ole Miss ('Canisius College', 58, 518)
Arkansas ('University of Central Arkansas', 100, 29)
Auburn ('Auburn University', 100, 5)
Arkansas State ('Arkansas State University-Main Campus', 100, 26)
Louisiana ('University of Louisiana at Monroe', 100, 286)
Louisiana Monroe ('University of Louisiana at Monroe', 100, 286)
Middle Tennessee ('Middle Tennessee State University', 100, 842)
Western Kentucky ('Western Kentucky University', 100, 277)
Troy ('Troy University', 100, 15)
North Texas ('University of North Texas', 100, 870)
Florida Intl ('University of South Florida-Main Campus', 74, 150)
Florida Atlantic ('Florida Atlantic University', 100, 137)
South Alabama ('University of South Alabama', 100, 14)
Utah State ('Utah State University', 100, 901)
San Jose State ('San Jose State University', 100, 77)
Louisiana Tech ('Louisiana Tech University', 100, 282)
Texas State ('Texas State University', 100, 881)
Idaho ('University of Idaho', 100, 183)
New Mexico State ('New Mexico State University-Main Campus', 100, 512)
UCFUCF ('Utica College', 32, 600)
Louisville ('University of Louisville', 100, 272)
Cincinnati ('University of Cincinnati-Main Campus', 100, 657)
Houston ('University of Houston', 100, 863)
SMUSMU ('Muskingum University', 38, 673)
Connecticut ('Western Connecticut State University', 100, 116)
Rutgers ('Rutgers University-Newark', 100, 501)
South Florida ('University of South Florida-Main Campus', 100, 150)
Temple ('Temple University', 100, 784)
Memphis ('University of Memphis', 100, 841)
Florida State ('Florida State University', 100, 141)
Clemson ('Clemson University', 100, 809)
Syracuse ('Syracuse University', 100, 596)
Boston College ('Boston College', 100, 330)
Maryland ('University of Maryland-College Park', 100, 310)
Wake Forest ('Wake Forest University', 100, 644)

North Carolina St ('University of North Carolina at Pembroke', 90, 639)
Duke ('Duke University', 100, 612)
Virginia Tech ('West Virginia Wesleyan College', 76, 975)
Miami ('University of Miami', 100, 144)
Georgia Tech ('University of West Georgia', 74, 176)
North Carolina ('University of North Carolina at Pembroke', 100, 639)
Pittsburgh ('University of Pittsburgh-Pittsburgh Campus', 100, 774)
Virginia ('West Virginia Wesleyan College', 100, 975)
Baylor ('University of Mary Hardin-Baylor', 100, 867)
Oklahoma ('University of Oklahoma-Norman Campus', 100, 694)
Oklahoma State ('Southwestern Oklahoma State University', 100, 697)
Texas ('West Texas A & M University', 100, 897)
Kansas State ('Kansas State University', 100, 262)
Texas Tech ('Texas Tech University', 100, 894)
TCUTCU ('Utica College', 42, 600)
West Virginia ('West Virginia Wesleyan College', 100, 975)
Iowa State ('Iowa State University', 100, 251)
Kansas ('University of Missouri-Kansas City', 100, 446)
Michigan State ('Michigan State University', 100, 392)
Iowa ('Upper Iowa University', 100, 257)
Nebraska ('University of Nebraska-Lincoln', 100, 467)
Minnesota ('University of Minnesota-Twin Cities', 100, 413)
Michigan ('Western Michigan University', 100, 401)
Northwestern ('Northwestern University', 100, 213)
Ohio State ('Ohio State University-Main Campus', 100, 676)
Wisconsin ('Wisconsin Lutheran College', 100, 997)
Penn State ('Pennsylvania State University-Penn State Erie-Behrend College', 100, 763)
Indiana ('University of Southern Indiana', 100, 233)
Illinois ('Western Illinois University', 100, 220)
Purdue ('Purdue University-Main Campus', 100, 1012)
Marshall ('Marshall University', 100, 969)
East Carolina ('East Carolina University', 100, 613)
Middle Tennessee ('Middle Tennessee State University', 100, 842)
Florida Atlantic ('Florida Atlantic University', 100, 137)
UABUAB ('Washburn University', 32, 264)
Florida Intl ('University of South Florida-Main Campus', 74, 150)
Southern Mississippi ('University of Southern Mississippi', 100, 437)
Rice ('Rice University', 100, 873)
North Texas ('University of North Texas', 100, 870)
Tulane ('Tulane University of Louisiana', 100, 291)
Louisiana Tech ('Louisiana Tech University', 100, 282)
Tulsa ('University of Tulsa', 100, 698)
UTEPUTEP ('Temple University', 40, 784)
Navy ('SUNY Oneonta', 38, 590)
Notre Dame ('University of Notre Dame', 100, 237)
BYUBYU ('SUNY at Albany', 40, 579)
Old Dominion ('Old Dominion University', 100, 932)
Army ('Marymount University', 33, 930)
New Mexico State ('New Mexico State University-Main Campus', 100, 512)
Idaho ('University of Idaho', 100, 183)
Bowling Green ('Bowling Green State University-Main Campus', 100, 654)
Buffalo ('University at Buffalo', 100, 581)
Ohio ('Ohio Wesleyan University', 100, 678)
Akron ('University of Akron Main Campus', 100, 650)
Kent State ('Kent State University at Kent', 100, 666)
UMass ('Furman University', 36, 814)
Miami Oh ('University of Miami', 77, 144)
Northern Illinois ('Northern Illinois University', 100, 212)
Ball State ('Ball State University', 100, 223)
Toledo ('University of Toledo', 100, 681)
Central Michigan ('Central Michigan University', 100, 383)
Eastern Michigan ('Eastern Michigan University', 100, 385)
Western Michigan ('Western Michigan University', 100, 401)
Utah State ('Utah State University', 100, 901)
Boise State ('Boise State University', 100, 181)
Colorado State ('Western State Colorado University', 100, 99)
Wyoming ('University of Wyoming', 100, 1007)
New Mexico ('Western New Mexico University', 100, 513)
Air Force ('United States Air Force Academy', 100, 98)
Fresno State ('California State University-Fresno', 100, 45)
San Diego State ('San Diego State University', 100, 73)
San Jose State ('San Jose State University', 100, 77)
UNLVUNLV ('Bucknell University', 44, 717)
Nevada ('University of Nevada-Reno', 100, 470)
Hawai ('Shaw University', 40, 643)
Stanford ('Stanford University', 100, 1011)
Oregon ('Western Oregon University', 100, 708)
Washington ('Western Washington University', 100, 958)
Oregon State ('Oregon State University', 100, 702)
Washington State ('Washington State University', 100, 956)
California ('University of Southern California', 100, 82)
Arizona State ('Arizona State University-Tempe', 100, 19)
UCLAUCLA ('Utica College', 48, 600)
South Carolina ('University of South Carolina-Upstate', 100, 824)
Arizona ('University of Arizona', 100, 20)
Utah ('Utah Valley University', 100, 902)
Colorado ('Western State Colorado University', 100, 99)
Missouri ('University of Missouri-St Louis', 100, 448)
South Carolina ('University of South Carolina-Upstate', 100, 824)
Georgia ('University of West Georgia', 100, 176)
Vanderbilt ('Vanderbilt University', 100, 851)
Florida ('University of South Florida-Main Campus', 100, 150)
Tennessee ('The University of Tennessee-Martin', 100, 847)
Kentucky ('Western Kentucky University', 100, 277)
Auburn ('Auburn University', 100, 5)
Alabama ('University of West Alabama', 100, 9)
LSULSU ('Tusculum College', 45, 850)
Texas A&M ('West Texas A & M University', 100, 897)
Mississippi State ('Mississippi Valley State University', 100, 433)
Ole Miss ('Canisius College', 58, 518)
Arkansas ('University of Central Arkansas', 100, 29)
Louisiana ('University of Louisiana at Monroe', 100, 286)
Arkansas State ('Arkansas State University-Main Campus', 100, 26)
Western Kentucky ('Western Kentucky University', 100, 277)
Louisiana Monroe ('University of Louisiana at Monroe', 100, 286)
South Alabama ('University of South Alabama', 100, 14)
Troy ('Troy University', 100, 15)
Texas State ('Texas State University', 100, 881)
Georgia State ('Georgia State University', 100, 165)
Memphis ('University of Memphis', 100, 841)
Cincinnati ('University of Cincinnati-Main Campus', 100, 657)
UCFUCF ('Utica College', 32, 600)
East Carolina ('East Carolina University', 100, 613)
Houston ('University of Houston', 100, 863)
Temple ('Temple University', 100, 784)
South Florida ('University of South Florida-Main Campus', 100, 150)
Tulsa ('University of Tulsa', 100, 698)
Tulane ('Tulane University of Louisiana', 100, 291)
SMUSMU ('Muskingum University', 38, 673)
Connecticut ('Western Connecticut State University', 100, 116)
Florida State ('Florida State University', 100, 141)
Clemson ('Clemson University', 100, 809)
Louisville ('University of Louisville', 100, 272)
Boston College ('Boston College', 100, 330)
North Carolina St ('University of North Carolina at Pembroke', 90, 639)
Syracuse ('Syracuse University', 100, 596)
Wake Forest ('Wake Forest University', 100, 644)
Georgia Tech ('University of West Georgia', 74, 176)
Duke ('Duke University', 100, 612)
North Carolina ('University of North Carolina at Pembroke', 100, 639)
Pittsburgh ('University of Pittsburgh-Pittsburgh Campus', 100, 774)
Virginia Tech ('West Virginia Wesleyan College', 76, 975)
Miami ('University of Miami', 100, 144)
Virginia ('West Virginia Wesleyan College', 100, 975)
Baylor ('University of Mary Hardin-Baylor', 100, 867)
TCUTCU ('Utica College', 42, 600)
Kansas State ('Kansas State University', 100, 262)
Oklahoma ('University of Oklahoma-Norman Campus', 100, 694)
Texas ('West Texas A & M University', 100, 897)
West Virginia ('West Virginia Wesleyan College', 100, 975)
Oklahoma State ('Southwestern Oklahoma State University', 100, 697)
Texas Tech ('Texas Tech University', 100, 894)
Kansas ('University of Missouri-Kansas City', 100, 446)
Iowa State ('Iowa State University', 100, 251)
Ohio State ('Ohio State University-Main Campus', 100, 676)
Michigan State ('Michigan State University', 100, 392)
Maryland ('University of Maryland-College Park', 100, 310)
Rutgers ('Rutgers University-Newark', 100, 501)
Michigan ('Western Michigan University', 100, 401)
Penn State ('Pennsylvania State University-Penn State Erie-Behrend College', 100, 763)
Indiana ('University of Southern Indiana', 100, 233)
Wisconsin ('Wisconsin Lutheran College', 100, 997)
Minnesota ('University of Minnesota-Twin Cities', 100, 413)
Nebraska ('University of Nebraska-Lincoln', 100, 467)
Iowa ('Upper Iowa University', 100, 257)
Illinois ('Western Illinois University', 100, 220)
Northwestern ('Northwestern University', 100, 213)
Purdue ('Purdue University-Main Campus', 100, 1012)
Marshall ('Marshall University', 100, 969)
Middle Tennessee ('Middle Tennessee State University', 100, 842)
UABUAB ('Washburn University', 32, 264)
Western Kentucky ('Western Kentucky University', 100, 277)
Old Dominion ('Old Dominion University', 100, 932)
Florida Intl ('University of South Florida-Main Campus', 74, 150)
Florida Atlantic ('Florida Atlantic University', 100, 137)
Louisiana Tech ('Louisiana Tech University', 100, 282)
Rice ('Rice University', 100, 873)
UTEPUTEP ('Temple University', 40, 784)
North Texas ('University of North Texas', 100, 870)

Southern Mississippi ('University of Southern Mississippi', 100, 437)
Notre Dame ('University of Notre Dame', 100, 237)
Navy ('SUNY Oneonta', 38, 590)
BYUBYU ('SUNY at Albany', 40, 579)
Army ('Marymount University', 33, 930)
Bowling Green ('Bowling Green State University-Main Campus', 100, 654)
Ohio ('Ohio Wesleyan University', 100, 678)
Buffalo ('University at Buffalo', 100, 581)
Akron ('University of Akron Main Campus', 100, 650)
UMass ('Furman University', 36, 814)
Miami Oh ('University of Miami', 77, 144)
Kent State ('Kent State University at Kent', 100, 666)
Northern Illinois ('Northern Illinois University', 100, 212)
Toledo ('University of Toledo', 100, 681)
Western Michigan ('Western Michigan University', 100, 401)
Central Michigan ('Central Michigan University', 100, 383)
Ball State ('Ball State University', 100, 223)
Eastern Michigan ('Eastern Michigan University', 100, 385)
Boise State ('Boise State University', 100, 181)
Colorado State ('Western State Colorado University', 100, 99)
Utah State ('Utah State University', 100, 901)
Air Force ('United States Air Force Academy', 100, 98)
New Mexico ('Western New Mexico University', 100, 513)
Wyoming ('University of Wyoming', 100, 1007)
Fresno State ('California State University-Fresno', 100, 45)
San Diego State ('San Diego State University', 100, 73)
Nevada ('University of Nevada-Reno', 100, 470)
Hawai ('Shaw University', 40, 643)
San Jose State ('San Jose State University', 100, 77)
UNLVUNLV ('Bucknell University', 44, 717)
Oregon ('Western Oregon University', 100, 708)
Stanford ('Stanford University', 100, 1011)
Washington ('Western Washington University', 100, 958)
California ('University of Southern California', 100, 82)
Washington State ('Washington State University', 100, 956)
Oregon State ('Oregon State University', 100, 702)
Arizona ('University of Arizona', 100, 20)
UCLAUCLA ('Utica College', 48, 600)
Arizona State ('Arizona State University-Tempe', 100, 19)
South Carolina ('University of South Carolina-Upstate', 100, 824)
Utah ('Utah Valley University', 100, 902)
Colorado ('Western State Colorado University', 100, 99)
Missouri ('University of Missouri-St Louis', 100, 448)
Georgia ('University of West Georgia', 100, 176)
Florida ('University of South Florida-Main Campus', 100, 150)
Tennessee ('The University of Tennessee-Martin', 100, 847)
South Carolina ('University of South Carolina-Upstate', 100, 824)
Kentucky ('Western Kentucky University', 100, 277)
Vanderbilt ('Vanderbilt University', 100, 851)
Alabama ('University of West Alabama', 100, 9)
Mississippi State ('Mississippi Valley State University', 100, 433)
Ole Miss ('Canisius College', 58, 518)
Auburn ('Auburn University', 100, 5)
LSULSU ('Tusculum College', 45, 850)
Texas A&M ('West Texas A & M University', 100, 897)
Arkansas ('University of Central Arkansas', 100, 29)
Georgia Southern ('Georgia Southern University', 100, 164)
Louisiana ('University of Louisiana at Monroe', 100, 286)
Appalachian State ('Appalachian State University', 100, 605)
Texas State ('Texas State University', 100, 881)
Arkansas State ('Arkansas State University-Main Campus', 100, 26)
South Alabama ('University of South Alabama', 100, 14)
Louisiana Monroe ('University of Louisiana at Monroe', 100, 286)
Troy ('Troy University', 100, 15)
Idaho ('University of Idaho', 100, 183)
New Mexico State ('New Mexico State University-Main Campus', 100, 512)
Georgia State ('Georgia State University', 100, 165)
Temple ('Temple University', 100, 784)
South Florida ('University of South Florida-Main Campus', 100, 150)
Cincinnati ('University of Cincinnati-Main Campus', 100, 657)
Connecticut ('Western Connecticut State University', 100, 116)
East Carolina ('East Carolina University', 100, 613)
UCFUCF ('Utica College', 32, 600)
Houston ('University of Houston', 100, 863)
Navy ('SUNY Oneonta', 38, 590)
Memphis ('University of Memphis', 100, 841)
Tulsa ('University of Tulsa', 100, 698)
SMUSMU ('Muskingum University', 38, 673)
Tulane ('Tulane University of Louisiana', 100, 291)
Clemson ('Clemson University', 100, 809)
Florida State ('Florida State University', 100, 141)
Louisville ('University of Louisville', 100, 272)
North Carolina St ('University of North Carolina at Pembroke', 90, 639)
Syracuse ('Syracuse University', 100, 596)
Wake Forest ('Wake Forest University', 100, 644)
Boston College ('Boston College', 100, 330)
North Carolina ('University of North Carolina at Pembroke', 100, 639)
Pittsburgh ('University of Pittsburgh-Pittsburgh Campus', 100, 774)
Miami ('University of Miami', 100, 144)
Duke ('Duke University', 100, 612)
Virginia Tech ('West Virginia Wesleyan College', 76, 975)
Virginia ('West Virginia Wesleyan College', 100, 975)
Georgia Tech ('University of West Georgia', 74, 176)
Oklahoma ('University of Oklahoma-Norman Campus', 100, 694)
Oklahoma State ('Southwestern Oklahoma State University', 100, 697)
TCUTCU ('Utica College', 42, 600)
Baylor ('University of Mary Hardin-Baylor', 100, 867)
West Virginia ('West Virginia Wesleyan College', 100, 975)
Texas Tech ('Texas Tech University', 100, 894)
Texas ('West Texas A & M University', 100, 897)
Kansas State ('Kansas State University', 100, 262)
Iowa State ('Iowa State University', 100, 251)
Kansas ('University of Missouri-Kansas City', 100, 446)
Michigan State ('Michigan State University', 100, 392)
Ohio State ('Ohio State University-Main Campus', 100, 676)
Michigan ('Western Michigan University', 100, 401)
Penn State ('Pennsylvania State University-Penn State Erie-Behrend College', 100, 763)
Indiana ('University of Southern Indiana', 100, 233)
Maryland ('University of Maryland-College Park', 100, 310)
Rutgers ('Rutgers University-Newark', 100, 501)
Iowa ('Upper Iowa University', 100, 257)
Northwestern ('Northwestern University', 100, 213)
Wisconsin ('Wisconsin Lutheran College', 100, 997)
Nebraska ('University of Nebraska-Lincoln', 100, 467)
Minnesota ('University of Minnesota-Twin Cities', 100, 413)
Illinois ('Western Illinois University', 100, 220)
Purdue ('Purdue University-Main Campus', 100, 1012)
Western Kentucky ('Western Kentucky University', 100, 277)
Middle Tennessee ('Middle Tennessee State University', 100, 842)
Marshall ('Marshall University', 100, 969)
Florida Atlantic ('Florida Atlantic University', 100, 137)
Florida Intl ('University of South Florida-Main Campus', 74, 150)
Old Dominion ('Old Dominion University', 100, 932)
Charlotte ('University of North Carolina at Charlotte', 100, 632)
Southern Mississippi ('University of Southern Mississippi', 100, 437)
Louisiana Tech ('Louisiana Tech University', 100, 282)
UTEPUTEP ('Temple University', 40, 784)
Rice ('Rice University', 100, 873)
North Texas ('University of North Texas', 100, 870)
Notre Dame ('University of Notre Dame', 100, 237)
BYUBYU ('SUNY at Albany', 40, 579)
Army ('Marymount University', 33, 930)
Bowling Green ('Bowling Green State University-Main Campus', 100, 654)
Ohio ('Ohio Wesleyan University', 100, 678)
Akron ('University of Akron Main Campus', 100, 650)
Buffalo ('University at Buffalo', 100, 581)
Kent State ('Kent State University at Kent', 100, 666)
Miami Oh ('University of Miami', 77, 144)
UMass ('Furman University', 36, 814)
Northern Illinois ('Northern Illinois University', 100, 212)
Western Michigan ('Western Michigan University', 100, 401)
Toledo ('University of Toledo', 100, 681)
Central Michigan ('Central Michigan University', 100, 383)
Ball State ('Ball State University', 100, 223)
Eastern Michigan ('Eastern Michigan University', 100, 385)
Air Force ('United States Air Force Academy', 100, 98)
New Mexico ('Western New Mexico University', 100, 513)
Utah State ('Utah State University', 100, 901)
Boise State ('Boise State University', 100, 181)
Colorado State ('Western State Colorado University', 100, 99)
Wyoming ('University of Wyoming', 100, 1007)
San Diego State ('San Diego State University', 100, 73)
Nevada ('University of Nevada-Reno', 100, 470)
San Jose State ('San Jose State University', 100, 77)
Fresno State ('California State University-Fresno', 100, 45)
UNLVUNLV ('Bucknell University', 44, 717)
Hawai ('Shaw University', 40, 643)
Stanford ('Stanford University', 100, 1011)
Oregon ('Western Oregon University', 100, 708)
Washington State ('Washington State University', 100, 956)
California ('University of Southern California', 100, 82)
Washington ('Western Washington University', 100, 958)

Oregon State ('Oregon State University', 100, 702)
South Carolina ('University of South Carolina-Upstate', 100, 824)
Utah ('Utah Valley University', 100, 902)
UCLAUCLA ('Utica College', 48, 600)
Arizona State ('Arizona State University-Tempe', 100, 19)
Arizona ('University of Arizona', 100, 20)
Colorado ('Western State Colorado University', 100, 99)
Florida ('University of South Florida-Main Campus', 100, 150)
Tennessee ('The University of Tennessee-Martin', 100, 847)
Georgia ('University of West Georgia', 100, 176)
Vanderbilt ('Vanderbilt University', 100, 851)
Kentucky ('Western Kentucky University', 100, 277)
Missouri ('University of Missouri-St Louis', 100, 448)
South Carolina ('University of South Carolina-Upstate', 100, 824)
Alabama ('University of West Alabama', 100, 9)
Ole Miss ('Canisius College', 58, 518)
Arkansas ('University of Central Arkansas', 100, 29)
LSULSU ('Tusculum College', 45, 850)
Texas A&M ('West Texas A & M University', 100, 897)
Mississippi State ('Mississippi Valley State University', 100, 433)
Auburn ('Auburn University', 100, 5)
Arkansas State ('Arkansas State University-Main Campus', 100, 26)
Appalachian State ('Appalachian State University', 100, 605)
Georgia Southern ('Georgia Southern University', 100, 164)
Georgia State ('Georgia State University', 100, 165)
South Alabama ('University of South Alabama', 100, 14)
Troy ('Troy University', 100, 15)
New Mexico State ('New Mexico State University-Main Campus', 100, 512)
Idaho ('University of Idaho', 100, 183)
Louisiana ('University of Louisiana at Monroe', 100, 286)
Texas State ('Texas State University', 100, 881)
Louisiana Monroe ('University of Louisiana at Monroe', 100, 286)
Montana ('The University of Montana', 100, 461)
Eastern Washington ('Eastern Washington University', 100, 949)
Weber State ('Weber State University', 100, 904)
Montana State ('Montana State University-Billings', 100, 459)
Northern Arizona ('Northern Arizona University', 100, 22)
Sacramento State ('California State University-Sacramento', 100, 51)
Northern Colorado ('University of Northern Colorado', 100, 95)
Portland State ('Portland State University', 100, 705)
Idaho State ('Idaho State University', 100, 182)
Liberty ('West Liberty University', 100, 974)
Stony Brook ('Stony Brook University', 100, 582)
Charleston Southern ('Charleston Southern University', 100, 805)
Gardner-Webb ('Gardner-Webb University', 100, 617)
Coastal Carolina ('Coastal Carolina University', 100, 822)
VMIVMI ('Emory University', 36, 160)
Presbyterian College ('Presbyterian College', 100, 819)
New Hampshire ('University of New Hampshire-Main Campus', 100, 477)
Maine ('University of Southern Maine', 100, 300)
Hofstra ('Hofstra University', 100, 543)
UMass ('Furman University', 36, 814)
Northeastern ('Northeastern University', 100, 358)
Rhode Island ('University of Rhode Island', 100, 801)
Villanova ('Villanova University', 100, 787)
Richmond ('University of Richmond', 100, 936)
William ('William Peace University', 100, 638)
Delaware ('University of Delaware', 100, 119)
James Madison ('James Madison University', 100, 924)
Towson ('Towson University', 100, 317)
Old Dominion ('Old Dominion University', 100, 932)
North Carolina Central ('North Carolina Central University', 100, 634)
Winston-Salem ('Winston-Salem State University', 100, 646)
Savannah State ('Savannah State University', 100, 173)
UC Davis ('University of California-Davis', 77, 53)
North Dakota ('University of North Dakota', 100, 648)
South Dakota ('University of South Dakota', 100, 830)
Southern Utah ('Southern Utah University', 100, 900)
Cal Poly ('Molloy College', 55, 555)
Penn ('Pennsylvania State University-Penn State Erie-Behrend College', 100, 763)
Harvard ('Harvard University', 100, 343)
Brown ('Brown University', 100, 796)
Columbia ('University of the District of Columbia', 100, 125)
Princeton ('Princeton University', 100, 496)
Yale ('Yale University', 100, 117)
Dartmouth ('University of Massachusetts-Dartmouth', 100, 366)
Cornell ('Cornell University', 100, 524)
South Carolina State ('South Carolina State University', 100, 823)
Florida A&M ('University of South Florida-Main Campus', 78, 150)
Norfolk State ('Norfolk State University', 100, 931)
Morgan State ('Morgan State University', 100, 312)
Bethune-Cookman ('Bethune-Cookman University', 100, 132)
Delaware State ('Delaware State University', 100, 118)
Hampton ('Hampton University', 100, 922)
North Carolina A ('North Carolina A & T State University', 100, 629)
Howard ('Howard University', 100, 129)
Southern Illinois ('Southern Illinois University-Edwardsville', 100, 219)
South Dakota State ('South Dakota State University', 100, 829)
Northern Iowa ('University of Northern Iowa', 100, 255)
Illinois State ('Illinois State University', 100, 202)
Missouri State ('Southeast Missouri State University', 100, 454)
Youngstown State ('Youngstown State University', 100, 687)
North Dakota State ('North Dakota State University-Main Campus', 100, 649)
Indiana State ('Indiana State University', 100, 234)
Western Illinois ('Western Illinois University', 100, 220)
Central Connecticut ('Central Connecticut State University', 100, 102)
Albany ('SUNY at Albany', 100, 579)
Wagner ('Wagner College', 100, 602)
Robert Morris ('Robert Morris University', 100, 775)
Bryant ('Bryant University', 100, 797)
Monmouth ('Monmouth University', 100, 493)
Duquesne ('Duquesne University', 100, 729)
Sacred Heart ('Sacred Heart University', 100, 111)
St Francis ('St Francis College', 100, 570)
Jacksonville State ('Jacksonville State University', 100, 8)
Eastern Illinois ('Eastern Illinois University', 100, 193)
Tennessee Tech ('The University of Tennessee-Martin', 78, 847)
Eastern Kentucky ('Eastern Kentucky University', 100, 268)
Tennessee-Martin ('The University of Tennessee-Martin', 100, 847)
Tennessee State ('Tennessee State University', 100, 848)
Austin Peay ('Austin Peay State University', 100, 831)
Murray State ('Murray State University', 100, 273)
Southeast Missouri State ('Southeast Missouri State University', 100, 454)
Holy Cross ('College of the Holy Cross', 100, 344)
Colgate ('Colgate University', 100, 521)
Lafayette ('University of Louisiana at Lafayette', 100, 290)
Lehigh ('Lehigh University', 100, 750)
Fordham ('Fordham University', 100, 538)
Bucknell ('Bucknell University', 100, 717)
Georgetown ('Georgetown University', 100, 128)
Butler ('Butler University', 100, 224)
Dayton ('University of Dayton', 100, 659)
Drake ('Drake University', 100, 248)
Jacksonville ('Jacksonville University', 100, 143)
Marist ('Marist College', 100, 552)
San Diego ('University of San Diego', 100, 74)
Davidson ('Davidson College', 100, 611)
Campbell ('Campbell University', 100, 608)
Morehead State ('Wayne State College', 61, 468)
Valparaiso ('Valparaiso University', 100, 242)
Appalachian State ('Appalachian State University', 100, 605)
Elon ('Elon University', 100, 615)
Furman ('Furman University', 100, 814)
Chattanooga ('The University of Tennessee-Chattanooga', 100, 845)
Georgia Southern ('Georgia Southern University', 100, 164)
Samford ('Samford University', 100, 13)
The Citadel ('Citadel Military College of South Carolina', 78, 808)
Wofford ('Wofford College', 100, 826)
Western Carolina ('Western Carolina University', 100, 647)
Stephen F Austin ('Stephen F Austin State University', 100, 880)
McNeese State ('McNeese State University', 100, 283)
Texas State ('Texas State University', 100, 881)
Southeastern Louisiana ('Southeastern Louisiana University', 100, 288)
Sam Houston State ('Sam Houston State University', 100, 875)
Central Arkansas ('University of Central Arkansas', 100, 29)
Nicholls State ('Nicholls State University', 100, 285)
Northwestern State ('Northwestern State University of Louisiana', 100, 287)
Alabama A&M ('Alabama A & M University', 100, 0)
Alcorn State ('Alcorn State University', 100, 428)
Jackson State ('Jackson State University', 100, 430)
Alabama State ('Alabama State University', 100, 3)
Mississippi Valley State ('Mississippi Valley State University', 100, 433)
Prairie View A ('Prairie View A & M University', 100, 872)
Texas Southern ('Texas Southern University', 100, 893)
Grambling State ('Grambling State University', 100, 279)
Arkansas-Pine ('University of Arkansas at Pine Bluff', 100, 25)
Southern ('University of Southern Mississippi', 100, 437)
Montana State ('Montana State University-Billings', 100, 459)
Eastern Washington ('Eastern Washington University', 100, 949)
Montana ('The University of Montana', 100, 461)
Sacramento State ('California State University-Sacramento', 100, 51)
Weber State ('Weber State University', 100, 904)
Northern Arizona ('Northern Arizona University', 100, 22)
Northern Colorado ('University of Northern Colorado', 100, 95)
Portland State ('Portland State University', 100, 705)

Idaho State ('Idaho State University', 100, 182)
Liberty ('West Liberty University', 100, 974)
Coastal Carolina ('Coastal Carolina University', 100, 822)
Stony Brook ('Stony Brook University', 100, 582)
Gardner-Webb ('Gardner-Webb University', 100, 617)
VMIVMI ('Emory University', 36, 160)
Charleston Southern ('Charleston Southern University', 100, 805)
Presbyterian College ('Presbyterian College', 100, 819)
William ('William Peace University', 100, 638)
Delaware ('University of Delaware', 100, 119)
New Hampshire ('University of New Hampshire-Main Campus', 100, 477)
Villanova ('Villanova University', 100, 787)
UMass ('Furman University', 36, 814)
Rhode Island ('University of Rhode Island', 100, 801)
Richmond ('University of Richmond', 100, 936)
Maine ('University of Southern Maine', 100, 300)
James Madison ('James Madison University', 100, 924)
Towson ('Towson University', 100, 317)
Old Dominion ('Old Dominion University', 100, 932)
Georgia State ('Georgia State University', 100, 165)
Southern Utah ('Southern Utah University', 100, 900)
UC Davis ('University of California-Davis', 77, 53)
Cal Poly ('Molloy College', 55, 555)
South Dakota ('University of South Dakota', 100, 830)
North Dakota ('University of North Dakota', 100, 648)
Penn ('Pennsylvania State University-Penn State Erie-Behrend College', 100, 763)
Harvard ('Harvard University', 100, 343)
Yale ('Yale University', 100, 117)
Brown ('Brown University', 100, 796)
Dartmouth ('University of Massachusetts-Dartmouth', 100, 366)
Columbia ('University of the District of Columbia', 100, 125)
Cornell ('Cornell University', 100, 524)
Princeton ('Princeton University', 100, 496)
Bethune-Cookman ('Bethune-Cookman University', 100, 132)
South Carolina State ('South Carolina State University', 100, 823)
Florida A&M ('University of South Florida-Main Campus', 78, 150)
Hampton ('Hampton University', 100, 922)
Norfolk State ('Norfolk State University', 100, 931)
Savannah State ('Savannah State University', 100, 173)
Morgan State ('Morgan State University', 100, 312)
Delaware State ('Delaware State University', 100, 118)
North Carolina A ('North Carolina A & T State University', 100, 629)
North Carolina Central ('North Carolina Central University', 100, 634)
Howard ('Howard University', 100, 129)
Northern Iowa ('University of Northern Iowa', 100, 255)
Western Illinois ('Western Illinois University', 100, 220)
North Dakota State ('North Dakota State University-Main Campus', 100, 649)
Illinois State ('Illinois State University', 100, 202)
Indiana State ('Indiana State University', 100, 234)
Missouri State ('Southeast Missouri State University', 100, 454)
South Dakota State ('South Dakota State University', 100, 829)
Southern Illinois ('Southern Illinois University-Edwardsville', 100, 219)
Youngstown State ('Youngstown State University', 100, 687)
Central Connecticut ('Central Connecticut State University', 100, 102)
Robert Morris ('Robert Morris University', 100, 775)
Duquesne ('Duquesne University', 100, 729)
Bryant ('Bryant University', 100, 797)
Albany ('SUNY at Albany', 100, 579)
Wagner ('Wagner College', 100, 602)
Monmouth ('Monmouth University', 100, 493)
Sacred Heart ('Sacred Heart University', 100, 111)
St Francis ('St Francis College', 100, 570)
Southeast Missouri State ('Southeast Missouri State University', 100, 454)
Eastern Kentucky ('Eastern Kentucky University', 100, 268)
Jacksonville State ('Jacksonville State University', 100, 8)
Murray State ('Murray State University', 100, 273)
Tennessee-Martin ('The University of Tennessee-Martin', 100, 847)
Tennessee Tech ('The University of Tennessee-Martin', 78, 847)
Eastern Illinois ('Eastern Illinois University', 100, 193)
Austin Peay ('Austin Peay State University', 100, 831)
Tennessee State ('Tennessee State University', 100, 848)
Lehigh ('Lehigh University', 100, 750)
Colgate ('Colgate University', 100, 521)
Holy Cross ('College of the Holy Cross', 100, 344)
Georgetown ('Georgetown University', 100, 128)
Lafayette ('University of Louisiana at Lafayette', 100, 290)
Bucknell ('Bucknell University', 100, 717)
Fordham ('Fordham University', 100, 538)
Dayton ('University of Dayton', 100, 659)
Jacksonville ('Jacksonville University', 100, 143)
Drake ('Drake University', 100, 248)
San Diego ('University of San Diego', 100, 74)
Morehead State ('Wayne State College', 61, 468)
Davidson ('Davidson College', 100, 611)
Butler ('Butler University', 100, 224)
Campbell ('Campbell University', 100, 608)
Marist ('Marist College', 100, 552)
Valparaiso ('Valparaiso University', 100, 242)
Wofford ('Wofford College', 100, 826)
Appalachian State ('Appalachian State University', 100, 605)
Georgia Southern ('Georgia Southern University', 100, 164)
Chattanooga ('The University of Tennessee-Chattanooga', 100, 845)
Elon ('Elon University', 100, 615)
Furman ('Furman University', 100, 814)
Samford ('Samford University', 100, 13)
Western Carolina ('Western Carolina University', 100, 647)
The Citadel ('Citadel Military College of South Carolina', 78, 808)
Stephen F Austin ('Stephen F Austin State University', 100, 880)
McNeese State ('McNeese State University', 100, 283)
Central Arkansas ('University of Central Arkansas', 100, 29)
Sam Houston State ('Sam Houston State University', 100, 875)
Northwestern State ('Northwestern State University of Louisiana', 100, 287)
Nicholls State ('Nicholls State University', 100, 285)
Texas State ('Texas State University', 100, 881)
Southeastern Louisiana ('Southeastern Louisiana University', 100, 288)
Lamar ('Vassar College', 42, 601)
Jackson State ('Jackson State University', 100, 430)
Alabama State ('Alabama State University', 100, 3)
Alcorn State ('Alcorn State University', 100, 428)
Alabama A&M ('Alabama A & M University', 100, 0)
Mississippi Valley State ('Mississippi Valley State University', 100, 433)
Grambling State ('Grambling State University', 100, 279)
Texas Southern ('Texas Southern University', 100, 893)
Prairie View A ('Prairie View A & M University', 100, 872)
Arkansas-Pine ('University of Arkansas at Pine Bluff', 100, 25)
Southern ('University of Southern Mississippi', 100, 437)
Montana ('The University of Montana', 100, 461)
Montana State ('Montana State University-Billings', 100, 459)
Portland State ('Portland State University', 100, 705)
Eastern Washington ('Eastern Washington University', 100, 949)
Weber State ('Weber State University', 100, 904)
Northern Arizona ('Northern Arizona University', 100, 22)
Sacramento State ('California State University-Sacramento', 100, 51)
Idaho State ('Idaho State University', 100, 182)
Northern Colorado ('University of Northern Colorado', 100, 95)
Stony Brook ('Stony Brook University', 100, 582)
Liberty ('West Liberty University', 100, 974)
Coastal Carolina ('Coastal Carolina University', 100, 822)
Presbyterian College ('Presbyterian College', 100, 819)
Gardner-Webb ('Gardner-Webb University', 100, 617)
VMIVMI ('Emory University', 36, 160)
Charleston Southern ('Charleston Southern University', 100, 805)
Towson ('Towson University', 100, 317)
Old Dominion ('Old Dominion University', 100, 932)
Maine ('University of Southern Maine', 100, 300)
New Hampshire ('University of New Hampshire-Main Campus', 100, 477)
James Madison ('James Madison University', 100, 924)
Delaware ('University of Delaware', 100, 119)
UMass ('Furman University', 36, 814)
William ('William Peace University', 100, 638)
Rhode Island ('University of Rhode Island', 100, 801)
Villanova ('Villanova University', 100, 787)
Richmond ('University of Richmond', 100, 936)
Texas State ('Texas State University', 100, 881)
Georgia State ('Georgia State University', 100, 165)
North Dakota ('University of North Dakota', 100, 648)
Cal Poly ('Molloy College', 55, 555)
South Dakota ('University of South Dakota', 100, 830)
Southern Utah ('Southern Utah University', 100, 900)
UC Davis ('University of California-Davis', 77, 53)
Harvard ('Harvard University', 100, 343)
Brown ('Brown University', 100, 796)
Dartmouth ('University of Massachusetts-Dartmouth', 100, 366)
Penn ('Pennsylvania State University-Penn State Erie-Behrend College', 100, 763)
Yale ('Yale University', 100, 117)
Cornell ('Cornell University', 100, 524)
Columbia ('University of the District of Columbia', 100, 125)
Princeton ('Princeton University', 100, 496)
Norfolk State ('Norfolk State University', 100, 931)
Bethune-Cookman ('Bethune-Cookman University', 100, 132)
South Carolina State ('South Carolina State University', 100, 823)
Florida A&M ('University of South Florida-Main Campus', 78, 150)
Hampton ('Hampton University', 100, 922)

Howard ('Howard University', 100, 129)
Morgan State ('Morgan State University', 100, 312)
North Carolina A ('North Carolina A & T State University', 100, 629)
Delaware State ('Delaware State University', 100, 118)
North Carolina Central ('North Carolina Central University', 100, 634)
Savannah State ('Savannah State University', 100, 173)
North Dakota State ('North Dakota State University-Main Campus', 100, 649)
Northern Iowa ('University of Northern Iowa', 100, 255)
Illinois State ('Illinois State University', 100, 202)
Indiana State ('Indiana State University', 100, 234)
South Dakota State ('South Dakota State University', 100, 829)
Youngstown State ('Youngstown State University', 100, 687)
Southern Illinois ('Southern Illinois University-Edwardsville', 100, 219)
Missouri State ('Southeast Missouri State University', 100, 454)
Western Illinois ('Western Illinois University', 100, 220)
Duquesne ('Duquesne University', 100, 729)
Albany ('SUNY at Albany', 100, 579)
Bryant ('Bryant University', 100, 797)
Monmouth ('Monmouth University', 100, 493)
Wagner ('Wagner College', 100, 602)
Sacred Heart ('Sacred Heart University', 100, 111)
Central Connecticut ('Central Connecticut State University', 100, 102)
Robert Morris ('Robert Morris University', 100, 775)
St Francis ('St Francis College', 100, 570)
Eastern Kentucky ('Eastern Kentucky University', 100, 268)
Jacksonville State ('Jacksonville State University', 100, 8)
Tennessee Tech ('The University of Tennessee-Martin', 78, 847)
Murray State ('Murray State University', 100, 273)
Tennessee State ('Tennessee State University', 100, 848)
Tennessee-Martin ('The University of Tennessee-Martin', 100, 847)
Austin Peay ('Austin Peay State University', 100, 831)
Southeast Missouri State ('Southeast Missouri State University', 100, 454)
Eastern Illinois ('Eastern Illinois University', 100, 193)
Lehigh ('Lehigh University', 100, 750)
Georgetown ('Georgetown University', 100, 128)
Holy Cross ('College of the Holy Cross', 100, 344)
Bucknell ('Bucknell University', 100, 717)
Colgate ('Colgate University', 100, 521)
Lafayette ('University of Louisiana at Lafayette', 100, 290)
Fordham ('Fordham University', 100, 538)
Drake ('Drake University', 100, 248)
San Diego ('University of San Diego', 100, 74)
Jacksonville ('Jacksonville University', 100, 143)
Campbell ('Campbell University', 100, 608)
Dayton ('University of Dayton', 100, 659)
Butler ('Butler University', 100, 224)
Marist ('Marist College', 100, 552)
Davidson ('Davidson College', 100, 611)
Morehead State ('Wayne State College', 61, 468)
Valparaiso ('Valparaiso University', 100, 242)
Georgia Southern ('Georgia Southern University', 100, 164)
Wofford ('Wofford College', 100, 826)
Appalachian State ('Appalachian State University', 100, 605)
Furman ('Furman University', 100, 814)
Samford ('Samford University', 100, 13)
Chattanooga ('The University of Tennessee-Chattanooga', 100, 845)
Elon ('Elon University', 100, 615)
The Citadel ('Citadel Military College of South Carolina', 78, 808)
Western Carolina ('Western Carolina University', 100, 647)
Sam Houston State ('Sam Houston State University', 100, 875)
Central Arkansas ('University of Central Arkansas', 100, 29)
Stephen F Austin ('Stephen F Austin State University', 100, 880)
McNeese State ('McNeese State University', 100, 283)
Northwestern State ('Northwestern State University of Louisiana', 100, 287)
Lamar ('Vassar College', 42, 601)
Southeastern Louisiana ('Southeastern Louisiana University', 100, 288)
Nicholls State ('Nicholls State University', 100, 285)
Jackson State ('Jackson State University', 100, 430)
Alabama A&M ('Alabama A & M University', 100, 0)
Alabama State ('Alabama State University', 100, 3)
Alcorn State ('Alcorn State University', 100, 428)
Mississippi Valley State ('Mississippi Valley State University', 100, 433)
Grambling State ('Grambling State University', 100, 279)
Arkansas-Pine ('University of Arkansas at Pine Bluff', 100, 25)
Prairie View A ('Prairie View A & M University', 100, 872)
Southern ('University of Southern Mississippi', 100, 437)
Texas Southern ('Texas Southern University', 100, 893)
Eastern Washington ('Eastern Washington University', 100, 949)
Montana State ('Montana State University-Billings', 100, 459)
Cal Poly ('Molloy College', 55, 555)
Northern Arizona ('Northern Arizona University', 100, 22)
Sacramento State ('California State University-Sacramento', 100, 51)
Northern Colorado ('University of Northern Colorado', 100, 95)
Southern Utah ('Southern Utah University', 100, 900)
Montana ('The University of Montana', 100, 461)
North Dakota ('University of North Dakota', 100, 648)
UC Davis ('University of California-Davis', 77, 53)
Portland State ('Portland State University', 100, 705)
Weber State ('Weber State University', 100, 904)
Idaho State ('Idaho State University', 100, 182)
Stony Brook ('Stony Brook University', 100, 582)
Coastal Carolina ('Coastal Carolina University', 100, 822)
Liberty ('West Liberty University', 100, 974)
Charleston Southern ('Charleston Southern University', 100, 805)
Gardner-Webb ('Gardner-Webb University', 100, 617)
VMIVMI ('Emory University', 36, 160)
Presbyterian College ('Presbyterian College', 100, 819)
Old Dominion ('Old Dominion University', 100, 932)
New Hampshire ('University of New Hampshire-Main Campus', 100, 477)
Richmond ('University of Richmond', 100, 936)
Villanova ('Villanova University', 100, 787)
Towson ('Towson University', 100, 317)
James Madison ('James Madison University', 100, 924)
Maine ('University of Southern Maine', 100, 300)
Delaware ('University of Delaware', 100, 119)
William ('William Peace University', 100, 638)
Georgia State ('Georgia State University', 100, 165)
Rhode Island ('University of Rhode Island', 100, 801)
Penn ('Pennsylvania State University-Penn State Erie-Behrend College', 100, 763)
Harvard ('Harvard University', 100, 343)
Brown ('Brown University', 100, 796)
Dartmouth ('University of Massachusetts-Dartmouth', 100, 366)
Princeton ('Princeton University', 100, 496)
Cornell ('Cornell University', 100, 524)
Columbia ('University of the District of Columbia', 100, 125)
Yale ('Yale University', 100, 117)
Bethune-Cookman ('Bethune-Cookman University', 100, 132)
Howard ('Howard University', 100, 129)
North Carolina A ('North Carolina A & T State University', 100, 629)
Delaware State ('Delaware State University', 100, 118)
North Carolina Central ('North Carolina Central University', 100, 634)
South Carolina State ('South Carolina State University', 100, 823)
Florida A&M ('University of South Florida-Main Campus', 78, 150)
Hampton ('Hampton University', 100, 922)
Norfolk State ('Norfolk State University', 100, 931)
Morgan State ('Morgan State University', 100, 312)
Savannah State ('Savannah State University', 100, 173)
North Dakota State ('North Dakota State University-Main Campus', 100, 649)
South Dakota State ('South Dakota State University', 100, 829)
Illinois State ('Illinois State University', 100, 202)
Indiana State ('Indiana State University', 100, 234)
Southern Illinois ('Southern Illinois University-Edwardsville', 100, 219)
Youngstown State ('Youngstown State University', 100, 687)
Northern Iowa ('University of Northern Iowa', 100, 255)
Missouri State ('Southeast Missouri State University', 100, 454)
Western Illinois ('Western Illinois University', 100, 220)
South Dakota ('University of South Dakota', 100, 830)
Albany ('SUNY at Albany', 100, 579)
Wagner ('Wagner College', 100, 602)
Monmouth ('Monmouth University', 100, 493)
St Francis ('St Francis College', 100, 570)
Bryant ('Bryant University', 100, 797)
Duquesne ('Duquesne University', 100, 729)
Robert Morris ('Robert Morris University', 100, 775)
Central Connecticut ('Central Connecticut State University', 100, 102)
Sacred Heart ('Sacred Heart University', 100, 111)
Eastern Illinois ('Eastern Illinois University', 100, 193)
Eastern Kentucky ('Eastern Kentucky University', 100, 268)
Tennessee-Martin ('The University of Tennessee-Martin', 100, 847)
Jacksonville State ('Jacksonville State University', 100, 8)
Tennessee State ('Tennessee State University', 100, 848)
Murray State ('Murray State University', 100, 273)
Southeast Missouri State ('Southeast Missouri State University', 100, 454)
Tennessee Tech ('The University of Tennessee-Martin', 78, 847)
Austin Peay ('Austin Peay State University', 100, 831)
Colgate ('Colgate University', 100, 521)
Lehigh ('Lehigh University', 100, 750)
Georgetown ('Georgetown University', 100, 128)
Lafayette ('University of Louisiana at Lafayette', 100, 290)
Holy Cross ('College of the Holy Cross', 100, 344)

Fordham ('Fordham University', 100, 538)
Bucknell ('Bucknell University', 100, 717)
Butler ('Butler University', 100, 224)
Drake ('Drake University', 100, 248)
San Diego ('University of San Diego', 100, 74)
Jacksonville ('Jacksonville University', 100, 143)
Dayton ('University of Dayton', 100, 659)
Marist ('Marist College', 100, 552)
Morehead State ('Wayne State College', 61, 468)
Davidson ('Davidson College', 100, 611)
Valparaiso ('Valparaiso University', 100, 242)
Campbell ('Campbell University', 100, 608)
Georgia Southern ('Georgia Southern University', 100, 164)
Wofford ('Wofford College', 100, 826)
Appalachian State ('Appalachian State University', 100, 605)
Chattanooga ('The University of Tennessee-Chattanooga', 100, 845)
Samford ('Samford University', 100, 13)
The Citadel ('Citadel Military College of South Carolina', 78, 808)
Furman ('Furman University', 100, 814)
Elon ('Elon University', 100, 615)
Western Carolina ('Western Carolina University', 100, 647)
Central Arkansas ('University of Central Arkansas', 100, 29)
Sam Houston State ('Sam Houston State University', 100, 875)
Southeastern Louisiana ('Southeastern Louisiana University', 100, 288)
McNeese State ('McNeese State University', 100, 283)
Stephen F Austin ('Stephen F Austin State University', 100, 880)
Northwestern State ('Northwestern State University of Louisiana', 100, 287)
Lamar ('Vassar College', 42, 601)
Nicholls State ('Nicholls State University', 100, 285)
Alabama State ('Alabama State University', 100, 3)
Jackson State ('Jackson State University', 100, 430)
Alabama A&M ('Alabama A & M University', 100, 0)
Mississippi Valley State ('Mississippi Valley State University', 100, 433)
Alcorn State ('Alcorn State University', 100, 428)
Arkansas-Pine ('University of Arkansas at Pine Bluff', 100, 25)
Southern ('University of Southern Mississippi', 100, 437)
Prairie View A ('Prairie View A & M University', 100, 872)
Texas Southern ('Texas Southern University', 100, 893)
Grambling State ('Grambling State University', 100, 279)
Eastern Washington ('Eastern Washington University', 100, 949)
Northern Arizona ('Northern Arizona University', 100, 22)
Montana ('The University of Montana', 100, 461)
Southern Utah ('Southern Utah University', 100, 900)
Montana State ('Montana State University-Billings', 100, 459)
Cal Poly ('Molloy College', 55, 555)
UC Davis ('University of California-Davis', 77, 53)
Sacramento State ('California State University-Sacramento', 100, 51)
Portland State ('Portland State University', 100, 705)
North Dakota ('University of North Dakota', 100, 648)
Weber State ('Weber State University', 100, 904)
Idaho State ('Idaho State University', 100, 182)
Northern Colorado ('University of Northern Colorado', 100, 95)
Coastal Carolina ('Coastal Carolina University', 100, 822)
Liberty ('West Liberty University', 100, 974)
Charleston Southern ('Charleston Southern University', 100, 805)
Gardner-Webb ('Gardner-Webb University', 100, 617)
Presbyterian College ('Presbyterian College', 100, 819)
VMIVMI ('Emory University', 36, 160)
Maine ('University of Southern Maine', 100, 300)
Towson ('Towson University', 100, 317)
New Hampshire ('University of New Hampshire-Main Campus', 100, 477)
Villanova ('Villanova University', 100, 787)
Richmond ('University of Richmond', 100, 936)
William ('William Peace University', 100, 638)
Delaware ('University of Delaware', 100, 119)
Stony Brook ('Stony Brook University', 100, 582)
James Madison ('James Madison University', 100, 924)
Rhode Island ('University of Rhode Island', 100, 801)
Albany ('SUNY at Albany', 100, 579)
Abilene Christian ('Abilene Christian University', 100, 852)
Incarnate Word ('University of the Incarnate Word', 100, 865)
Monmouth ('Monmouth University', 100, 493)
Charlotte ('University of North Carolina at Charlotte', 100, 632)
Houston Baptist ('University of Houston', 64, 863)
Harvard ('Harvard University', 100, 343)
Princeton ('Princeton University', 100, 496)
Dartmouth ('University of Massachusetts-Dartmouth', 100, 366)
Brown ('Brown University', 100, 796)
Yale ('Yale University', 100, 117)
Penn ('Pennsylvania State University-Penn State Erie-Behrend College', 100, 763)
Cornell ('Cornell University', 100, 524)
Columbia ('University of the District of Columbia', 100, 125)
Bethune-Cookman ('Bethune-Cookman University', 100, 132)
South Carolina State ('South Carolina State University', 100, 823)
Delaware State ('Delaware State University', 100, 118)
Morgan State ('Morgan State University', 100, 312)
North Carolina A ('North Carolina A & T State University', 100, 629)
Howard ('Howard University', 100, 129)
Hampton ('Hampton University', 100, 922)
North Carolina Central ('North Carolina Central University', 100, 634)
Norfolk State ('Norfolk State University', 100, 931)
Florida A&M ('University of South Florida-Main Campus', 78, 150)
Savannah State ('Savannah State University', 100, 173)
North Dakota State ('North Dakota State University-Main Campus', 100, 649)
South Dakota State ('South Dakota State University', 100, 829)
Youngstown State ('Youngstown State University', 100, 687)
Southern Illinois ('Southern Illinois University-Edwardsville', 100, 219)
Missouri State ('Southeast Missouri State University', 100, 454)
Illinois State ('Illinois State University', 100, 202)
South Dakota ('University of South Dakota', 100, 830)
Northern Iowa ('University of Northern Iowa', 100, 255)
Western Illinois ('Western Illinois University', 100, 220)
Indiana State ('Indiana State University', 100, 234)
Sacred Heart ('Sacred Heart University', 100, 111)
Duquesne ('Duquesne University', 100, 729)
Bryant ('Bryant University', 100, 797)
Robert Morris ('Robert Morris University', 100, 775)
St Francis ('St Francis College', 100, 570)
Central Connecticut ('Central Connecticut State University', 100, 102)
Wagner ('Wagner College', 100, 602)
Eastern Illinois ('Eastern Illinois University', 100, 193)
Tennessee State ('Tennessee State University', 100, 848)
Jacksonville State ('Jacksonville State University', 100, 8)
Tennessee-Martin ('The University of Tennessee-Martin', 100, 847)
Eastern Kentucky ('Eastern Kentucky University', 100, 268)
Murray State ('Murray State University', 100, 273)
Tennessee Tech ('The University of Tennessee-Martin', 78, 847)
Southeast Missouri State ('Southeast Missouri State University', 100, 454)
Austin Peay ('Austin Peay State University', 100, 831)
Lafayette ('University of Louisiana at Lafayette', 100, 290)
Lehigh ('Lehigh University', 100, 750)
Bucknell ('Bucknell University', 100, 717)
Colgate ('Colgate University', 100, 521)
Holy Cross ('College of the Holy Cross', 100, 344)
Georgetown ('Georgetown University', 100, 128)
Fordham ('Fordham University', 100, 538)
Butler ('Butler University', 100, 224)
Marist ('Marist College', 100, 552)
San Diego ('University of San Diego', 100, 74)
Mercer ('Mercer University', 100, 168)
Dayton ('University of Dayton', 100, 659)
Drake ('Drake University', 100, 248)
Jacksonville ('Jacksonville University', 100, 143)
Morehead State ('Wayne State College', 61, 468)
Campbell ('Campbell University', 100, 608)
Stetson ('Stetson University', 100, 151)
Valparaiso ('Valparaiso University', 100, 242)
Davidson ('Davidson College', 100, 611)
Chattanooga ('The University of Tennessee-Chattanooga', 100, 845)
Furman ('Furman University', 100, 814)
Samford ('Samford University', 100, 13)
Georgia Southern ('Georgia Southern University', 100, 164)
The Citadel ('Citadel Military College of South Carolina', 78, 808)
Wofford ('Wofford College', 100, 826)
Appalachian State ('Appalachian State University', 100, 605)
Elon ('Elon University', 100, 615)
Western Carolina ('Western Carolina University', 100, 647)
Southeastern Louisiana ('Southeastern Louisiana University', 100, 288)
McNeese State ('McNeese State University', 100, 283)
Sam Houston State ('Sam Houston State University', 100, 875)
Central Arkansas ('University of Central Arkansas', 100, 29)
Northwestern State ('Northwestern State University of Louisiana', 100, 287)
Lamar ('Vassar College', 42, 601)
Nicholls State ('Nicholls State University', 100, 285)
Stephen F Austin ('Stephen F Austin State University', 100, 880)
Jackson State ('Jackson State University', 100, 430)
Alcorn State ('Alcorn State University', 100, 428)
Alabama State ('Alabama State University', 100, 3)
Alabama A&M ('Alabama A & M University', 100, 0)
Mississippi Valley State ('Mississippi Valley State University', 100, 433)
Southern ('University of Southern Mississippi', 100, 437)
Prairie View A ('Prairie View A & M University', 100, 872)
Arkansas-Pine ('University of Arkansas at Pine Bluff', 100, 25)

Texas Southern ('Texas Southern University', 100, 893)
Grambling State ('Grambling State University', 100, 279)
Eastern Washington ('Eastern Washington University', 100, 949)
Montana ('The University of Montana', 100, 461)
Montana State ('Montana State University-Billings', 100, 459)
Idaho State ('Idaho State University', 100, 182)
Northern Arizona ('Northern Arizona University', 100, 22)
Cal Poly ('Molloy College', 55, 555)
Sacramento State ('California State University-Sacramento', 100, 51)
Southern Utah ('Southern Utah University', 100, 900)
North Dakota ('University of North Dakota', 100, 648)
Portland State ('Portland State University', 100, 705)
Weber State ('Weber State University', 100, 904)
Northern Colorado ('University of Northern Colorado', 100, 95)
UC Davis ('University of California-Davis', 77, 53)
Liberty ('West Liberty University', 100, 974)
Coastal Carolina ('Coastal Carolina University', 100, 822)
Presbyterian College ('Presbyterian College', 100, 819)
Charleston Southern ('Charleston Southern University', 100, 805)
Monmouth ('Monmouth University', 100, 493)
Gardner-Webb ('Gardner-Webb University', 100, 617)
New Hampshire ('University of New Hampshire-Main Campus', 100, 477)
Villanova ('Villanova University', 100, 787)
James Madison ('James Madison University', 100, 924)
Richmond ('University of Richmond', 100, 936)
William ('William Peace University', 100, 638)
Stony Brook ('Stony Brook University', 100, 582)
Delaware ('University of Delaware', 100, 119)
Maine ('University of Southern Maine', 100, 300)
Albany ('SUNY at Albany', 100, 579)
Towson ('Towson University', 100, 317)
Rhode Island ('University of Rhode Island', 100, 801)
Elon ('Elon University', 100, 615)
Charlotte ('University of North Carolina at Charlotte', 100, 632)
Harvard ('Harvard University', 100, 343)
Dartmouth ('University of Massachusetts-Dartmouth', 100, 366)
Yale ('Yale University', 100, 117)
Princeton ('Princeton University', 100, 496)
Brown ('Brown University', 100, 796)
Penn ('Pennsylvania State University-Penn State Erie-Behrend College', 100, 763)
Cornell ('Cornell University', 100, 524)
Columbia ('University of the District of Columbia', 100, 125)
Morgan State ('Morgan State University', 100, 312)
North Carolina Central ('North Carolina Central University', 100, 634)
South Carolina State ('South Carolina State University', 100, 823)
Bethune-Cookman ('Bethune-Cookman University', 100, 132)
North Carolina A ('North Carolina A & T State University', 100, 629)
Norfolk State ('Norfolk State University', 100, 931)
Florida A&M ('University of South Florida-Main Campus', 78, 150)
Howard ('Howard University', 100, 129)
Hampton ('Hampton University', 100, 922)
Delaware State ('Delaware State University', 100, 118)
Savannah State ('Savannah State University', 100, 173)
North Dakota State ('North Dakota State University-Main Campus', 100, 649)
Illinois State ('Illinois State University', 100, 202)
Northern Iowa ('University of Northern Iowa', 100, 255)
South Dakota State ('South Dakota State University', 100, 829)
Indiana State ('Indiana State University', 100, 234)
Youngstown State ('Youngstown State University', 100, 687)
Southern Illinois ('Southern Illinois University-Edwardsville', 100, 219)
Western Illinois ('Western Illinois University', 100, 220)
Missouri State ('Southeast Missouri State University', 100, 454)
South Dakota ('University of South Dakota', 100, 830)
Sacred Heart ('Sacred Heart University', 100, 111)
Wagner ('Wagner College', 100, 602)
Bryant ('Bryant University', 100, 797)
St Francis ('St Francis College', 100, 570)
Duquesne ('Duquesne University', 100, 729)
Robert Morris ('Robert Morris University', 100, 775)
Central Connecticut ('Central Connecticut State University', 100, 102)
Jacksonville State ('Jacksonville State University', 100, 8)
Eastern Kentucky ('Eastern Kentucky University', 100, 268)
Tennessee-Martin ('The University of Tennessee-Martin', 100, 847)
Eastern Illinois ('Eastern Illinois University', 100, 193)
Tennessee Tech ('The University of Tennessee-Martin', 78, 847)
Southeast Missouri State ('Southeast Missouri State University', 100, 454)
Tennessee State ('Tennessee State University', 100, 848)
Austin Peay ('Austin Peay State University', 100, 831)
Murray State ('Murray State University', 100, 273)
Fordham ('Fordham University', 100, 538)
Bucknell ('Bucknell University', 100, 717)
Lafayette ('University of Louisiana at Lafayette', 100, 290)
Colgate ('Colgate University', 100, 521)
Holy Cross ('College of the Holy Cross', 100, 344)
Lehigh ('Lehigh University', 100, 750)
Georgetown ('Georgetown University', 100, 128)
Jacksonville ('Jacksonville University', 100, 143)
San Diego ('University of San Diego', 100, 74)
Drake ('Drake University', 100, 248)
Dayton ('University of Dayton', 100, 659)
Marist ('Marist College', 100, 552)
Campbell ('Campbell University', 100, 608)
Morehead State ('Wayne State College', 61, 468)
Stetson ('Stetson University', 100, 151)
Valparaiso ('Valparaiso University', 100, 242)
Butler ('Butler University', 100, 224)
Davidson ('Davidson College', 100, 611)
Chattanooga ('The University of Tennessee-Chattanooga', 100, 845)
Samford ('Samford University', 100, 13)
Western Carolina ('Western Carolina University', 100, 647)
Wofford ('Wofford College', 100, 826)
The Citadel ('Citadel Military College of South Carolina', 78, 808)
Furman ('Furman University', 100, 814)
Mercer ('Mercer University', 100, 168)
VMIVMI ('Emory University', 36, 160)
Sam Houston State ('Sam Houston State University', 100, 875)
Southeastern Louisiana ('Southeastern Louisiana University', 100, 288)
Central Arkansas ('University of Central Arkansas', 100, 29)
Stephen F Austin ('Stephen F Austin State University', 100, 880)
Lamar ('Vassar College', 42, 601)
McNeese State ('McNeese State University', 100, 283)
Northwestern State ('Northwestern State University of Louisiana', 100, 287)
Abilene Christian ('Abilene Christian University', 100, 852)
Incarnate Word ('University of the Incarnate Word', 100, 865)
Houston Baptist ('University of Houston', 64, 863)
Nicholls State ('Nicholls State University', 100, 285)
Alcorn State ('Alcorn State University', 100, 428)
Alabama State ('Alabama State University', 100, 3)
Jackson State ('Jackson State University', 100, 430)
Alabama A&M ('Alabama A & M University', 100, 0)
Mississippi Valley State ('Mississippi Valley State University', 100, 433)
Southern ('University of Southern Mississippi', 100, 437)
Grambling State ('Grambling State University', 100, 279)
Prairie View A ('Prairie View A & M University', 100, 872)
Arkansas-Pine ('University of Arkansas at Pine Bluff', 100, 25)
Texas Southern ('Texas Southern University', 100, 893)
Southern Utah ('Southern Utah University', 100, 900)
Portland State ('Portland State University', 100, 705)
Montana ('The University of Montana', 100, 461)
Northern Arizona ('Northern Arizona University', 100, 22)
Eastern Washington ('Eastern Washington University', 100, 949)
Weber State ('Weber State University', 100, 904)
North Dakota ('University of North Dakota', 100, 648)
Montana State ('Montana State University-Billings', 100, 459)
Northern Colorado ('University of Northern Colorado', 100, 95)
Cal Poly ('Molloy College', 55, 555)
UC Davis ('University of California-Davis', 77, 53)
Sacramento State ('California State University-Sacramento', 100, 51)
Idaho State ('Idaho State University', 100, 182)
Charleston Southern ('Charleston Southern University', 100, 805)
Coastal Carolina ('Coastal Carolina University', 100, 822)
Monmouth ('Monmouth University', 100, 493)
Liberty ('West Liberty University', 100, 974)
Kennesaw State ('Kent State University at Kent', 63, 666)
Gardner-Webb ('Gardner-Webb University', 100, 617)
Presbyterian College ('Presbyterian College', 100, 819)
Richmond ('University of Richmond', 100, 936)
William ('William Peace University', 100, 638)
James Madison ('James Madison University', 100, 924)
Towson ('Towson University', 100, 317)
New Hampshire ('University of New Hampshire-Main Campus', 100, 477)
Villanova ('Villanova University', 100, 787)
Elon ('Elon University', 100, 615)
Delaware ('University of Delaware', 100, 119)
Maine ('University of Southern Maine', 100, 300)
Stony Brook ('Stony Brook University', 100, 582)
Albany ('SUNY at Albany', 100, 579)
Rhode Island ('University of Rhode Island', 100, 801)
East Tennessee State ('East Tennessee State University', 100, 836)
Harvard ('Harvard University', 100, 343)
Dartmouth ('University of Massachusetts-Dartmouth', 100, 366)
Penn ('Pennsylvania State University-Penn State Erie-Behrend College', 100, 763)

Yale ('Yale University', 100, 117)
Brown ('Brown University', 100, 796)
Princeton ('Princeton University', 100, 496)
Cornell ('Cornell University', 100, 524)
Columbia ('University of the District of Columbia', 100, 125)
North Carolina A ('North Carolina A & T State University', 100, 629)
Bethune-Cookman ('Bethune-Cookman University', 100, 132)
North Carolina Central ('North Carolina Central University', 100, 634)
South Carolina State ('South Carolina State University', 100, 823)
Hampton ('Hampton University', 100, 922)
Norfolk State ('Norfolk State University', 100, 931)
Morgan State ('Morgan State University', 100, 312)
Savannah State ('Savannah State University', 100, 173)
Florida A&M ('University of South Florida-Main Campus', 78, 150)
Delaware State ('Delaware State University', 100, 118)
Howard ('Howard University', 100, 129)
North Dakota State ('North Dakota State University-Main Campus', 100, 649)
Illinois State ('Illinois State University', 100, 202)
Western Illinois ('Western Illinois University', 100, 220)
Northern Iowa ('University of Northern Iowa', 100, 255)
South Dakota State ('South Dakota State University', 100, 829)
Indiana State ('Indiana State University', 100, 234)
Youngstown State ('Youngstown State University', 100, 687)
South Dakota ('University of South Dakota', 100, 830)
Southern Illinois ('Southern Illinois University-Edwardsville', 100, 219)
Missouri State ('Southeast Missouri State University', 100, 454)
Duquesne ('Duquesne University', 100, 729)
St Francis ('St Francis College', 100, 570)
Central Connecticut ('Central Connecticut State University', 100, 102)
Sacred Heart ('Sacred Heart University', 100, 111)
Bryant ('Bryant University', 100, 797)
Robert Morris ('Robert Morris University', 100, 775)
Wagner ('Wagner College', 100, 602)
Jacksonville State ('Jacksonville State University', 100, 8)
Eastern Illinois ('Eastern Illinois University', 100, 193)
Tennessee-Martin ('The University of Tennessee-Martin', 100, 847)
Eastern Kentucky ('Eastern Kentucky University', 100, 268)
Southeast Missouri State ('Southeast Missouri State University', 100, 454)
Tennessee Tech ('The University of Tennessee-Martin', 78, 847)
Murray State ('Murray State University', 100, 273)
Tennessee State ('Tennessee State University', 100, 848)
Austin Peay ('Austin Peay State University', 100, 831)
Colgate ('Colgate University', 100, 521)
Fordham ('Fordham University', 100, 538)
Lehigh ('Lehigh University', 100, 750)
Holy Cross ('College of the Holy Cross', 100, 344)
Georgetown ('Georgetown University', 100, 128)
Bucknell ('Bucknell University', 100, 717)
Lafayette ('University of Louisiana at Lafayette', 100, 290)
Dayton ('University of Dayton', 100, 659)
San Diego ('University of San Diego', 100, 74)
Jacksonville ('Jacksonville University', 100, 143)
Morehead State ('Wayne State College', 61, 468)
Marist ('Marist College', 100, 552)
Butler ('Butler University', 100, 224)
Drake ('Drake University', 100, 248)
Campbell ('Campbell University', 100, 608)
Stetson ('Stetson University', 100, 151)
Valparaiso ('Valparaiso University', 100, 242)
Davidson ('Davidson College', 100, 611)
Chattanooga ('The University of Tennessee-Chattanooga', 100, 845)
The Citadel ('Citadel Military College of South Carolina', 78, 808)
Western Carolina ('Western Carolina University', 100, 647)
Samford ('Samford University', 100, 13)
Wofford ('Wofford College', 100, 826)
Mercer ('Mercer University', 100, 168)
Furman ('Furman University', 100, 814)
VMIVMI ('Emory University', 36, 160)
McNeese State ('McNeese State University', 100, 283)
Sam Houston State ('Sam Houston State University', 100, 875)
Central Arkansas ('University of Central Arkansas', 100, 29)
Incarnate Word ('University of the Incarnate Word', 100, 865)
Northwestern State ('Northwestern State University of Louisiana', 100, 287)
Lamar ('Vassar College', 42, 601)
Stephen F Austin ('Stephen F Austin State University', 100, 880)
Abilene Christian ('Abilene Christian University', 100, 852)
Nicholls State ('Nicholls State University', 100, 285)
Southeastern Louisiana ('Southeastern Louisiana University', 100, 288)
Houston Baptist ('University of Houston', 64, 863)
Alcorn State ('Alcorn State University', 100, 428)
Alabama State ('Alabama State University', 100, 3)
Alabama A&M ('Alabama A & M University', 100, 0)
Jackson State ('Jackson State University', 100, 430)
Mississippi Valley State ('Mississippi Valley State University', 100, 433)
Grambling State ('Grambling State University', 100, 279)
Prairie View A ('Prairie View A & M University', 100, 872)
Southern ('University of Southern Mississippi', 100, 437)
Texas Southern ('Texas Southern University', 100, 893)
Arkansas-Pine ('University of Arkansas at Pine Bluff', 100, 25)

Make a list of school names with proper university names as seen in enrollment data. Fuzzwuzzy could not obtain correct matches

In [22]:
school_matches = [('Clemson', 'Clemson University'), ('Boston College', 'Boston College'), ('Florida State',
                  'Florida State University'), ('Wake Forest', 'Wake Forest University'), ('North Carolina St',
                  'North Carolina State University at Raleigh'), ('Maryland', 'University of Maryland-College Park'),
                  ('Georgia Tech', 'Georgia Institute of Technology-Main Campus'), ('Virginia Tech', 'Virginia Polytechnic Institute and State University'),
                  ('Miami', 'University of Miami'), ('North Carolina', 'University of North Carolina at Chapel Hill'),
                  ('Duke', 'Duke University'), ('Virginia', 'University of Virginia-Main Campus'), ('Nebraska', 'University of Nebraska-Lincoln'),
                  ('Missouri', 'University of Missouri-Columbia'), ('Kansas State', 'Kansas State University'),
                  ('Iowa State', 'Iowa State University'), ('Colorado', 'University of Colorado Boulder'),
                  ('Kansas', 'University of Kansas'), ('Texas', 'The University of Texas at Austin'),
                  ('Oklahoma State', 'Oklahoma State University-Main Campus'), ('Texas Tech', 'Texas Tech University'),
                  ('Oklahoma', 'University of Oklahoma-Norman Campus'), ('Texas A&M', 'Texas A & M University-College Station'),
                  ('Baylor', 'Baylor University'), ('Cincinnati', 'University of Cincinnati-Main Campus'), ('Pittsburgh', 'University of Pittsburgh-Pittsburgh Campus'),
                  ('West Virginia', 'West Virginia University'), ('Rutgers', 'Rutgers University-New Brunswick'), ('Connecticut', 'University of Connecticut'),
                  ('South Florida', 'University of South Florida-Main Campus'), ('Louisville', 'University of Louisville'),
                  ('Syracuse', 'Syracuse University'), ('Ohio State', 'Ohio State University-Main Campus'), ('Iowa', 'University of Iowa'),
                  ('Penn State', 'Pennsylvania State University-Main Campus'), ('Northwestern', 'Northwestern University'),
                  ('Wisconsin', 'University of Wisconsin-Madison'), ('Michigan State', 'Michigan State University'),
                  ('Purdue', 'Purdue University-Main Campus'), ('Minnesota', 'University of Minnesota-Twin Cities'),
                  ('Illinois', 'University of Illinois at Urbana-Champaign'), ('Michigan', 'University of Michigan-Ann Arbor'),
                  ('Indiana', 'Indiana University-Bloomington'), ('East Carolina', 'East Carolina University'), ('UCFUCF', 'University of Central Florida'),
                  ('Southern Mississippi', 'University of Southern Mississippi'), ('Marshall', 'Marshall University'),
                  ('UABUAB', 'University of Alabama at Birmingham'), ('Memphis', 'University of Memphis'), ('Houston', 'University of Houston'),
                  ('SMUSMU', 'Southern Methodist University'), ('Tulsa', 'University of Tulsa'), ('UTEPUTEP', 'The University of Texas at El Paso'),
                  ('Rice', 'Rice University'), ('Tulane', 'Tulane University of Louisiana'), ('Notre Dame', 'University of Notre Dame'),
                  ('Ohio', 'Ohio University-Main Campus'), ('Temple', 'Temple University'), ('Bowling Green', 'Bowling Green State University-Main Campus'),
                  ('Kent State', 'Kent State University at Kent'), ('Buffalo', 'University at Buffalo'), ('Akron', 'University of Akron Main Campus'),
                  ('Miami Oh', 'Miami University-Oxford'), ('Central Michigan', 'Central Michigan University'),
                  ('Northern Illinois', 'Northern Illinois University'), ('Western Michigan', 'Western Michigan University'),
                  ('Toledo', 'University of Toledo'), ('Ball State', 'Ball State University'), ('Eastern Michigan', 'Eastern Michigan University'),
                  ('TCUTCU', 'Texas Christian University'), ('BYUBYU', 'Brigham Young University-Provo'), ('Utah', 'University of Utah'),
                  ('Air Force', 'United States Air Force Academy'), ('Wyoming', 'University of Wyoming'), ('UNLVUNLV', 'University of Nevada-Las Vegas'),
                  ('San Diego State', 'San Diego State University'), ('New Mexico', 'University of New Mexico-Main Campus'),
                  ('Colorado State', 'Colorado State University-Fort Collins'), ('Oregon', 'University of Oregon'),
                  ('Arizona', 'University of Arizona'), ('Oregon State', 'Oregon State University'), ('Stanford', 'Stanford University'),
                  ('South Carolina', 'University of South Carolina-Columbia'), ('California', 'University of California-Berkeley'),
                  ('Washington', 'University of Washington-Seattle Campus'), ('UCLAUCLA', 'University of California-Los Angeles'),
                  ('Arizona State', 'Arizona State University-Tempe'), ('Washington State', 'Washington State University'),
                  ('Florida', 'University of Florida'), ('Georgia', 'University of Georgia'), ('Tennessee', 'The University of Tennessee-Knoxville'),
                  ('Kentucky', 'University of Kentucky'), ('South Carolina', 'University of South Carolina-Columbia'),
                  ('Vanderbilt', 'Vanderbilt University'), ('Alabama', 'The University of Alabama'), ('LSULSU', 'Louisiana State University and Agricultural & Mechanical College'),
                  ('Ole Miss', 'University of Mississippi'), ('Arkansas', 'University of Arkansas'), ('Auburn', 'Auburn University'),
                  ('Mississippi State', 'Mississippi State University'), ('Troy', 'Troy University'), ('Middle Tennessee', 'Middle Tennessee State University'),
                  ('Louisiana Monroe', 'University of Louisiana at Monroe'), ('Florida Atlantic', 'Florida Atlantic University'),
                  ('Louisiana', 'University of Louisiana at Lafayette'), ('Arkansas State', 'Arkansas State University-Main Campus'),
                  ('Florida Intl', 'Florida International University'), ('North Texas', 'University of North Texas'),
                  ('Western Kentucky', 'Western Kentucky University'), ('Boise State', 'Boise State University'),
                  ('Nevada', 'University of Nevada-Las Vegas'), ('Fresno State', 'California State University-Fresno'),
                  ('Idaho', 'University of Idaho'), ('Hawai', 'University of Hawaii at Manoa'), ('Louisiana Tech', 'Louisiana Tech University'),
                  ('Utah State', 'Utah State University'), ('New Mexico State', 'New Mexico State University-Main Campus'),
                  ('San Jose State', 'San Jose State University'), ('Florida State', 'Florida State University'),
                  ('Nicholls State', 'Nicholls State University'), ('Northwestern State', 'Northwestern State University of Louisiana'),
                  ('Alabama A&M', 'Alabama A & M University'), ('Alcorn State', 'Alcorn State University'), ('Jackson State', 'Jackson State University'),
                  ('Alabama State', 'Alabama State University'), ('Mississippi Valley State', 'Mississippi Valley State University'),
                  ('Prairie View A', 'Prairie View A & M University'), ('Texas Southern', 'Texas Southern University'),
                  ('Grambling State', 'Grambling State University'), ('Arkansas-Pine', 'University of Arkansas at Pine Bluff'),
                  ('Southern', 'Southern University and A & M College'), ('Montana State', 'Montana State University'),
                  ('Eastern Washington', 'Eastern Washington University'), ('Montana', 'The University of Montana'),
                  ('Sacramento State', 'California State University-Sacramento'), ('Weber State', 'Weber State University'),
                  ('Northern Arizona', 'Northern Arizona University'), ('Northern Colorado', 'University of Northern Colorado'),
                  ('Portland State', 'Portland State University'), ('Idaho State', 'Idaho State University'),
                  ('Liberty', 'Liberty University'), ('Coastal Carolina', 'Coastal Carolina University'), ('Stony Brook', 'Stony Brook University'),
                  ('Gardner-Webb', 'Gardner-Webb University'), ('VMIVMI', 'Virginia Military Institute'),
                  ('Charleston Southern', 'Charleston Southern University'), ('Presbyterian College', 'Presbyterian College'),
                  ('William', 'College of William and Mary'), ('Delaware', 'University of Delaware'), ('New Hampshire', 'University of New Hampshire-Main Campus'),
                  ('Villanova', 'Villanova University'), ('Massachusetts', 'University of Massachusetts-Amherst'),
                  ('Rhode Island', 'University of Rhode Island'), ('Richmond', 'University of Richmond'), ('Maine', 'University of Maine'),
                  ('James Madison', 'James Madison University'), ('Towson', 'Towson University'), ('Old Dominion', 'Old Dominion University'),
                  ('Georgia State', 'Georgia State University'), ('Southern Utah', 'Southern Utah University'), ('UC Davis', 'University of California-Davis'),
                  ('Cal Poly', 'California Polytechnic State University-San Luis Obispo'), ('South Dakota', 'University of South Dakota'),
                  ('North Dakota', 'University of North Dakota'), ('Penn', 'University of Pennsylvania'),
                  ('Harvard', 'Harvard University'), ('Yale', 'Yale University'), ('Brown', 'Brown University'),
                  ('Dartmouth', 'Dartmouth College'), ('Columbia', 'Columbia University in the City of New York'),
                  ('Cornell', 'Cornell University'), ('Princeton', 'Princeton University'), ('Bethune-Cookman', 'Bethune-Cookman University'),
                  ('South Carolina State', 'South Carolina State University'), ('Florida A&M', 'Florida Agricultural and Mechanical University'),
                  ('Hampton', 'Hampton University'), ('Norfolk State', 'Norfolk State University'), ('Savannah State', 'Savannah State University'),
                  ('Morgan State', 'Morgan State University'), ('Delaware State', 'Delaware State University'), ('North Carolina A', 'North Carolina A & T State University'),
                  ('North Carolina Central', 'North Carolina Central University'), ('Howard', 'Howard University'),
                  ('Northern Iowa', 'University of Northern Iowa'), ('Western Illinois', 'Western Illinois University'),
                  ('North Dakota State', 'North Dakota State University-Main Campus'), ('Illinois State', 'Illinois State University'),
                  ('Indiana State', 'Indiana State University'), ('Missouri State', 'Missouri State University-Springfield'),
                  ('South Dakota State', 'South Dakota State University'), ('Southern Illinois', 'Southern Illinois University-Carbondale'),
                  ('Youngstown State', 'Youngstown State University'), ('Central Connecticut', 'Central Connecticut State University'),
                  ('Robert Morris', 'Robert Morris University'), ('Duquesne', 'Duquesne University'), ('Bryant', 'Bryant University'),
                  ('Albany', 'SUNY at Albany'), ('Wagner', 'Wagner College'), ('Monmouth', 'Monmouth University'),
                  ('Sacred Heart', 'Sacred Heart University'), ('St Francis', 'St Francis College'), ('Southeast Missouri State', 'Southeast Missouri State University'),
                  ('Eastern Kentucky', 'Eastern Kentucky University'), ('Jacksonville State', 'Jacksonville State University'),
                  ('Murray State', 'Murray State University'), ('Tennessee-Martin', 'The University of Tennessee-Martin'),
                  ('Tennessee Tech', 'Tennessee Technological University'), ('Eastern Illinois', 'Eastern Illinois University'),
                  ('Austin Peay', 'Austin Peay State University'), ('Tennessee State', 'Tennessee State University'),
                  ('Lehigh', 'Lehigh University'), ('Colgate', 'Colgate University'), ('Holy Cross', 'College of the Holy Cross'),
                  ('Georgetown', 'Georgetown University'), ('Lafayette', 'University of Louisiana at Lafayette'),
                  ('Bucknell', 'Bucknell University'), ('Fordham', 'Fordham University'), ('Dayton', 'University of Dayton'),
                  ('Jacksonville', 'Jacksonville University'), ('Drake', 'Drake University'), ('San Diego', 'University of San Diego'),
                  ('Davidson', 'Davidson College'), ('Butler', 'Butler University'), ('Campbell', 'Campbell University'),
                  ('Marist', 'Marist College'), ('Valparaiso', 'Valparaiso University'), ('Wofford', 'Wofford College'),
                  ('Appalachian State', 'Appalachian State University'), ('Georgia Southern', 'Georgia Southern University'),
                  ('Chattanooga', 'The University of Tennessee-Chattanooga'), ('Elon', 'Elon University'), ('Furman', 'Furman University'),
                  ('Samford', 'Samford University'), ('Western Carolina', 'Western Carolina University'), ('The Citadel', 'Citadel Military College of South Carolina'),
                  ('Stephen F Austin', 'Stephen F Austin State University'), ('Mc', 'Mercer University'), ('Central Arkansas', 'University of Central Arkansas'),
                  ('Sam Houston State', 'Sam Houston State University'), ('Northwestern State', 'Northwestern State University of Louisiana'),
                  ('Nicholls State', 'Nicholls State University'), ('Texas State', 'Texas State University'), ('Southeastern Louisiana', 'Southeastern Louisiana University'),
                  ('Jackson State', 'Jackson State University'), ('South Alabama', 'University of South Alabama'),
                  ('Charlotte', 'University of North Carolina at Charlotte'), ('Hofstra', 'Hofstra University'), ('McNeese State', 'McNeese State University'),
                  ('Northeastern', 'Northeastern University'), ('UMass', 'University of Massachusetts-Amherst'), ('Winston-Salem', 'Winston-Salem State University'),
                  ('Abilene Christian', 'Abilene Christian University'), ('Incarnate Word', 'University of the Incarnate Word'),
                  ('Mercer', 'Mercer University'), ('Stetson', 'Stetson University'), ('East Tennessee State', 'East Tennessee State University')]

Convert list to a dictionary (easier for school look-ups)

In [24]:
school_matches_dict = {}

for match in school_matches:
    school_matches_dict[match[0]] = match[1]

In [25]:
combined_df[combined_df['TEAMS'] == 'Arkansas-Pine']

              TEAMS  WIN_PERCENT YEARS CAPACITY CONFERENCE AVG_ATTENDANCE
1117  Arkansas-Pine     0.454545  2009    72000        SEC          65112
1241  Arkansas-Pine     0.454545  2010    72000        SEC          68932
1364  Arkansas-Pine     0.545455  2011    72000        SEC          66990
1485  Arkansas-Pine     0.833333  2012    72000        SEC          68046
1613  Arkansas-Pine     0.181818  2013    72000        SEC          61596
1738  Arkansas-Pine     0.363636  2014    72000        SEC          66521
1864  Arkansas-Pine     0.181818  2015    72000        SEC          67326

In [ ]:
# Notes on fixes
# Navy, Army, Morehead State, Lamar, Houston Baptist, Kennessaw State have no match

In [26]:
team_check =  combined_df['TEAMS'].values
list_cross_check = [match[0] for match in school_matches]
for team in team_check:
    if team not in list_cross_check:
        print(team)

Navy
Army
Navy
Army
Navy
Army
Navy
Army
Navy
Army
Navy
Army
Navy
Army
Morehead State
Morehead State
Lamar
Morehead State
Lamar
Morehead State
Lamar
Houston Baptist
Morehead State
Lamar
Morehead State
Lamar
Houston Baptist
Kennesaw State
Morehead State
Lamar
Houston Baptist

### Work with merging enrollment data to the dataframe

In [27]:
college_enrollment_df.head()

,UnitId,Institution Name,Fall 2003,Fall 2004,Fall 2005,Fall 2006,Fall 2007,Fall 2008,Fall 2009,Fall 2010,Fall 2011,Fall 2012,Fall 2013,Fall 2014,Fall 2015,Unnamed: 15
0,100654,Alabama A & M University,6588,6323,6182,5706,5706,5124,5327,5814,4922,4853,5020,5333,5628,NaN
1,100663,University of Alabama at Birmingham,16357,16693,16572,16246,16246,16149,16874,17543,17575,17999,18568,18698,18333,NaN
2,100706,University of Alabama in Huntsville,7051,7036,7084,7264,7264,7431,7681,7614,7629,7636,7376,7348,7866,NaN
3,100724,Alabama State University,6024,5653,5469,5608,5608,5695,5564,5705,5425,5816,6075,5519,5383,NaN
4,100751,The University of Alabama,20290,20929,21793,25544,25544,27014,28699,30127,31647,33503,34752,36047,37098,NaN

Select the correct years and change column names

In [28]:
college_enrollment_df = college_enrollment_df[['Institution Name', 'Fall 2009', 'Fall 2010', 'Fall 2011', 'Fall 2012', 'Fall 2013', 'Fall 2014', 'Fall 2015']]

In [29]:
college_enrollment_df.columns = ['Institution Name', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
college_enrollment_df.head()

,Institution Name,2009,2010,2011,2012,2013,2014,2015
0,Alabama A & M University,5327,5814,4922,4853,5020,5333,5628
1,University of Alabama at Birmingham,16874,17543,17575,17999,18568,18698,18333
2,University of Alabama in Huntsville,7681,7614,7629,7636,7376,7348,7866
3,Alabama State University,5564,5705,5425,5816,6075,5519,5383
4,The University of Alabama,28699,30127,31647,33503,34752,36047,37098

Make a list of teams and years to obtain enrollment data for all schools in previous dataframe

In [30]:
teams_in_combined_df = combined_df['TEAMS'].values
years_in_combined_df = combined_df['YEARS'].values
team_year_combo = list(zip(teams_in_combined_df, years_in_combined_df))
enrollment_values = []
for entry in team_year_combo:
    if entry[0] in school_matches_dict:
        school_name = school_matches_dict[entry[0]]
        a = college_enrollment_df[college_enrollment_df['Institution Name'] == school_name][entry[1]].values
        #print(entry[0], entry[1], school_name, a[0])
    else:
        #print('NOT FOUND:   ' + entry[0])
        a = [np.nan]
    enrollment_values.append(a[0])
    
enrollment_values

[19111,
 15036,
 39785,
 7079,
 33819,
 37195,
 20291,
 30870,
 15629,
 28916,
 14350,
 24355,
 24100,
 31237,
 23581,
 27945,
 33010,
 29242,
 50995,
 23033,
 30049,
 25881,
 48702,
 14614,
 31134,
 28328,
 28898,
 37366,
 25029,
 40022,
 21016,
 19638,
 55014,
 28987,
 45185,
 19853,
 41654,
 47071,
 41052,
 51659,
 43881,
 41674,
 42347,
 27654,
 53401,
 15300,
 13776,
 16874,
 21424,
 37000,
 10891,
 4187,
 21011,
 5576,
 11464,
 nan,
 11816,
 nan,
 22647,
 36507,
 17309,
 25127,
 28881,
 25959,
 16884,
 27247,
 24424,
 24576,
 23064,
 21401,
 22893,
 8853,
 34130,
 29284,
 4620,
 12427,
 29080,
 32817,
 27241,
 28902,
 22335,
 38767,
 21950,
 18498,
 28482,
 35830,
 45943,
 38550,
 68064,
 26101,
 50691,
 34885,
 29934,
 26295,
 28482,
 12506,
 28699,
 28643,
 15932,
 19849,
 24602,
 18601,
 29328,
 25188,
 9004,
 27637,
 16361,
 12156,
 39610,
 35003,
 20712,
 18933,
 29080,
 21500,
 11957,
 20435,
 11264,
 15612,
 18526,
 31280,
 40416,
 37641,
 34376,
 14868,
 19453,
 7162,
 31006,
 15657,
 20720,
 29390,
 15016,
 24391,
 24610,
 32341,
 23588,
 28682,
 32697,
 28697,
 26476,
 23667,
 49129,
 14900,
 31637,
 51195,
 25498,
 29306,
 28823,
 20407,
 40431,
 21234,
 32283,
 38912,
 56064,
 46985,
 42180,
 29518,
 43862,
 45233,
 41924,
 20481,
 41063,
 51721,
 42464,
 56106,
 27783,
 15778,
 14192,
 17543,
 22420,
 10938,
 4185,
 38752,
 22106,
 5879,
 12144,
 nan,
 11992,
 nan,
 17472,
 25108,
 37367,
 26589,
 17706,
 29117,
 27076,
 23850,
 23085,
 25045,
 22083,
 28292,
 23565,
 9142,
 30819,
 4619,
 29187,
 33841,
 30155,
 28203,
 28688,
 12911,
 23342,
 19535,
 42451,
 29599,
 23753,
 70440,
 39086,
 35833,
 38157,
 26287,
 29599,
 49827,
 34677,
 30300,
 27108,
 12714,
 25078,
 21405,
 29451,
 30127,
 19644,
 17085,
 42197,
 28322,
 26430,
 13415,
 8801,
 28270,
 16763,
 36305,
 20897,
 28203,
 19992,
 20337,
 20932,
 11743,
 12302,
 16472,
 18600,
 29076,
 '19914',
 '7351',
 '41087',
 '34767',
 '14754',
 '37631',
 '30936',
 '24297',
 '20941',
 '16068',
 '29137',
 '15427',
 '24390',
 '23863',
 '15029',
 '27138',
 '33762',
 '51112',
 '50230',
 '29611',
 '32327',
 '27939',
 '33329',
 '29617',
 '21152',
 '39950',
 '28766',
 '25868',
 '39596',
 '20829',
 '47825',
 '42716',
 '24593',
 '29810',
 '20959',
 '52557',
 '41946',
 '45628',
 '40849',
 '56867',
 '44407',
 '42731',
 '16604',
 '13966',
 '27386',
 '17575',
 '58465',
 '22725',
 '39820',
 '4092',
 '10982',
 '6224',
 '22640',
 '12845',
 nan,
 '34101',
 '12004',
 nan,
 '26201',
 '36855',
 '27855',
 '17577',
 '17395',
 '28849',
 '27470',
 '22990',
 '22610',
 '25086',
 '22147',
 '23419',
 '28194',
 '9518',
 '19664',
 '12925',
 '30541',
 '4413',
 '30467',
 '27364',
 '28977',
 '24396',
 '19945',
 '42444',
 '36137',
 '24962',
 '27329',
 '30721',
 '39271',
 '72254',
 '31660',
 '32558',
 '39236',
 '34816',
 '30721',
 '49589',
 '12836',
 '27226',
 '30194',
 '29718',
 '31647',
 '23199',
 '25469',
 '20424',
 '18224',
 '13900',
 '21036',
 '16885',
 '44616',
 '37818',
 '8583',
 '26172',
 '26442',
 '29246',
 '11518',
 '26757',
 '27364',
 '30236',
 '21981',
 '20429',
 '18024',
 '12312',
 40695,
 20768,
 34340,
 7432,
 37248,
 14605,
 29278,
 21557,
 16172,
 31087,
 15386,
 23907,
 24378,
 27507,
 52186,
 25708,
 15364,
 32467,
 9727,
 29707,
 30748,
 27135,
 21239,
 33347,
 40434,
 21029,
 28769,
 36744,
 25483,
 41116,
 24207,
 43426,
 21215,
 48783,
 30129,
 51853,
 56387,
 45783,
 42269,
 40393,
 42133,
 44520,
 59601,
 26947,
 13708,
 22139,
 17999,
 16468,
 4326,
 10893,
 40747,
 6484,
 22749,
 12958,
 12126,
 34409,
 nan,
 nan,
 28602,
 17286,
 27402,
 28952,
 17683,
 28236,
 26581,
 21869,
 21053,
 21453,
 27626,
 24598,
 23518,
 22344,
 22565,
 30843,
 4120,
 27389,
 12903,
 30659,
 27389,
 29033,
 20426,
 18519,
 24518,
 26363,
 43485,
 35893,
 27679,
 39945,
 31288,
 73378,
 40223,
 32388,
 31945,
 34519,
 49913,
 31288,
 12710,
 34704,
 29833,
 28034,
 33503,
 30225,
 50627,
 20365,
 18794,
 24537,
 25134,
 13877,
 16688,
 8548,
 25394,
 21110,
 22554,
 37950,
 46171,
 29994,
 14636,
 28786,
 30448,
 11304,
 34225,
 12420,
 17651,
 59589,
 21444,
 34379,
 39540,
 10929,
 25911,
 48036,
 41428,
 37270,
 21480,
 40909,
 21303,
 21267,
 14309,
 37272,
 7602,
 34009,
 15467,
 31205,
 16935,
 21471,
 29127,
 28649,
 23464,
 15616,
 27292,
 26073,
 52059,
 24581,
 33111,
 9925,
 29466,
 32955,
 26968,
 49317,
 29748,
 24445,
 51526,
 43710,
 21592,
 57466,
 42677,
 46615,
 46817,
 44942,
 39794,
 13407,
 26887,
 23881,
 30759,
 18568,
 47663,
 15249,
 6628,
 38315,
 12938,
 11015,
 4597,
 23003,
 nan,
 12124,
 31123,
 24828,
 nan,
 16765,
 12024,
 16958,
 29850,
 28786,
 24932,
 28998,
 28518,
 17901,
 21138,
 20503,
 20743,
 26841,
 23447,
 24294,
 27812,
 21981,
 31186,
 12778,
 28592,
 3993,
 23060,
 31899,
 31278,
 27848,
 27848,
 20006,
 18346,
 24473,
 43762,
 27902,
 27642,
 36198,
 48702,
 40795,
 31964,
 40621,
 32077,
 32017,
 34616,
 31964,
 34536,
 12757,
 49878,
 30030,
 28435,
 24864,
 34752,
 30478,
 55697,
 20161,
 19431,
 25341,
 16646,
 13552,
 20448,
 8645,
 15065,
 20573,
 35546,
 32165,
 21059,
 35313,
 60767,
 27511,
 40914,
 37485,
 41938,
 4682,
 12603,
 11272,
 26541,
 41226,
 21857,
 21561,
 14317,
 33989,
 21492,
 7788,
 23109,
 15856,
 29135,
 28617,
 31224,
 16674,
 23732,
 16263,
 10033,
 24766,
 27261,
 51313,
 29175,
 25962,
 35158,
 27180,
 34435,
 58322,
 50081,
 37610,
 48378,
 43625,
 47040,
 46416,
 42598,
 51147,
 25006,
 29970,
 45140,
 21554,
 39752,
 13381,
 22729,
 18698,
 20171,
 24932,
 49610,
 30297,
 11225,
 6621,
 23079,
 36486,
 14792,
 12179,
 nan,
 30484,
 nan,
 16554,
 29217,
 29995,
 23962,
 28635,
 18620,
 29477,
 20611,
 20626,
 23914,
 26879,
 20655,
 22401,
 22227,
 31354,
 27662,
 3952,
 27844,
 12820,
 23179,
 33483,
 28515,
 19507,
 32713,
 28515,
 24096,
 16963,
 44784,
 37565,
 28686,
 28886,
 42236,
 41845,
 50320,
 32971,
 31515,
 32432,
 35425,
 35197,
 49459,
 30386,
 32971,
 29203,
 12686,
 36047,
 20138,
 22503,
 25912,
 31044,
 61642,
 26237,
 20517,
 17195,
 18026,
 36739,
 13144,
 15805,
 8517,
 19041,
 11702,
 15829,
 32556,
 38007,
 42067,
 36042,
 27043,
 28289,
 62953,
 42704,
 nan,
 20585,
 4671,
 11643,
 12485,
 22698,
 40830,
 21294,
 34015,
 21789,
 7837,
 14354,
 29084,
 28649,
 16825,
 15984,
 32663,
 23883,
 25034,
 27428,
 25930,
 10323,
 16787,
 28776,
 35859,
 50950,
 24146,
 35714,
 27259,
 50538,
 58663,
 43651,
 47307,
 48514,
 38140,
 49428,
 30844,
 21655,
 42716,
 25260,
 50678,
 45842,
 40472,
 20063,
 22511,
 13621,
 30380,
 49782,
 24672,
 27983,
 14551,
 12371,
 23397,
 6719,
 37299,
 12292,
 33469,
 nan,
 16908,
 29157,
 23101,
 29796,
 30067,
 19076,
 29269,
 20130,
 23529,
 20377,
 26825,
 21196,
 21824,
 4111,
 27285,
 28622,
 22086,
 30614,
 12648,
 34254,
 28600,
 32773,
 24136,
 28600,
 18865,
 16980,
 24032,
 29686,
 38189,
 45408,
 29576,
 33724,
 31592,
 41908,
 51984,
 42595,
 33056,
 50645,
 27845,
 36130,
 12567,
 29727,
 35424,
 33724,
 37098,
 23212,
 26754,
 31524,
 63813,
 20873,
 27287,
 13410,
 17932,
 20459,
 32058,
 16211,
 17765,
 15490,
 11372,
 17508,
 37979,
 8804,
 14921,
 11300,
 23001,
 12348,
 23597,
 29241,
 12711,
 27901,
 13493,
 46312,
 24681,
 3219,
 3909,
 8360,
 1500,
 1221,
 15253,
 11894,
 12068,
 27016,
 27537,
 16389,
 10375,
 4344,
 7874,
 21138,
 18971,
 21177,
 24013,
 8587,
 6427,
 3820,
 31247,
 13172,
 9617,
 8066,
 19325,
 24599,
 27651,
 8574,
 24230,
 7592,
 11593,
 5987,
 20633,
 4538,
 12274,
 6993,
 7226,
 3614,
 3609,
 5402,
 10614,
 10573,
 20350,
 12376,
 13303,
 21184,
 20371,
 14644,
 14189,
 10534,
 12679,
 12461,
 18020,
 2265,
 4783,
 3632,
 6499,
 10294,
 6023,
 2511,
 9351,
 11966,
 10847,
 16268,
 8163,
 8824,
 10188,
 10071,
 10801,
 2932,
 2837,
 16361,
 6996,
 14544,
 3673,
 16520,
 4505,
 10908,
 5653,
 3554,
 6179,
 7868,
 1743,
 5894,
 nan,
 4065,
 16968,
 5666,
 2962,
 10526,
 19086,
 4658,
 3339,
 1468,
 9429,
 12845,
 8638,
 30803,
 15151,
 16772,
 11781,
 7169,
 9247,
 5327,
 3334,
 8783,
 5564,
 2850,
 8608,
 9394,
 4992,
 3792,
 7619,
 13081,
 11534,
 15642,
 27033,
 24048,
 25197,
 13030,
 28035,
 12543,
 56625,
 8706,
 24363,
 4282,
 ...]

In [ ]:
# Notes for changes
# Arkansas-Pine
# North Carolina St - North Carolina A & T State University = should be North Carolina State University at Raleigh
# Maryland - Loyola University Maryland = should be University of Maryland-College Park
# North Carolina - North Carolina A & T State University
# Virginia ('Virginia Polytechnic Institute and State University'

In [31]:
college_enrollment_df[college_enrollment_df['Institution Name'].str.contains('Arkansas')]

,Institution Name,2009,2010,2011,2012,2013,2014,2015
23,University of Arkansas at Little Rock,13132,13176,13068,12872,12377,11645,11891
24,University of Arkansas,19849,21405,23199,24537,25341,26237,26754
25,University of Arkansas at Pine Bluff,3792,3428,3188,2828,2615,2513,2658
26,Arkansas State University-Main Campus,12156,13415,13900,13877,13552,13144,13410
27,Arkansas Tech University,8814,9815,10464,10950,11369,12002,12054
28,University of Arkansas at Monticello,3479,3638,3920,3945,3893,3854,3643
29,University of Central Arkansas,11781,11444,11163,11107,11534,11698,11754
35,Southern Arkansas University Main Campus,3226,3379,3382,3330,3404,3546,4095

Add final enrollment column to the original dataframe to merge all data together.

In [32]:
combined_df['Enrollment'] = enrollment_values

In [33]:
combined_df.head()

,TEAMS,WIN_PERCENT,YEARS,CAPACITY,CONFERENCE,AVG_ATTENDANCE,Enrollment
0,Clemson,0.642857,2009,81500,ACC,75793,19111
1,Boston College,0.615385,2009,44500,ACC,35716,15036
2,Florida State,0.538462,2009,79560,ACC,74345,39785
3,Wake Forest,0.416667,2009,31500,ACC,31791,7079
4,North Carolina St,0.416667,2009,57583,ACC,56422,33819

In [34]:
# ADD SOME MISSING ENTRIES

combined_df.at[851, 'AVG_ATTENDANCE'] = 102004
combined_df.at[1223, 'AVG_ATTENDANCE'] = 11445
combined_df.at[1348, 'AVG_ATTENDANCE'] = 12793
combined_df.at[1468, 'AVG_ATTENDANCE'] = 13574
combined_df.at[1593, 'AVG_ATTENDANCE'] = 13155
combined_df.at[1715, 'AVG_ATTENDANCE'] = 9505
combined_df.at[1837, 'AVG_ATTENDANCE'] = 10678
combined_df.at[1484, 'AVG_ATTENDANCE'] = 12241
combined_df.at[1607, 'AVG_ATTENDANCE'] = 4130
combined_df.at[1730, 'AVG_ATTENDANCE'] = 12268
combined_df.at[1855, 'AVG_ATTENDANCE'] = 12343

In [38]:
combined_df['AVG_ATTENDANCE'] = pd.to_numeric(combined_df['AVG_ATTENDANCE'], errors='coerce')
combined_df['CAPACITY'] = pd.to_numeric(combined_df['CAPACITY'], errors='coerce')
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1732 entries, 0 to 1864
Data columns (total 7 columns):
TEAMS             1732 non-null object
WIN_PERCENT       1732 non-null float64
YEARS             1732 non-null object
CAPACITY          1732 non-null int64
CONFERENCE        1732 non-null object
AVG_ATTENDANCE    1693 non-null float64
Enrollment        1701 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 188.2+ KB

In [39]:
combined_df.head()

,TEAMS,WIN_PERCENT,YEARS,CAPACITY,CONFERENCE,AVG_ATTENDANCE,Enrollment
0,Clemson,0.642857,2009,81500,ACC,75793.0,19111
1,Boston College,0.615385,2009,44500,ACC,35716.0,15036
2,Florida State,0.538462,2009,79560,ACC,74345.0,39785
3,Wake Forest,0.416667,2009,31500,ACC,31791.0,7079
4,North Carolina St,0.416667,2009,57583,ACC,56422.0,33819

Make a column of capacity of stadiums (in percent) using the attendance divided by the capacities

In [40]:
combined_df['PERC_CAPACITY'] = combined_df['AVG_ATTENDANCE'] / combined_df['CAPACITY']

In [41]:
# FIX ENTRIES THAT WERE MISLABELED

# 108 attend should be 10204 DONE
# 222 attend should be 19808 DONE
# Ole Miss capacity should be 64038
# 346 attend 18411 DONE
# 474 attend should be 13634 DONE
# 423 attend nan DONE
# 535 attend 15453 DONE
# 556 attend 15830 
# 664 attend 11966
# 680 attend 16088
# 792 attend 15381
# 810 attend 11124
# 1013 attend 10887
# 1019 Delaware cap should be 22000
# 1023 North Carolina Central cap 62000
# 1024 attend none
# 1301 south dakota state cap should be 19340
# 1180 Central Connecticut cap should be 40000
# 1395 delaware capacity should be 22000
# 1847 attend should be nan
# 1851 attend should be nan
# 1772 attend should be nan
# 1727 attend shoyld be nan
# 1726 attend nan
# 1551 attend nan
# 1521 attena nan
# 1520 attend nan
# 1424 attend nan
# 1265 attend should be 10005
# 1139 attend 13005
combined_df.at[108, 'AVG_ATTENDANCE'] = 10204
combined_df.at[222, 'AVG_ATTENDANCE'] = 19808
combined_df.at[346, 'AVG_ATTENDANCE'] = 18411
combined_df.at[474, 'AVG_ATTENDANCE'] = 13634
combined_df.at[423, 'AVG_ATTENDANCE'] = np.nan
combined_df.at[535, 'AVG_ATTENDANCE'] = 15453
combined_df.at[556, 'AVG_ATTENDANCE'] = 15830
combined_df.at[664, 'AVG_ATTENDANCE'] = 11966
combined_df.at[680, 'AVG_ATTENDANCE'] = 16088
combined_df.at[792, 'AVG_ATTENDANCE'] = 15381
combined_df.at[810, 'AVG_ATTENDANCE'] = 11124
combined_df.at[1013, 'AVG_ATTENDANCE'] = 10887
combined_df.at[1024, 'AVG_ATTENDANCE'] = np.nan
combined_df.at[1847, 'AVG_ATTENDANCE'] = np.nan
combined_df.at[1851, 'AVG_ATTENDANCE'] = np.nan
combined_df.at[1772, 'AVG_ATTENDANCE'] = np.nan
combined_df.at[1727, 'AVG_ATTENDANCE'] = np.nan
combined_df.at[1726, 'AVG_ATTENDANCE'] = np.nan
combined_df.at[1551, 'AVG_ATTENDANCE'] = np.nan
combined_df.at[1521, 'AVG_ATTENDANCE'] = np.nan
combined_df.at[1520, 'AVG_ATTENDANCE'] = np.nan
combined_df.at[1424, 'AVG_ATTENDANCE'] = np.nan
combined_df.at[1265, 'AVG_ATTENDANCE'] = 10005
combined_df.at[1139, 'AVG_ATTENDANCE'] = 13005
combined_df.at[1171, 'AVG_ATTENDANCE'] = np.nan
combined_df.at[1298, 'AVG_ATTENDANCE'] = np.nan

In [42]:
# CHANGE CAPACITIES THAT WERE ENTERED INCORRECTLY FROM SCRAPING (MULTIPLE STADIUM OPTIONS FOR SOME TEAMS
# DUE TO NAMES)

combined_df.loc[(combined_df['TEAMS'] == 'Delaware'), 'CAPACITY'] = 22000
combined_df.loc[(combined_df['TEAMS'] == 'Ole Miss'), 'CAPACITY'] = 64038
combined_df.loc[(combined_df['TEAMS'] == 'North Carolina Central'), 'CAPACITY'] = 62000
combined_df.loc[(combined_df['TEAMS'] == 'South Dakota State'), 'CAPACITY'] = 19340
combined_df.loc[(combined_df['TEAMS'] == 'Central Connecticut'), 'CAPACITY'] = 40000

In [43]:
combined_df['PERC_CAPACITY'] = combined_df['AVG_ATTENDANCE'] / combined_df['CAPACITY']

In [44]:
combined_df[combined_df['TEAMS'] == 'Delaware']

,TEAMS,WIN_PERCENT,YEARS,CAPACITY,CONFERENCE,AVG_ATTENDANCE,Enrollment,PERC_CAPACITY
1019,Delaware,0.545455,2009,22000,MEAC,20750.0,21138,0.943182
1136,Delaware,0.800000,2010,22000,MEAC,17753.0,21177,0.806955
1264,Delaware,0.636364,2011,22000,MEAC,19019.0,21489,0.864500
1395,Delaware,0.454545,2012,22000,MEAC,18542.0,21856,0.842818
1515,Delaware,0.583333,2013,22000,MEAC,18108.0,22166,0.823091
1641,Delaware,0.500000,2014,22000,MEAC,15682.0,22680,0.712818
1767,Delaware,0.363636,2015,22000,MEAC,15826.0,22852,0.719364

### Check to make sure percent capacities are all reasonable (not greater than ~120%)

In [45]:
combined_df[combined_df['PERC_CAPACITY'] >= 1.20]

,TEAMS,WIN_PERCENT,YEARS,CAPACITY,CONFERENCE,AVG_ATTENDANCE,Enrollment,PERC_CAPACITY
1806,Bryant,0.454545,2015,4400,Northeast,5493.0,3670,1.248409

### Make a final dataframe of all merged and cleaned data for pickling

In [46]:
NCAA_df = combined_df[['TEAMS', 'WIN_PERCENT', 'YEARS', 'CONFERENCE', 'Enrollment', 'PERC_CAPACITY']]
NCAA_df.columns = ['TEAM', 'WIN_PERCENTAGE', 'YEAR', 'CONFERENCE', 'ENROLLMENT', 'PERCENT_CAPACITY']
NCAA_df.head()

,TEAM,WIN_PERCENTAGE,YEAR,CONFERENCE,ENROLLMENT,PERCENT_CAPACITY
0,Clemson,0.642857,2009,ACC,19111,0.929975
1,Boston College,0.615385,2009,ACC,15036,0.802607
2,Florida State,0.538462,2009,ACC,39785,0.934452
3,Wake Forest,0.416667,2009,ACC,7079,1.009238
4,North Carolina St,0.416667,2009,ACC,33819,0.979838

In [47]:
NCAA_df[NCAA_df['PERCENT_CAPACITY'] >= 1.20]

        TEAM  WIN_PERCENTAGE  YEAR CONFERENCE ENROLLMENT  PERCENT_CAPACITY
1806  Bryant        0.454545  2015  Northeast       3670          1.248409

In [ ]:
NCAAdf_path = '/Users/murdock/Documents/PDF_files/'
NCAA_df.to_pickle(NCAAdf_path+ 'ncaa_df.pkl')